[2017-12-19 13:26] lemire commented on #197
@blasd

Interesting. I like this explanation.

I would expect maven to warn me when command line parameters are superseded... Maven is not shy about dumping megabytes of text in my console, but there seems to be nothing about dropping the command-line parameters on the floor.

[2017-12-19 14:07] richardstartin commented on #197
@lemire would now be the wrong time to suggest Gradle?

[2017-12-19 14:31] lemire commented on #197
@blasd

I appreciate this and though I am visibly impatient, please trust that my impatience is with the tool, not you. You are being generous. So is @Kineolyan.

If I could test things out quickly, not generate garbage (e.g., commit logs), not run tests when doing test runs...  I'd be a much happier camper. As it is, this is a very fragile process where I have to go through the whole thing... wai

[2017-12-19 14:42] lemire commented on #197
@richardstartin

(sounds of Daniel grinding his teeth)

Gradle? Ok...

https://gradle.org/maven-vs-gradle/

* Maven provides a very rigid model that makes customization tedious and sometimes impossible
* These and more performance features make Gradle at least twice as fast for nearly every scenario (100x faster for large builds using the build cache)
* Gradle provides a modern CLI that has discov

[2017-12-19 14:49] Kineolyan commented on #197
Hello @lemire,

As pointed in my comment, I think I can easily tune something not to run tests during the deploy phase of the release process. It only add more elements to the poms.
Regarding the release of RoaringBitmapParent, I am pretty sure but not certain that it must be released, because our dear RoaringBitmapParent marks it as its parent. If not present, all builds will fail for this pom ca

[2017-12-19 14:54] lemire commented on #197
@Kineolyan

I don't think he was serious. I am *not* considering Gradle. Someone would have to build a case for it and do the legwork.

I'll add that tools like Maven is what turn people off to command line tools. You really, really want to go back and hide in an IDE. I'm a command-like guy and I cringe when I have to issue maven commands... because it is going to be slow and fragile... I mean...

[2017-12-19 15:03] lemire commented on #197
That would be a nice contribution. We should run tests on release:prepare or release:perform, not both. It would be fine to run tests on jmh, but not the whole tests, we need to pass the ``BITMAP_TYPES=ROARING_ONLY`` and make extra sure it applies.

That's a problem. I get it that one trusted person should issue releases because you don't want the Russian mafia or the CIA to be releasing versions

[2017-12-19 15:17] lemire commented on #197
@blasd

If my credentials were/are wrong, how was I able to release 0.6.53 with ``mvn deploy``? You'd think that if your credentials are wrong, you wouldn't be able to release anything?

That is, the ``ossrh`` error did not occur when typing ``mvn deploy``, which suggests to me that it did pick the ``ossrh``  credentials... or am I wrong in this assumption?

[2017-12-19 15:31] blasd commented on #197
The share conf, we need a maven parent module. A maven parent module has to have packaging=pom. This explains why we have this additional parent pom.xml . Not having it would requiring weird additional configuration.

If you consider adding release rights to others, I guess this would go through another Sonatype Jira ticket: https://issues.sonatype.org/browse/OSSRH-8958?jql=text%20~%20%22roaringbi

[2017-12-19 15:51] blasd commented on #197
About 0.6.53 half-deployed, I am not sure on which version you have done it.

But https://github.com/RoaringBitmap/RoaringBitmap/commit/d333e418789fa104b5d31fbc6803d05d680a22cc is in 0.6.43 and you added a dependencyManagement referring ossrh: if in this situation you have done

    cd roaringbitmap
    mvn deploy

it should have suceeded deploying roaringbitmap jar in 0.6.53 with ossrh credential

[2017-12-19 15:58] lemire commented on #197
@blasd

I would try hard to discuss it with you before willingly reverting a contribution you made.

You'd have a right to be upset if I did such a thing. I try not to upset people deliberately.

Maven is not a person, however... so I swear at it... a lot...

[2017-12-19 16:08] richardstartin commented on #184
I think this can be solved another way. Your problem is not knowing the size ahead of time. When writing, you can write into a 2^16 bit bitmap buffer which you can reuse, when you need to create a container, you inspect the container and create the best container for the bitmap. See #199.

Likewise when you create containers in bitmap level AND, OR operations etc. - you create a reusable bitmap bu

[2017-12-19 16:10] blasd commented on #197
I'm very sorry @lemire . I seems my words do not express correctly my state of mind.

I feel it would be very legitimate if you wished to go back to previous configuration. I just tried to express my confusion if you would rather going back to previous way of doing things (which was certainly working smoothly), or if you were ready to spend more energy forward. I advise going forward, but I feel r

[2017-12-19 16:22] lemire commented on #197
@blasd

You are not at fault. What you did is reasonable.

I think that the way forward is for me to run fake releases whenever the pom is changed... instead of waiting. This will create more releases than I’d like... but we’ll catch problems early.

[2017-12-19 16:42] lemire commented on #184
@richardstatin

Your PR is fine but there are cases where the general strategy may not work well. Scanning a bitset is not free.

One needs to write a benchmark.

[2017-12-19 18:33] lemire opened #201 "Cannot release, maven process broken"
[code]

[2017-12-19 18:35] lemire commented on #201
This may or may not be related to https://github.com/RoaringBitmap/RoaringBitmap/pull/200 as I got the same error before.

There is something unstable in the release process.

cc @blasd

[2017-12-19 18:38] lemire commented on #201
For the record, there is plenty of available memory and disk space on the machine I am using and the problem seems to occur on different machines.

[2017-12-19 18:39] blasd commented on #201
Do you have .dump files in /target?

[2017-12-19 18:40] lemire commented on #201
I do not.

[2017-12-19 18:40] blasd commented on #201
May be related to https://github.com/junit-team/junit5/issues/801

[2017-12-19 18:46] blasd commented on #201
We may want to retry after updating surefire to 2.20.1

[2017-12-19 18:46] lemire commented on #201
@blasd

Ok. So I tried increasing the amount of memory to 2GB because... why not... and it worked... except...

[2017-12-19 18:50] lemire commented on #201
I typed...
[code]

It concluded with

[code]

But the artifact does not appear in

https://oss.sonatype.org/index.html#stagingRepositories

Nor does it seems to appear at

http://central.maven.org/maven2/org/roaringbitmap/RoaringBitmapParent/

But a release was tagged on GitHub:

https://github.com/RoaringBitmap/RoaringBitmap/releases

[2017-12-19 18:53] lemire commented on #201
So it does not look like the artifact was uploaded to the maven repository. At all.

[2017-12-19 18:53] blasd commented on #201
Skipping Nexus Staging Deploy Mojo at user's demand.

It believe I know what is going on

[2017-12-19 18:55] lemire commented on #201
Who talks like this? ``Skipping Nexus Staging Deploy Mojo at user's demand.`` Is that Martian slang or something?

[2017-12-19 18:56] blasd commented on #201
Somewhere, I read that if `<skipNexusStagingDeployMojo>true</skipNexusStagingDeployMojo>` happens on the last module, the whole deployment would be skipped ->. Either we add a module dedicated to enforce deployement (which seems very weird, but it was the suggestion in my (lost) source), or we force deploy module per module (instead of all at end) ; but I can not find back the parameter for this l

[2017-12-19 18:58] blasd commented on #201
Here, the last module in memory, which is indeed skipped. I may rather configure mvn so that memory does not produce a jar and deploy not to fail on missing jar. But I am not sure to pom would not deployed. Lol...

[2017-12-19 19:03] blasd commented on #201
https://issues.sonatype.org/browse/NEXUS-9138

[2017-12-19 19:09] lemire commented on #201
Beautiful. It is marked as "won't fix".

[2017-12-19 19:10] lemire commented on #201
Why was this not a problem before?

[2017-12-19 19:10] blasd commented on #201
Yeah ;).

We may try `<skipLocalStaging>true</skipLocalStaging>`

[2017-12-19 19:25] blasd commented on #201
Before there was only 1 module.

[2017-12-19 19:30] blasd commented on #201
I consider introducing a profile so that, only at release:perform, a restricted set of modules is considered (i.e. only Parent and RoaringBitmap). It will have to wait for tomorrow

[2017-12-19 19:39] lemire commented on #201
In releases RoaringBitmap-0.6.59   and  RoaringBitmap-0.6.58, I am pretty sure we had several modules.  But don't answer... I am not sure I want to understand. My brain could explode.

[2017-12-19 20:24] Kineolyan commented on #201
If this is really an issue, we can use the initial workaround made by @lemire when first attempting to fix the build.
The release profile can redefine the submodules, so only _RoaringBitmap_ is released. This way, there is nothing not to deploy.
I will try something in that direction.

[2017-12-19 20:46] Kineolyan commented on #201
Hello guys,

I can offer you [this change](https://github.com/RoaringBitmap/RoaringBitmap/pull/202), tested up to release:prepare.
It is not much, you can take the change directly in your branch if you prefer to tweak it.
It is not much, but the goal was to workaround the issue spotted by @blasd, about nexus requiring that at least the last module be released. This way, only modules to released ar

[2017-12-19 21:02] lemire commented on #196
@richardstartin

Yes, the PR is interesting because it is simple, lends itself to high performance... there are possible limitations... like the fact that it is hard to combine queries and updates... but that's maybe ok. So I think we are *maybe* converging toward a solution that is much better than what I imagined *if* the Pinot problem is a good fit.

@kishoreg : I suggest you have a look at the

[2017-12-19 21:43] richardstartin commented on #196
That PR doesn't set out to solve Pinot's problem, it provides a mechanism to speed up unsorted writes by ~20x, but followed on from this discussion. I don't think the cache idea I proposed could work, or that it has been particularly helpful to developing a design here (I retract the proposal).

If the approach taken in #199 is relevant to solving this problem feel free to "optimize the hell out o

[2017-12-20 16:54] lemire commented on #196
@richardstartin

I am aware of why you wrote it... and to be clear, I think your implementation is quite fast in many cases... in fact, you have hard numbers... but I mean that we can optimize it for the Pinot context... if we know more about their needs.

In any case, it is one possible route that @kishoreg  might want to review.

[2017-12-23 03:32] lemire commented on #201
Ok. So here is the latest. There is no longer any ``Skipping Nexus Staging Deploy Mojo at user's demand`` and the tool claims that the jar files get uploaded. It does not appear, however, that the maven repository syncs the artifact...

http://central.maven.org/maven2/org/roaringbitmap/RoaringBitmap/

But this can take many hours, so who knows whether it succeeded? (Isn't that a great design?)

On

[2017-12-23 03:33] lemire commented on #201
Someone should tell the maven folks that it makes no sense whatsoever to have the tool output millions of lines.

[2017-12-23 04:19] lemire commented on #201
@blasd @Kineolyan

So the bug remains, one might guess. It only has become more mysterious. The command completes, it pretends to have uploaded the jars, the jars appear to have been uploaded, but I cannot release them because they don't appear in my oss.sonatype.com account.

So the latest jars don't appear on the maven repository... (look for RoaringBitmap-0.6.65)

http://central.maven.org/maven

[2017-12-23 08:29] blasd commented on #201
@lemire to check actual deployments of artifacts, I advise crafting the path by hand  :[http://central.maven.org/maven2/org/roaringbitmap/RoaringBitmap/0.6.65/RoaringBitmap-0.6.65.pom](url) seems OK

About auto-release, it is expected given by the plugin config `autoReleaseAfterClose=true`:

            <plugin>
                <groupId>org.sonatype.plugins</groupId>
                <artifactId>ne

[2017-12-23 14:16] lemire commented on #201
@blasd

Well, it is not intuitive to me what "autoReleaseAfterClose" means. That might be that if you close, it will release... but what does "closing" means? In the UI, there is a close action which must normally be followed by a "release" action... so I could have expected that only the last step (release) was automated.

I'm not going to complain because I really hated having to log into the UI

[2017-12-23 14:16] #201 closed

[2018-01-05 22:53] kishoreg commented on #196
Happy New Year!

Good to see some great results for OrderedWriter. We might end up using it in Pinot in other scenarios.

Coming back to my original requirement, we will need some more changes.

- The and/or operations on bitmap need to consider both the underlying roaring bitmap and the latest container.
- chooseBestContainer should have an option to invoke a custom implementation (this is where

[2018-01-09 17:40] lemire commented on #196
@kishoreg

Please see the following prototype: [HybridRoaringBitmap.java](https://github.com/RoaringBitmap/RoaringBitmap/blob/pinot/hybrid/roaringbitmap/src/main/java/org/roaringbitmap/buffer/HybridRoaringBitmap.java). It is on a separate branch.

[2018-01-09 18:29] lemire commented on #196
@kishoreg  The general idea is that we can already, easily, distinguish between the mapped and unmapped containers. Of course, mixing off-heap and heaped containers means that we need to check whenever we try to modify a container whether it is allowed. My proposal is to throw an exception when we do try to modify an off-heap container. Then it is easy to add a method that goes through the unmappe

[2018-01-10 02:37] lemire commented on #194
This is still open. It would be great if someone would volunteer. It does not look like I'll get to it anytime soon.

[2018-01-17 06:13] AlstonWilliams opened #203 "method select(j) throws Exception"
Version: 0.6.51
JDK: 1.8.0_151
JUnit: 4.10

I have initialized a **RoaringBitmap** instance, and called method **add(3)**.  And the result I got from method **last()** is also **3**. But when I called **select(3)** to get the value of this position, it throws a en exception **java.lang.IllegalArgumentException: select 3 when the cardinality is 1**. I read the source code of method **select()**, bu

[2018-01-17 06:21] richardstartin commented on #203
Hi, select(i) gives you the ith element. So if you call select(0) it should give you 3, and select(1) will also throw.

[2018-01-17 14:57] lemire commented on #203
Thank you. I have just committed code that will return a more expressive error message.

@richardstartin  is right.

A selection is a technical term that refers to the ith value. That's also what the javadoc indicates. I agree that the error message was suboptimal... I think  I improved that.

Myself, I am often confused between rank and select. It is possible that you are looking for the "rank" m

[2018-01-17 14:59] lemire commented on #203
I'm closing this issue, please reopen if you disagree.

[2018-01-17 14:59] #203 closed

[2018-01-21 11:58] AlstonWilliams commented on #203
Hello,

      I think maybe there is a misunderstanding.

      I always think Bitmap is an bit array, which means that, if I call method `add(3)`, then the element at index 0, 1 and 2 should be 0, but the element at index 3 should be 1.

      So, I think I should get 1 when I call `select(3)`. But get 0 when I call `select(0/1/2)`.

      Maybe just store the element whose value is 1 to reduce t

[2018-01-21 13:30] lemire commented on #203
If you want to know whether '3' is part of the set after calling 'add(3)', you can call 'contains(3)'.

[2018-01-26 10:47] malin177 opened #204 "ArrayContainer optimize"
in ArrayContainer.writeArray(DataOutput out)，it is that：

I propose to update as：

[2018-01-26 10:54] malin177 commented on #204
in ArrayContainer.writeArray(DataOutput out)，it is that：

I propose to update as：

[2018-01-26 18:17] lemire commented on #204
Good catch. Fixed in last commit.

[2018-01-26 18:17] #204 closed

[2018-01-26 20:13] malin177 commented on #204
It may need to updated
out.writeShort,
not is write.
What I meant was give the concrete implementation to a subclass.
Ofcourse,if the test succeeds,it is ok and i will test!

[2018-01-26 21:48] lemire commented on #204
Yes, thanks. It was typo which I fixed.

[2018-01-31 01:38] lemire commented on #44
@yichuan1118 I expect ``forEach`` to be generally faster, though the relative benefits might be less for regular bitmaps. Of course, it is easy to tell whether it is the case in the use cases you care about by running a benchmark.

[2018-01-31 16:02] lemire opened #205 "add fuzz testing"
For increased reliability, we should add extensive fuzz testing.

[2018-01-31 16:11] richardstartin commented on #205
This might be easier to do properly with Java 8 support.

[2018-02-01 16:06] lemire opened #207 "Dropping support for JDK 7 in upcoming releases"
We are about to drop support for JDK 7.

This seems uncontroversial at this point.

* AWS supports java 8: https://aws.amazon.com/sdk-for-java/
* So does Google: https://cloud.google.com/appengine/docs/java/
* Apache Spark requires Java 8.
* Druid dropped support for java 7 it seems: https://github.com/druid-io/druid/blob/master/.travis.yml
* Kylin is on java 8 : https://github.com/apache/kylin/bl

[2018-02-01 16:21] maciej commented on #207
@lemire having Java 8 would open new possibilities for solving #42 (parallelization). Java 8 introduces [_CompletableFuture_](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html) which might be helpful.

[2018-02-01 16:27] maciej commented on #42
I'm currently working on porting my Go implementation of _Parallel Aggregations_. The work-in-progress patch set is available [here](https://github.com/RoaringBitmap/RoaringBitmap/compare/master...maciej:par-poc).

Before submitting a PR I plan to do the following:
- [ ] improve test coverage for both _Buffer_ and non-_Buffer_ aggregation versions
- [ ] introduce benchmarks on real-roaring-dataset

[2018-02-01 16:52] kishoreg commented on #207
Pinot depends on Hadoop to for batch data ingestion and it's not clear to me that all Hadoop users have moved on to Java 8+. We would like to follow the major Apache projects such as Hadoop, Hive, Kafka etc. Do we know if they have dropped support for Java 7

[2018-02-01 17:08] lemire commented on #207
@kishoreg

[Hadoop requires Java 8 or better](https://github.com/apache/hadoop/blob/trunk/pom.xml#L151-L153)

Apache Hive no longer seems to support Java 7:

* [HIVE-16281: Upgrade master branch to JDK8 ](https://github.com/apache/hive/commit/c3aec12363b2e81d164fd97363a3eef966f50cd0)

[Lucene/Solr trunk moved to Java8](http://yonik.com/switch-java7-java8/).

[Kafka 3.0.0 supports Java 8. It does n

[2018-02-01 17:14] kishoreg commented on #207
That's great.  I will check with Uber team as well since they were on JDK 7 some time back. We will make the changes to Pinot to drop support for java 7.

[2018-02-01 18:42] lemire commented on #207
Ok. I think we are safe enough.

[2018-02-01 18:42] #207 closed

[2018-02-02 09:50] richardstartin commented on #42
@maciej Given that JDK8 is now available, I think it would be nice to implement a spliterator based approach, and provide a facility to execute inside a provided executor service.

[2018-02-02 10:56] maciej commented on #42
@richardstartin thank you for pointing me to _Spliterator_! I'll investigate that approach as well!

[2018-02-02 11:13] okrische commented on #42
There are specific utilities in Java8 for creating these Spliterators, especially those for primitives. It would be soooo nice to split them over the containers.

[2018-02-02 16:02] richardstartin commented on #42
I knocked up this straw man Java 8 style [implementation](https://github.com/RoaringBitmap/RoaringBitmap/compare/master...richardstartin:parallel). It's not been jcstressed but it does produce the same results as `FastAggregation` with random inputs.

[2018-02-02 17:15] maciej commented on #42
@richardstartin your code is much prettier! Have you tried benchmarking it? Having JMH benchmarks using data from _real-roaring-dataset_ would be great.

I've used it in the Go implementation [roaring#137](https://github.com/RoaringBitmap/roaring/pull/137).

[2018-02-02 18:09] richardstartin commented on #42
The interesting thing is the rotate method, which is effectively a bit slice index. Using a `TreeMap` for this might not be the best idea, but it has its own ordered partitioning spliterator. Were you to implement an efficient bit slice index, you could implement a partitioning spliterator and recombine it into a single bitmap sequentially as in the example code.

[2018-02-02 20:17] richardstartin commented on #42
I did some quick benchmarking. I don't think the approach I have put forward is good - the cost of the rotation massively outweighs the actual aggregation, though the aggregation itself is fast. It's possible that better data structures would improve rotation performance, but I think it's a losing battle. On the other hand, if you were instead using the transposed form of the bitmaps you wanted to

[2018-02-02 22:26] lemire commented on #205
@richardstartin  Can we close this?

[2018-02-02 22:29] lemire opened #210 "Should we benchmark off-heap bitmaps?"
We do benchmark and test off-heap bitmaps in some specific benchmarks:

https://github.com/RoaringBitmap/RoaringBitmap/blob/11fc14b27b674fbb721104630812af248dc75b02/jmh/src/main/java/org/roaringbitmap/BasicBenchmark.java

However, it used to be that it was the way we tested all immutable roaring bitmaps. Then we moved to testing in-heap  ByteBuffer-based bitmaps. See commit https://github.com/Roar

[2018-02-03 08:32] richardstartin commented on #42
I take the last comment back. Removing some obvious inefficiencies from the reduction methods and `OR` ends up being up to 8x faster on an 8 core machine. With the rotation.

Parallel `AND` is much slower than a single threaded implementation. Intersections rapidly cut down the size of the problem meaning most of the work parallelising would just be wasted unless you figure out the intersection be

[2018-02-03 10:40] richardstartin commented on #205
I'd leave it open. There are things that aren't fuzz tested yet (most obviously anything involving mutated bitmaps).

[2018-02-04 13:41] richardstartin opened #212 "More lazy container operations"
I think it would be faster to evaluate circuits containing `and`s, `andnot`s and `xor`s if these could be done laziliy, in order to skip any bitmap cardinality calculations of intermediate results. A typical use case would be implementing a container-wise implementation of the logic [here](https://github.com/richardstartin/isometric/blob/master/index/src/main/java/com/openkappa/isometric/index/bit

[2018-02-06 22:03] lemire commented on #42
Relevant to this issue: we have now moved to Java 8.

c.c. @okrische

[2018-02-06 22:10] lemire commented on #42
@richardstartin

I don't think intersections (``AND``) is a good low-hanging fruit because it is already so fast. The real pain comes from unions (``OR``), mostly.

[2018-02-06 22:14] lemire commented on #205
Leaving open.

[2018-02-06 22:51] richardstartin commented on #42
@lemire Indeed. That's the point I'm making.

[2018-02-06 22:58] lemire commented on #212
I think we optimized unions (``or``)  because that's a common use case, and it is a case where we can expect huge gains. As discussed elsewhere, intersections are already fast in many instances, so the expected gains are less.

Of course, if you are doing a circuit evaluation where you mix and match various operations (and, or, xor, andnot), then it is a different story.

[2018-02-08 12:49] blasd commented on #210
This change was done on purpose regarding performance. In `org.roaringbitmap.realdata.wrapper.BitmapFactory.toByteBuffer(Bitmap)`, we could rely in `java.nio.ByteBuffer.allocateDirect(int)` to easily rely on a direct ByteBuffer still keeping good performance as we would not rely on the FileSystem.

I can open a PR with this change if we decide we should benchmark off-heap bitmaps, or maybe we shou

[2018-02-08 17:37] lemire commented on #210
I am personally grateful to you for the faster tests. I hate slow software in general. ;-)

I don't know what the answer is... but I think we can be worried that we are adopting code changes based on incomplete performance benchmarks. I am not "worried sick" about it, but I think it is a limitation we should keep in mind and maybe fix.

I think that is safe as per the specification.

[2018-02-09 22:31] richardstartin commented on #212
If a PR is welcome for this I will implement these methods soon.

[2018-02-09 22:32] lemire commented on #212
Welcome!

[2018-02-09 22:36] richardstartin opened #213 "Are the next N elements set?"
I am using `Container.forEach` for aggregations over circuits in a toy project. The code isn't as fast as it could be because the lambda `IntConsumer` typically won't inline. Even simple numeric code doesn't vectorise in this case. In this context I have a page consisting of, say, a `double[]`. If I know the next 128 bits are set, I can iterate directly on the `double[]` and the code is likely to

[2018-02-09 22:59] richardstartin commented on #212
Is this megamorphism evasion?

[code]

[2018-02-10 01:42] lemire commented on #212
I don't think so. We don't just cast the types... look carefully. It could be implemented more elegantly, but ultimately, we have a 3x3 matrix mapping containers to functions... so it is going to be equivalent to this.

[2018-02-10 01:56] lemire commented on #213
The highest performance should probably be achievable by using "container-aware" iterators. That is, instead of calling your function for each integer, we call it for each container. Of course, your function has to "know" about container types. And then we have the "public API" problem...

I think we have ranged add, remove and flip... but not "contains". It would make sense to add it.

Is there a

[2018-02-10 14:24] richardstartin commented on #213
OK. The crunch is that `forEach` style is not a countable iteration strategy, will only inline in the best case (probably in a microbenchmark), and this effect is more observable for compressed data. You can do much better by iterating over 256 bit chunks. Once you have realistic programmatic usage patterns, the difference is stark, but it is sensitive on particular data sets and sort orders. Here

[2018-02-10 16:13] lemire commented on #213
Thanks for documenting the issue. I think I understand the need for something better... but I am now thinking about how to solve the issue in a practical manner for most users without exposing more of our internals than needed.

I am not sure how containsRange solves the problem in this case. I mean... it might solve a performance issue if you are hacking deep in the code... but it does little for

[2018-02-10 17:04] richardstartin commented on #213
Rather than hacking deep in the code, I am using `Container` in a different data structure outside of this project, because I am unaware of a better 16 bit bitset implementation. Would you discourage this? In any case, the idea is if there is a contiguous range, interaction with `Container` can be replaced with a for loop which doesn't touch the `Container`.

[2018-02-11 16:18] lemire commented on #213
Ok. I think it is clearer now.

So we would like to have a containsRange method. This is a good idea.

[2018-02-11 20:53] richardstartin commented on #213
At the same time, I see it as being slightly problematic, because if I were to implement it, it would be for my own benefit and it wouldn't be for a use case within this library. It's also only half the solution to my problem: there needs to be a way to iterate over an N bit range too, in case the range isn't dense. Still, I think there must be faster ways to extract bits from bitmaps than are cur

[2018-02-14 10:32] richardstartin commented on #213
It was possible to double the throughput of vectorisable calling code when iterating over bitmaps composed of all three container types by implementing `containsRange` with a series of precomputed `RunContainer`s containing disjoint 256 bit masks, and calling `PeekableShortIterator.advanceIfNeeded` whenever the fast path is taken.

[2018-02-14 12:07] lemire commented on #213
Noted.

[2018-02-19 09:11] Crystark opened #220 "Missing artefacts in maven central"
I see 0.7.0 is on maven central but not 0.7.1.
Any chance you can release it ?

Thanks

[2018-02-19 17:19] lemire commented on #220
Fixed... thanks.

[2018-02-19 18:49] richardstartin commented on #220
[Is it?](https://mvnrepository.com/artifact/org.roaringbitmap/RoaringBitmap)

[2018-02-19 20:17] blasd commented on #220
Yes: [http://central.maven.org/maven2/org/roaringbitmap/RoaringBitmap/0.7.1/RoaringBitmap-0.7.1.pom](url)

mvn-central webpage needs more hours to refresh itself.

[2018-02-19 20:20] richardstartin commented on #220
My bad!

[2018-02-23 03:04] lemire opened #221 "Evaluate performance of a bitmap.NextMany() functionality"
It appears that we are getting good performance in Go with a bitmap.NextMany() function, to iterate in bulk over set values.

https://github.com/RoaringBitmap/roaring/pull/150

[2018-02-23 03:04] lemire commented on #221
c.c. @richardstartin

[2018-02-23 09:10] ppiotrow opened #222 "RoaringBitmapParent artefact published"
https://mvnrepository.com/artifact/org.roaringbitmap/RoaringBitmapParent
Should this be really published?

[2018-02-23 23:27] lemire commented on #222
I have a whole nasty rant against this artefact

https://github.com/RoaringBitmap/RoaringBitmap/issues/197

I think it is ugly and smells like a hack.

But we have very smart folks working on this library and they have me convinced that it is the way to go.

So that’s where we stand.

If you want to argue against this artefact, you’ll need to review and rebut the case for its addition.

It was not

[2018-02-23 23:27] #222 closed

[2018-03-07 14:02] lemire opened #223 "Extend the experimental comparison between the parallelization strategies for AND, XOR and OR queries to assess performance"
We recently adopted parallelized functions for the aggregations of bitmaps, e.g.,  ``ParallelAggregation.or``. See https://github.com/RoaringBitmap/RoaringBitmap/pull/211

Optimization in such cases is a multidimensional problem, but at least for ``buffer`` bitmaps, it seems that there might be room for better or different trade-offs. However, we lack hard data at the moment.

What complicates mat

[2018-03-07 14:29] richardstartin commented on #223
Some big improvements weren't ported over to the buffer package before merge, which especially apply to skewed aggregations. This is a case of copy and paste, which I will issue another PR for, not for it necessarily to be merged, but for @ppiotrow to run his private benchmark against.

I'd also caution aiming for one "best" implementation.

[2018-03-07 14:41] lemire commented on #223
Right. But sometimes, when we understand better the trade-offs, we can offer different strategies. It is possible to offer more than just one function for each task.

[2018-03-07 15:01] richardstartin commented on #223
I agree.

Here are the key overlaps for the data sets used for benchmarking currently. Each number is how many bitmaps in the aggregation have a container at a given key.

[code]

This can be calculated with the following Java:

[code]

For the sake of my curiosity, I would be fascinated to know these statistics from the aforementioned benchmark. Knowing this, and also the ratio of `RunContainer`,

[2018-03-07 15:30] ppiotrow commented on #223
The statistics for both benchmarks' `or` queries.
https://gist.github.com/ppiotrow/b5597ec98e1b87964389e2c102bff442

How would you like me to print container types statistics?

[2018-03-07 15:40] richardstartin commented on #223
Interesting, the aggregation is extremely sparse and narrow.

WRT container types, I don’t think it matters how it’s printed. Percentage per input bitmap? The point is, you can simulate your workload like this in about 20 mins without releasing data.

[2018-03-07 15:49] richardstartin commented on #223
Am I right in thinking that a lot of the time you aren’t really aggregating containers, you’re really just appending them to an output? Some of those arrays are virtually all 1s with a handful of 2s and 3s. I think you could do this quickly on a single thread.

[2018-03-07 16:08] ppiotrow commented on #223
Statistics of containers types per each OR operation
https://gist.github.com/ppiotrow/0cae260c61a49eba42df7a81cad2a9b4

Regarding 1s I think you're right. It would be faster to aggregate in the single thread. However as a simple RB user I don't have knowledge when to use parallel and when single threaded.

[2018-03-07 16:17] richardstartin commented on #223
@ppiotrow Frankly, I think you're presenting a degenerate case. Nevertheless, it exists. Perhaps someone should think of a way to handle it. Please benchmark your implementation on data sets where there is a significant level of overlap and therefore parallelisble work.

[2018-03-07 22:24] lemire opened #225 "Avoid double copy in in-place array OR"
This code in in-place OR within the ArrayContainer class involves a duplicate copy:

[code]

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringbitmap/src/main/java/org/roaringbitmap/ArrayContainer.java#L658-L661

It also occurs in the iadd method. It is also possible that the remove method has duplicate copies.
We should hunt down such code.

[2018-03-08 06:30] richardstartin commented on #223
@ppiotrow @maciej

Let me know if the code at this [branch](https://github.com/maciej/RoaringBitmap/tree/par-poc) is the code you're benchmarking. If it is, have you tested that it produces the same output as `BufferFastAggregation` for a range of bitmaps? I just tried (renaming the class to avoid name clashes) and I don't think the code produces correct output: [see this test](https://github.com/

[2018-03-08 07:27] ppiotrow commented on #223
Morning @richardstartin , it's clear that benchmark `A` is what we don't want to parallelise but would be great to detect it during calculations. Benchmark `B` however looks like the perfect scenario but it was slower than `Maciej's (parr.OR)` implementation.
Today I'll build the new improved code for buffered bitmaps and rerun the benchmarks and verify the cardinality for both approaches.

[2018-03-08 07:41] richardstartin commented on #223
I fixed an unsigned error in the code on the branch and benchmarked against the "official" implementation on a 4 core/8 hyperthread machine. It's consistently a lot worse.

Benchmark | (dataset) | Mode | Cnt | Score | Error | Units | Ratio
-- | -- | -- | -- | -- | -- | -- | --
ParallelAggregatorBenchmark.bufferParallelOr | census-income | avgt | 5 | 340.713 | 232.272 | us/op | 1
ParallelAggregator

[2018-03-08 07:43] ppiotrow commented on #223
Looks great, I really hope that your implementation rules. I'll have time for that in few hour from now.

[2018-03-08 07:49] richardstartin commented on #223
Sorry but I think you are personalising this issue. This isn’t about “my” code versus “maciej’s code“ - this is about the fastest implementation across a range of reproducible benchmark scenarios. You have reported an unverifiable result with a workload you can’t share or describe. If you could provide a public benchmark which reproduces the reported behaviour without revealing trade secrets, that

[2018-03-08 07:51] ppiotrow commented on #223
I didn't plan to make it personal, just a naming shortcut. I agree we are looking for the fastest solution. I'll benchmark it again on my machine soon. Regarding sharing the bitmaps I don't think it is possible.

[2018-03-08 08:00] richardstartin commented on #223
I don't think it's a question of sharing the bitmaps, it's a question of writing the simplest benchmark scenario that can reproduce the issue, and sharing it for the sake of better benchmarking.

[2018-03-08 10:13] ppiotrow commented on #223
After using the code from the results improved twice for benchmark `B` and both are at the same level as the compared implementation. For me it is green light to switch. We also have the same results in cardinality.
[code]

What about parallel `And`? I think you mentioned that there is no performance gain in parallel approach.

[2018-03-08 10:55] richardstartin commented on #223
The "container-parallel" code on that branch is level with master, it is forked from the "bitmap-parallel" [branch](https://github.com/maciej/RoaringBitmap/tree/par-poc) with a couple of bug fixes in the bitmap parallel implementation.

Here are some benchmark results of the bitmap-parallel implementation. They are available to you to run. If you have some decent hardware, it would be interesting

[2018-03-08 12:33] ppiotrow commented on #223
I confirm that the AND is indeed faster with single threaded benchmarks. I've run them on the benchmark machine from @lemire .

[2018-03-09 08:07] ppiotrow commented on #220
I can't find versions `0.7.6` and `0.7.7` https://repo.maven.apache.org/maven2/org/roaringbitmap/RoaringBitmap/

[2018-03-09 14:04] lemire commented on #220
I am aware. The maven repo times out. Investigating.

[2018-03-09 15:25] lemire commented on #220
I flushed them out manually. They should appear online soon.

There seems to be a non-trivial amount of hacking involved. This is discouraging.

[2018-03-09 15:25] #220 closed

[2018-03-09 18:37] richardstartin commented on #221
I took a look. Is the idea to write the next `n` elements onto a fixed length `int[]`, instead of one call to `next()` for each value? I think that would be quick to prototype and should be extremely fast if you just need to get hold of the integers quickly. But there's an alternative aspect to this which is what the calling code does. If the next `n` integers are scattered, some code may not prof

[2018-03-09 22:13] lemire commented on #221
@richardstartin

Yes.

Even if it works fast, it still not going to be appropriate for all applications. It would be an option the developer can take.

[2018-03-10 10:21] richardstartin opened #228 "JUnit performance tests"
There seem to be various performance tests in unit tests. These don't just produce unreliable results, they skew coverage metrics. I suggest we delete them.

[2018-03-10 16:24] lemire commented on #228
Can you be more specific regarding your proposal?

[2018-03-11 10:56] richardstartin commented on #228
Yes - I suggest removing any test claiming to be a performance test (a few do, and some don't make any assertions at all) to the jmh module.

I have submitted a dummy PR to observe the impact of removing the tests called "perfXXX" or "performanceXXX". Things like memory stability can be better measured with `-prof gc` too.

My motivation is build speed. On that note, and it's a much bigger factor

[2018-03-12 10:23] ppiotrow commented on #223
The canary release of app with v. 0.7.8 shows very similar performance results as ones with comparable implementation. IMHO the issue #223 is resolved.

[2018-03-12 10:40] richardstartin commented on #223
@ppiotrow that’s great news. Still, this has been at the back of my mind. If you have short fat aggregations (keys overlap, few keys per bitmap, lots of bitmaps) a bitmap-parallel implementation should be profitable for both AND and OR. If you have many overlapping keys, it’s terrible. I just don’t think there is a test dataset short and fat enough with enough overlapping keys to demonstrate this,

[2018-03-12 18:20] lemire commented on #223
Following @ppiotrow's comment, I am closing this issue.

[2018-03-12 18:20] #223 closed

[2018-03-16 02:41] amitdesai03 commented on #225
Hi Lemire, I am new to open source and wanted to participate. My recent project involved heavy use of roaring bitmap and have been exploring internals of it for while. If its ok with you, i would love to take stab at fixing this.

[2018-03-16 03:08] lemire commented on #225
That's an excellent idea. Go ahead and prepare a pull request.

[2018-03-16 06:30] amitdesai03 commented on #225
Appreciate your welcome gesture for newbies. I have submitted PR. Please review. I did run all tests and benchmarks, but not sure where to see performance to compare.

[2018-03-17 00:34] lemire commented on #225
@amitdesai03  Looking at your code, I don't think you are such a newbie.

[2018-03-17 01:00] amitdesai03 commented on #225
@lemire thanks, I have been developer for decade now, just new to open source :)
Also really admire the work you guys have done with roaring. Lot to learn, just looking at it.

[2018-03-17 01:18] lemire commented on #225
@amitdesai03

Yes. That's more like what I expected.

There is still much to improve in Roaring.

[2018-03-17 01:19] lemire commented on #225
I'll open a separate issue for iadd.

[2018-03-17 01:19] #225 closed

[2018-03-17 01:22] lemire opened #231 "Avoid double copy in in-place array add"
This code in in-place add within the ArrayContainer class involves a duplicate copy:

    if (newcardinality >= this.content.length) {
      increaseCapacity(newcardinality);
    }
    System.arraycopy(content, indexend, content, indexstart + rangelength, cardinality - indexend);

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringbitmap/src/main/java/org/roaringbitmap/ArrayContaine

[2018-03-17 06:07] amitdesai03 commented on #231
This one was tricky to implement.
Here is gist which passes all tests.
I am not sure how to run benchmark against it.

https://gist.github.com/amitdesai03/495c99432c0b0c60987daaaa728f2d33

If you approve of it, i will remove all comments and submit clean PR.

[2018-03-17 10:33] richardstartin commented on #231
@amitdesai03 it might be better just to submit a PR anyway, the difference is clearer to see that way.

[2018-03-17 11:38] lemire commented on #231
Can you follow @richardstatin’s advice?

[2018-03-17 15:52] amitdesai03 commented on #231
@richardstartin @lemire  absolutely, here you go:
https://github.com/RoaringBitmap/RoaringBitmap/pull/232

[2018-03-19 02:49] lemire commented on #231
Fixed by PR https://github.com/RoaringBitmap/RoaringBitmap/pull/232

[2018-03-19 02:49] #231 closed

[2018-03-20 16:00] lemire opened #233 "Test deserialization with adversarial inputs"
We have input files ``crashproneinput1``, ..., ``crashproneinput7``  that have been engineered to stress the deserialization routines (make the program crash).

https://github.com/RoaringBitmap/CRoaring/tree/master/tests/testdata

We should include them in our unit tests.

[2018-03-22 15:16] lemire opened #235 "Implement faster and more convenient "intersects with interval" checks"
Currently, if I want to test whether a bitmap has values contained in an interval, I have to do something ugly like this:

[code]

This is not optimal, if only because we have to create a temporary bitmap.

[2018-03-22 20:08] richardstartin commented on #235
Might it be worthwhile to implement various operations, such as union and intersection, with intervals? It would make it much cheaper to use an "existence bitmap" representing the extent of an indexed data set.

[2018-03-22 20:33] lemire commented on #235
I think we have, de facto, unions with intervals, in the sense that we have a ranged adds. We also have intersections with ranged removes. And we have ranged XOR with flips. Of course, it might be convenient to repackage these operations in a nicer way.

We don't have a way to check that the interval is empty without doing something like I described... which is obviously not ideal.

[2018-03-22 20:39] richardstartin commented on #235
But they take up a fair amount of space, much more than just 64 bits, no?

[2018-03-22 20:40] lemire commented on #235
I am not sure what you mean.

[2018-03-22 20:44] richardstartin commented on #235
You can represent a range, say, `[0, 2^31)` with two 32 bit integers. The equivalent bitmap would need 2^15 keys, and 2^15 `RunContainer`s each with a `short[2]` and a `short`.

[2018-03-22 20:52] lemire commented on #235
This solution...

[code]

has the problem you describe, which is why I raise it as an issue requiring further work.

[2018-03-22 23:41] lemire commented on #235
Fixed fast and furiously by @richardstartin

https://github.com/RoaringBitmap/RoaringBitmap/pull/236

[2018-03-22 23:41] #235 closed

[2018-03-23 22:33] amitdesai03 commented on #185
@lemire  could you pls point me to code which you are referring to?

[2018-03-24 05:38] lemire commented on #185
I will document it better soon.

[2018-03-24 19:31] richardstartin commented on #213
Implemented in #237

[2018-03-24 19:31] #213 closed

[2018-03-26 18:48] testn opened #238 "Changelog/release notes"
Is it possible to have an official changelog/release notes maintained? It is quite difficult to grok it from the git commit.

[2018-03-26 19:30] lemire commented on #238
We had a maintained changelog and it was removed in favor of the git commit.

When reviewing many major open-source projects primarily hosted on GitHub, I find that they do not have changelogs.

I am honestly not sure how a changelog file could do better than the commit list:

https://github.com/RoaringBitmap/RoaringBitmap/commits/master

Do you have specific proposals?

[2018-03-27 07:30] testn commented on #238
I'm fine with git commit. However, sometimes, the versions were bumped without any code changes and some of the commits did not have a clear git commit message making it a little bit hard to grok.

[2018-03-27 11:45] lemire commented on #238
We had lots of trouble with the release process which lead to missing/botched releases. Hopefully, these problems are behind us.

I am going to close this. We will work on maintaining good logs and meaningful releases.

[2018-03-27 11:45] #238 closed

[2018-03-30 17:04] lemire commented on #185
Sorry for the delay. Here are code samples that could be improved:

[code]

[code]

[code]

[code]

and so forth...

[2018-03-30 17:07] richardstartin commented on #185
Also, in those snippets, the cardinality will be evaluated for `RunContainers`. There is a method now `Container.isEmpty` which doesn't need to evaluate the cardinality.

[2018-03-30 18:13] lemire commented on #185
@richardstartin  Indeed. So there are multiple opportunities for optimization.

[2018-03-30 18:20] lemire opened #239 "Replace cardinality checks with ``isEmpty`` calls"
To check that a container is not empty, we routinely do a cardinality check ``c.getCardinality() > 0``. We should replace those with ``! c.isEmpty()`` for clarity and performance.

[2018-03-30 18:20] lemire commented on #185
@richardstartin For clarity I turned your point into a distinct issue: https://github.com/RoaringBitmap/RoaringBitmap/issues/239

[2018-03-30 22:15] amitdesai03 commented on #185
Thanks @richardstartin @lemire

Have created PR which does not create temp containers in case both compared containers are empty.

Is there more needed to this optimization?
If not, i will apply this change to all necessary places including replacing getCardinality with isEmpty

[2018-03-30 22:38] amitdesai03 commented on #239
Will club it as part of https://github.com/RoaringBitmap/RoaringBitmap/pull/240

[2018-04-02 13:21] #239 closed

[2018-04-02 14:26] lemire commented on #185
@richardstartin wrote:

[2018-04-09 17:42] #233 closed

[2018-04-09 17:57] richardstartin commented on #233
Has this been implemented?

[2018-04-09 18:04] lemire commented on #233
Yes. I just did... it wasn't much work...
https://github.com/RoaringBitmap/RoaringBitmap/commit/50515ad921d2c2c2232d7b8a5ffff7af36218696

[2018-04-12 14:43] lemire commented on #221
@richardstartin Great.

[2018-04-14 12:07] #221 closed

[2018-04-14 12:09] lemire opened #244 "Implement flyweight iterators in batch mode"
We have fast bulk iterators...

https://github.com/RoaringBitmap/RoaringBitmap/pull/243

We'd like to support them using the flyweight model.

[2018-04-14 13:15] richardstartin commented on #244
Do flyweight iterators currently outperform the standard iterators? The benchmarks suggest not.

[2018-04-14 14:46] lemire commented on #244
Do we have a benchmark stressing garbage collection? There are definitively reports that reducing GC pressure helps.

I admit that I don’t know how we would make GC the bottleneck.

[2018-04-15 10:01] blacelle commented on #244
Would you be interested in a test tracking the quantity of heap allocated ? It would not check actual GC pressure (as but the same quantity of allocations, it would not track the lifetime of given memory), but it may provide valuable insights.

[2018-04-15 15:40] lemire commented on #244
@blacelle

Anything that might help motivate the flyweight pattern is welcome.

[2018-04-17 17:19] lemire opened #246 "Implement reverse batched iterators"
Generalize Richard's bulk iterators so we can iterate backward (in reverse)...

https://github.com/RoaringBitmap/RoaringBitmap/pull/243

See:

Iterating in batches over data structures can be much faster... https://lemire.me/blog/2018/04/17/iterating-in-batches-over-data-structures-can-be-much-faster/

[2018-04-21 19:14] #228 closed

[2018-04-22 02:13] lemire commented on #228
@richardstartin Why did you close this?

I very much share your concerns regarding build speed.

I recommended merging some PRs that you might have opposed on this basis, but it is not an indication that I disagree with you on the end goal. There are trade-offs: many different goals... and we can both add tests and pursue the goal of having faster builds.

I think getting a great build speed is of

[2018-04-22 10:14] richardstartin commented on #228
I felt that since recent pull requests have gone in precisely the opposite direction to the aim stated above that it would be better to remove this objection rather than to advocate for the deletion of work considered useful by other users of the library.

[2018-04-25 06:42] richardstartin commented on #246
Is this and #244 blocking releasing the batch iterators?

[2018-04-25 14:57] lemire commented on #246
Nothing is blocking a release. I'll issue a release shortly.

Hopefully today.

[2018-04-26 02:55] lemire commented on #246
I issued the release command. I am going to go for a coffee. Or... no, for 12 or 15 coffees. Dark. No sugar.

[2018-04-26 05:45] blacelle commented on #246
@lemire do you mean the release process is still not smooth ?

[2018-04-26 06:07] richardstartin commented on #246
I get the impression the release is fairly onorous because it takes a while and @lemire is a busy guy. I was asking because it might have been nice to have batched different kinds of batch iterators into one release.

[2018-04-26 06:10] blacelle commented on #246
I guess @lemire does not need coffee just to wait commands executing by themselves. I wonder if the release process is still encountering issues requiring attention.

[2018-04-26 14:27] lemire commented on #246
@richardstartin @blacelle

The release has been completed.

It is basically working fine and we could argue that, as long as the release process *works* consistently, it is not a big deal if it takes a long time.

I am *lot* more concerned with the time it takes running tests when people hack at the code. This impacts productivity. My productivity as the guy who types the release command is no big

[2018-04-26 21:12] richardstartin opened #248 "Check for reference equality before aggregating containers"
It may be helpful to add a reference equality check at the start of some methods on `Container`, e.g.

[code]

[2018-04-26 22:29] lemire commented on #248
When would this condition fire?

[2018-04-30 21:25] richardstartin commented on #248
I don't think this is possible if containers are used within the library. We can close this - sorry.

[2018-04-30 21:25] #248 closed

[2018-05-26 23:54] jeremycod opened #251 "Performance degradation on dense set"
I'm trying to replace java.util.BitSet with Roaring bitmaps in the existing system, so I've implemented wrapper trait and wrapper classes for both of these implementations. In one particular method which aggregates data from number of large and dense bitmaps, I'm getting 2 times slower execution mainly coming from iteration itself and adding new values. Did I miss something here, or roaring bitmap

[2018-05-27 00:05] lemire commented on #251
Related to https://github.com/RoaringBitmap/RoaringBitmap/issues/194

[2018-05-27 00:07] lemire commented on #251
@richardstartin  Do you want to answer this one?

[2018-05-27 07:48] richardstartin commented on #251
@jeremycod

Calling `RoaringBitmap.add` is more complicated and therefore costly than calling `BitSet.set`, because a container needs to be located before setting the bit in the container. If your result is empty, the bitmap will try to guess what the best container implementation is as you add bits, so you may inadvertently allocate containers several times before you are finished. It's better to

[2018-05-27 13:32] richardstartin commented on #251
I ran a quick [benchmark](https://github.com/RoaringBitmap/RoaringBitmap/pull/252/files), and saw similar results: `j.u.BitSet` is twice as fast, but we can do much better than the simplest possible code:

[code]

A specialised implementation of `concat` could be much fast still if someone has time to do it.

[2018-05-27 13:46] lemire commented on #251
@richardstartin Your roaringBatchOrderedWriter is faster than bitset though, correct? (Your comment is ambiguous.)

From the point of view of @jeremycod, I think that the important point is that he can do much better by using your approach.

[2018-05-27 21:02] jeremycod commented on #251
@richardstartin, @lemire Thank you for your quick response. I've implemented the approach you've suggested. It improves performance in my benchmark test significantly. It still doesn't outperform java BitSets, but it's coming really close to it, and comparing to the previous results, this is pretty acceptable.

[2018-05-27 23:26] richardstartin commented on #251
The only reason this would be slower is that your list of concatenations is quite large and you are forced to create one ordered writer, which contains a `long[1024]`, per concatenation. There is no reason why the `OrderedWriter` couldn't be modified to make it reusable for cases like this one.

I don't fully understand the use case to concatenate compressed bitmaps. Perhaps this is based on some

[2018-05-28 00:28] lemire commented on #251
@jeremycod

That's great.

We have fast bitmap aggregation as an open issue. Once implemented directly, I think you can expect at least a 2x gain over the best you can do currently.

[2018-05-30 00:27] lemire commented on #194
@shshen @richardstartin @gssiyankai

I added a ``RoaringBitmap.addOffset`` function which basically "shifts" add the data by a bitset. Do this followed by union (``or``) and you can concatenate bitmaps together. This ought to be super fast. My code is not highly optimized so there are further gains possible, but compared with a call to ``forEach``, it should be ridiculously faster.

[code]

I'll i

[2018-05-30 00:27] #194 closed

[2018-05-30 00:52] lemire commented on #251
Fast concatenation is available as of release 0.7.11.

[2018-05-30 00:54] lemire commented on #194
Fast concatenation is available as of release 0.7.11.

[2018-05-30 01:15] jeremycod commented on #251
@lemire Great. Thanks.
When will this release be available from Maven Central repository?

[2018-05-30 03:06] lemire commented on #251
@jeremycod

When I create the release, it is automatically uploaded to maven central.

http://central.maven.org/maven2/org/roaringbitmap/RoaringBitmap/0.7.11/

If your tools do not pick it, you may need to refresh your cache.

[2018-05-30 19:45] lemire commented on #187
@SalvatorePreviti Seems to be working on it:

https://github.com/SalvatorePreviti/roaring-wasm

https://github.com/SalvatorePreviti/roaring-node

[2018-06-01 07:59] richardstartin commented on #190
I think this is now implemented by #199 and #243

[2018-06-01 08:08] richardstartin commented on #191
I think this was completed in #192.

[2018-06-01 14:07] lemire commented on #190
And by other changes, you are correct.

[2018-06-01 14:07] #190 closed

[2018-06-05 03:51] lemire commented on #191
So it was.

[2018-06-05 03:51] #191 closed

[2018-06-12 18:40] sesuncedu opened #254 "RunContainer::contains(ArrayContainer) throws Exception due to off by one termination check"
The while loop in this method has a termination condition checks for run indexes <= numberOfRuns(), which is incorrect.

Additionally, the return value is computed incorrectly.

I have a patch for this- I just need to add a unit test (I probably ought to check the methods for the other container types as well).

Addendum:  The existing test does not trigger this error as the relevant check tests f

[2018-06-13 00:57] sesuncedu opened #257 "Memory usage estimates are overly optimistic thanks to object overhead"
RoaringBitmap provides methods to calculate the estimated memory usage of a particular set of integers.   The calculated value does not include per-object overhead, which causes the estimates to be negatively biased.  The error can be quite large, and has practical implications - for example, when trying to use a tiling approach when comparing a large number of bitmaps.

I have implemented some ex

[2018-06-13 16:00] lemire commented on #257
You do not provide your dataset, but from your description, I understand that your sets of made of random integers. That's an adversarial use case. That is, you should not be using a bitmap/bitset in such a scenario.

I don't think it was explicitly stated. However, the README.md files does indicate that a bitset is not always the right data structure. I have elaborated in the project documentatio

[2018-06-13 16:00] #257 closed

[2018-06-13 20:00] sesuncedu commented on #257
TL;DR:  As discussed above, this experiment was run both with the original identifiers, and with remapped identifiers, with the remapped identifiers sequentially assigned in a roar-friendly fashion.  Remapped identifiers produced much better local density; however although the difference between estimate and actual memory  was lower than with un-remapped identifiers, it remains high.

To clarify:

[2018-06-13 20:34] lemire commented on #257
@sesuncedu

The library provides an estimate with the following detailed instructions...

We do not promise to report the exact memory usage. We provide an estimate. We even warn that it might be off by a factor of 10 in problematic cases.

We validate that our estimate is good using several typical dataset...

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/memory/src/test/java/org/roa

[2018-06-13 20:54] sesuncedu commented on #257
Calculating precise sizes does not involve much more work at run time than the estimated version (the primary changes are adding constant factors, with a few adds and masks to account for alignment padding, many of which can be ignored).

For example:  The size of a RunContainer is currently calculated as:

[code]
A precise estimate for hotspot-64bit-compressed-oops would be
[code]
which reduces t

[2018-06-13 20:59] lemire commented on #257
Please see the end of my reply...

`Maybe this is inconvenient and you'd like the RoaringBitmap to provide a more accurate estimate... if you'd like to help us improve our estimate, we would be happy to take a pull request.`

Of course, you'll need to specify that this is the memory usage for a particular JVM because, as far as I know, there is no language-level specification of the memory usage.

[2018-06-13 22:48] sesuncedu commented on #257
[code]
In the prototype code I wrote, I am just passing in a helper object to encapsulate the details.
Hotspot & IBM are easy enough to  handle, which covers most server platforms.
Using the ehCache sizeof library is a good idea as an option for handling other platforms.

[2018-06-13 22:57] lemire commented on #257
Something of the sort might be good.

The JVM must be started with a special flag so that the instrumentation can be done. The memory subdirectory has special tests with this instrumentation.

Of course, we will want to validate an eventual PR against ehCache. (We have tests in the memory subdirectory.)

[2018-06-14 00:16] sesuncedu commented on #257
It's possible to dynamically attach with openjdk/oracle/IBM via
com.sun.tools.attach.VirtualMachine
though it may require creating a new ClassLoader  and adding tools.jar to
it.

Not as scary as JOLs serviceability agent code, which may start a need to
start a child process using sudo.

Validating against existing test suite makes things  easy. Or hard :-)

[2018-06-15 01:45] lemire commented on #257
Thanks @sesuncedu : PR invited.

[2018-06-15 20:55] sesuncedu commented on #257
WILCO. I will create a separate issue to cover a some api & implementation choices as I clean things up for a PR.

[2018-06-16 21:29] sesuncedu opened #258 "Add support for VM-aware sizing for bitmaps (enhancement)."
Per discussion in  https://github.com/RoaringBitmap/RoaringBitmap/issues/257 , it is possible to calculate more precise sizes for RB memory usage by taking into account VM object layout.

Before cleaning my the prototype implementation for submitting as a PR, there are a few choice points that I would like to get some feedback on.

1. The current code does not handle the buffer based implementatio

[2018-06-16 21:54] lemire commented on #258
1. It would be ok to omit this code from CI testing.

2. Indeed, for out-of-java heap, we have the serialized size. What could be useful would be a measure of the in-java-heap (much smaller) memory usage.

3. Though this code might evolve, it is fair to assume that no new container type will be added.

[2018-06-21 21:02] jeremycod opened #260 "RoaringBitmap.addOffset causing problems with serialization/deserialization"
Hi,

Based on Issue #251 I've created a utility method that aggregates two bitmaps

[code]

Results of this operation are serialized and deserialized later again. Sometimes, it hits EOFException and I can't deserialize bitmap from the file. I was able to reproduce the problem in a simple unit test that I'm sending in attachment.
It seems that the problem is in this part:

`val shifted = RoaringBit

[2018-06-21 21:59] lemire commented on #260
Given that you have provided code, it is likely a bug. I am not sure how we might end up with an empty container. That is certainly a bug.

So we need to fix this.

(I am traveling, if anyone sees this and gets to it before I do, please investigate.)

[2018-06-22 08:19] richardstartin commented on #260
I looked at this briefly, added an assert in `RoaringArray.append` and wrote a couple of fuzz tests to try and trigger it. It looks like there are several other bugs exposed by or introduced by this new function:

- ensuring capacity during `RunContainer.append`
- addOffset can return a `BitmapContainer` in a lazy state and later calls `cardinalityInRange` which asserts the bitmap is not lazy

[2018-06-22 13:02] richardstartin commented on #260
I actually could not reproduce the issue with the data uploaded here, but found a few more bugs. See https://github.com/RoaringBitmap/RoaringBitmap/pull/261/, and let me know if the test case loading the data from the file adequately models the reported bug. I don't have time to track down the causes of the "awkward offsets" test failures.

[2018-06-25 16:14] jeremycod commented on #260
I see this is merged, so I guess it's solved. When will this be in release?

[2018-06-25 16:21] richardstartin commented on #260
@jeremycod I'm not sure. I couldn't reproduce your issue with the data you supplied so can't say if this will actually fix your problem... but it does fix a few other issues that would affect you eventually. Maybe you could build from source locally and check with asserts enabled?

[2018-06-25 18:00] richardstartin commented on #260
I added test cases which serialise and deserialise via a `byte[]` for both [RoaringBitmap ](https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringbitmap/src/test/java/org/roaringbitmap/TestConcatenation.java#L100)and [MutableRoaringBitmap](https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringbitmap/src/test/java/org/roaringbitmap/TestConcatenation.java#L110), parametrised

[2018-06-25 18:39] richardstartin commented on #260
I just reproduced the issue on master prior to merging with this test:

[code]

It's fixed by #261 anyway. @lemire it might be worth doing a release.

[2018-06-25 21:51] lemire commented on #260
Preparing a release.

[2018-06-25 21:51] lemire commented on #260
(Fantastic work @richardstartin)

[2018-06-25 21:53] jeremycod commented on #260
Awesome. Thanks a lot for solving it so quickly.

On Mon, Jun 25, 2018 at 2:51 PM Daniel Lemire <notifications@github.com>
wrote:

[2018-06-25 22:04] lemire commented on #260
Fixed as of RoaringBitmap-0.7.14

Please reopen if you cannot verify.

[2018-06-25 22:04] #260 closed

[2018-06-25 22:05] lemire commented on #254
Reopen if this is still an issue.

[2018-06-25 22:05] #254 closed

[2018-06-26 15:18] english207 opened #262 "It is a bug ? about ArrayContainer"
**version is 0.6.66**
I have a test for ArrayContainer  :

`
Container arrayContainer = new ArrayContainer();
        Container arrayContainer2 = new ArrayContainer();

        BitSet bitSet = new BitSet();
        BitSet bitSet2 = new BitSet();

        for (int i = 2568; i < 8908; i++) {
            arrayContainer2.add((short) i);
            bitSet2.set(i);
        }

        for (int i = 0; i

[2018-06-26 15:35] ppiotrow commented on #262
Hi, you should not work with `ArrayContainer` directly but rather use `RoaringBitmap`.
In this case you missed that the code ` arrayContainer.add((short) i);` after reaching 4096 elements in the array container return the new `BitmapContainer` object.

[2018-06-26 15:37] lemire commented on #262
@ppiotrow is correct. Try something like this instead...

    Container arrayContainer = new ArrayContainer();
    Container arrayContainer2 = new ArrayContainer();

    BitSet bitSet = new BitSet();
    BitSet bitSet2 = new BitSet();

    for (int i = 2568; i < 8908; i++) {
        arrayContainer2  = arrayContainer2.add((short) i);
        bitSet2.set(i);
    }

    for (int i = 0; i < 3568; i++)

[2018-06-26 15:37] #262 closed

[2018-06-26 15:43] english207 commented on #262
@ppiotrow @lemire  i got it , thanks 👍

[2018-08-07 19:59] arpang opened #266 "getLongSizeInBytes() implementation for Roaring64NavigableMap"
Hi,

The getLongSizeInBytes() method of Roaring64NavigableMap class is marked as "Todo". Can someone please add the implementation or tell me the logic so that I can implement and raise a pull request?

[2018-08-07 20:36] lemire commented on #266
I think it is meant to provide an estimate of the memory usage.

PR invited.

[2018-08-08 17:11] lemire commented on #266
Closing: https://github.com/RoaringBitmap/RoaringBitmap/pull/267

[2018-08-08 17:11] #266 closed

[2018-08-16 08:17] ppiotrow commented on #185
Should it be solved by creating 4th container type `EmptyContainer`?
It never gets inserted into RoaringArray nor serialised.
It has implementation of methods mostly returning zeroes.
Also it has private constructor and a public static instance so it never gets created on heap.
It's mostly returned from methods like `.toArrayContainer()` or `.toEfficientContainer`, because rewriting all implementa

[2018-08-16 12:44] lemire commented on #185
@ppiotrow This does not sound bad. It might work!

[2018-08-16 17:35] richardstartin commented on #185
Why not insert it into `RoaringArray`? Tolerating empty slots, along with an `RoaringBitmap.optimiseKeys` method to purge empty slots would simplify computing XOR.

It would also simplify allocating a large `RoaringArray`, without knowing precisely how big it's going to be beforehand. Resizing `RoaringArray` is one of the weaknesses of building bitmaps, in my opinion.

[2018-08-16 17:55] richardstartin opened #268 "Investigate implementation of RoaringArray with Container and Container[]"
If a bitmap is very high cardinality it makes sense to RLE the keys. If it’s moderate cardinality with more than 4096 keys, a bitmap is a better place to store the keys. This would also make the data structure more tree like allowing an alternative implementation of larger bitmaps.

[2018-08-16 19:50] lemire commented on #268
@richardstartin You are correct.

Another option, used by BitMagic, is to have a single array of pointers to containers, and have NULLs where there is no container.

[2018-08-16 20:12] richardstartin commented on #268
That's what I imagined when the keys are represented as a bitmap. But when the keys are an array the current configuration is best, and when they would be run compressed I imagine as many arrays as there are runs could be a good option.

[2018-08-16 20:39] lemire commented on #185
@richardstartin That's possible too.

[2018-08-16 21:46] richardstartin commented on #268
I spent a couple of hours trying to do this and can only conclude that it would be hard to achieve. Partly because it's hard to abstract over the positional bitmap and key based array without cost, so generalising `RoaringArray` requires some thought. Do you expect it to be worth the effort? I can imagine it being worthwhile for aggregations where computing a 16 bit approximation of the aggregatio

[2018-08-16 22:13] lemire commented on #268
I think that the benefits of what you propose can be significant, e.g., for random access.

[2018-08-16 22:50] richardstartin commented on #268
Yes, it should behave like a radix tree. I’m not sure run compressed keys would be worth the implementation complexity unless they were part of a deeper tree structure capable of storing things like IP addresses.

[2018-08-22 21:13] richardstartin opened #269 "A better OrderedWriter for building sparse bitmaps"
It's quicker to use `OrderedWriter` for building bitmaps from ordered streams than repeatedly calling `RoaringBitmap.add` because it avoids the cost of locating the container and any binary searches. But using an 8KB bitset isn't the best decision when a very sparse bitmap (no bitmap containers) is to be built. Profiling shows that most time is spent in constructing array containers from bitmap co

[2018-08-22 22:49] lemire commented on #269
+1

[2018-09-26 06:35] ShaoxiongTang opened #273 "Roaring64NavigableMap get wrong cardinality value after serialization and deserialization"
Follow is my serialization and deserialization code:
`
       import org.roaringbitmap.longlong.Roaring64NavigableMap;

import java.io.*;
import java.nio.ByteBuffer;
import java.util.Random;

public class RoaringBitmapSizeChangeTest {

    public static void main(String[] args) throws IOException {
        Roaring64NavigableMap rbm = new Roaring64NavigableMap();
        Random random = new Random(

[2018-09-26 10:04] blacelle commented on #273
Thanks for the reproducing case. I shall have a look soon.

[2018-09-26 19:40] rafael-telles commented on #273
@ShaoxiongTang @blacelle  If you change it to `new Roaring64NavigableMap(true)` (setting signedLongs to true) it works properly.

[2018-09-29 00:03] lemire commented on #273
Closing, reopen if needed.

[2018-09-29 00:03] #273 closed

[2018-10-21 18:59] richardstartin opened #277 "Build fails with JDK11"
It seems that the java-allocation-instrumenter dependency fails on JDK11, by the looks of it because of a transitive dependency on an outdated version of ASM:

[code]

See this [failed build](https://travis-ci.org/RoaringBitmap/RoaringBitmap/builds/444435015). This failed with OpenJDK and Oracle JDK alike.

[2018-10-22 15:31] lemire commented on #277
I don't have OpenJDK 11 installed yet.

Do you happen to have a fix proposal?

[2018-10-22 15:48] richardstartin commented on #277
I don't know if the library in question is still maintained; the latest version is being used. Memory profiling can be done with JMH's GC profiler, which works with JDK11, so one solution would be to use JMH instead.

[2018-10-22 16:09] lemire commented on #277
I have raised the issue upstream. Let us see if they respond.

Presumably, this failure is specific to one test which we can workaround on JDK11, right?

[2018-10-22 17:19] lemire commented on #277
The library sure looks like it is maintained... there are commits this month... but they may be due for a new release.

[2018-10-24 23:56] lemire commented on #277
We have updated the instrumenter library to its latest version.

[2018-10-25 12:10] DanielWe2 opened #278 "Cardinality in Range"
There is currently no fast/simple way to query the cardinality in a given range.

They only way I know is:
- create a new temp bitmap
- use add with range to fill the bits in the range to query
- use "and" with on the two maps and then call getLongCardinality

Am I missing something?

(also: There is no simple or and and operation with range parameters. I can open another issue for that)

[2018-10-25 23:44] lemire commented on #277
If you want to discuss dropping support for JDK8, I am game, but I think we need some kind of justification considering that it effectively comes for free at this time.

[2018-10-25 23:44] lemire commented on #277
Ok. Let us close this issue given that I effectively did as you recommended and dropped the memory subpackage.

[2018-10-25 23:44] #277 closed

[2018-10-26 04:41] richardstartin commented on #277
What I mean is 6 builds at a time seem to get throttled. OpenJDK8 will be a going concern for a while so I would not suggest dropping it, but oraclejdk8 is nearly EOL. *jdk9 and *jdk10 are already obsolete, so I think you could get away with:
- openjdk8
- oraclejdk11
- openjdk11

[2018-10-26 12:36] lemire commented on #277
Good.

[2018-10-26 18:17] lemire commented on #278
Will be part of the next release as "rangeCardinality".

[2018-10-27 00:05] lemire commented on #278
It should be pretty efficient to do something like this...

[code]

You do create a "temporary" bitmap, but it should be quite cheap in most practical cases.

[2018-10-27 00:06] lemire commented on #278
I am closing the issue. This has been fixed in the current release.

[2018-10-27 00:06] #278 closed

[2018-10-27 22:27] lemire opened #281 "Implement bit shift functions"
See http://bitmagic.io/dna-search.html

[2018-11-09 08:03] incaseoftrouble opened #282 "Support previousValue, nextAbsentValue, and previousAbsentValue"
Hi,

Both `BitSet` and `SparseBitSet` have said functions, which return the next / previous index which is contained / not contained in the set. All of them should be rather easy to implement I guess, since they are very similar to nextValue / (reverse) iterators.

I'm using roaring bitmaps in a [library](https://github.com/incaseoftrouble/naturals-util) abstracting data structures used to represe

[2018-11-09 17:37] richardstartin commented on #282
Prefix compression makes nextValue quite expensive compared to using iterators, traversing the bitmap becomes O(n log c) where n is the number of bits and c is the number of containers. Storing the state of the current position within the bitmap eliminates the O(log c) factor, so using an iterator is advantageous if applicable.

Incidentally, bidirectional iterators would be interesting.

[2018-11-09 17:40] lemire opened #283 "Implement bidirectional iterators"
Currently, we have forward and backward iterators.

For CRoaring, @Brian-Esch implemented bidirectional iterators:

https://github.com/RoaringBitmap/CRoaring/pull/190

[2018-11-09 17:50] lemire commented on #282
@richardstartin  is right.

Performance-wise, it is not a great idea to implement what you propose. There is a reason why we abstract the access through an iterator: the iterator preserves the necessary information to quickly move through the values.

To see why it might be a problem, consider a sorted list of integers. You can find any value in the list in time O(log n). And it is a bad kind of O

[2018-11-09 19:39] incaseoftrouble commented on #282
I'm aware that these operations are slower, I guess practically anything which is not a bulk-operation is rather slow in comparison. I don't plan to use those operations iteratively, e.g., calling `nextValue` repeatedly to iterate through the map. On the other hand, I'm developing a library so people may misuse it anyway...

To concretize, one of my applications is as follows: I provide a "bounded

[2018-11-09 19:41] lemire commented on #282
It is not unreasonable, certainly, if one is aware of the performance limitations.

Yes, we would like to have bidirectional iterators that can be initialized from any given starting point. I just created this as a new issue.

[2018-11-09 20:36] richardstartin commented on #282
An iterator that starts off at an arbitrary position would be very useful in stateless applications.

[2018-11-13 20:01] incaseoftrouble commented on #282
Thanks a lot! I'll try to have a look at the clear bit thing in the near future.

[2018-11-14 01:47] lemire commented on #282
Great. Let us keep this issue opened until it is fully resolved.

[2018-12-05 11:08] saep opened #285 "Wrong result for rangeCardinality"
I noticed a wrong result when calculating the cardinality of a bitmap using rangeCardinality.
I was able to reduce it to the following failing test case:

[code]

[2018-12-05 11:11] saep commented on #285
I executed the test on the current master branch: fe261ccfdb0cd27dfbbd81a329d4924e0499344d

[2018-12-05 19:11] lemire commented on #285
Thanks for the report.

[2018-12-07 23:03] richardstartin opened #287 "Implement inverted iterator"
Be able to iterator over the "holes" in a bitmap, without materialising the bitmap's inverse.

[2018-12-13 14:19] lemire opened #289 "Drop support for Java 8?"
Java 8 is no longer receiving public updates. Our last few artefacts don’t work in Java 8 and there is no obvious way to ensure backward compatibility going forward.

[2018-12-13 14:44] brharrington commented on #289
Oracle will not provide public updates anymore, however, there are some other distributions of jdk8 such as Amazon's Corretto that have a [longer support window](https://aws.amazon.com/corretto/faqs/#support).

For my uses, I can cope with jdk8 support being dropped, but it would be more convenient if it was still supported. At my company the transition to jdk11 will take quite a while.

[2018-12-13 18:45] richardstartin commented on #289
I'm using Java 8 so I would be disappointed by dropping support for Java 8, because I won't be able to use the library any more without forking it.

On the other hand there some new and relevant intrinsic functions like `Arrays.mismatch` in Java 11. What about a Java 11 branch that can be released from, which could become master at some point in the future, but in the mean time enables usage of ne

[2018-12-13 20:48] drcrallen commented on #289
Looking at the list of "used by" in https://github.com/RoaringBitmap/RoaringBitmap/blob/RoaringBitmap-0.7.26/README.md , it looks like some of them are may be stuck in the past for an unknown time.

Spark looks like it is trying to be java 11 compatible for 3.0.0 ?https://issues.apache.org/jira/browse/SPARK-24421

Hadoop (Hive by proxy?) is not that close to java 11 support https://cwiki.apache.or

[2018-12-13 21:11] brharrington commented on #289
If it is only a change to the internals and not the public api, then a multi-release jar would probably be a better option. That way there is one artifact and the most optimal version can be used based on the JDK the user is running.

[2018-12-14 14:36] lemire commented on #289
There is no support for this idea. Closing.

[2018-12-14 14:36] #289 closed

[2018-12-14 17:44] richardstartin commented on #289
@brharrington I haven’t experience of multi release jars - is there anything to watch out for? There are four or five places the vectorised mismatch intrinsic would be relevant in this library- it might be worth the bother.

[2018-12-21 13:37] lemire opened #297 "Cannot issue releases since the introduction of the new shims artifact"
The command `mvn release:perform` fails with the following output...

[code]

[2018-12-21 13:38] lemire commented on #297
cc @richardstartin

[2018-12-21 14:30] #297 closed

[2018-12-21 14:32] lemire opened #299 "Cannot release: Rule "javadoc-staging" failures; Missing: no javadoc jar found in folder ..."
[code]

[2018-12-21 18:41] lemire commented on #299
@richardstartin

As far as I can tell, even with your last PR merged, the shims module does not generate javadocs during the release process. It is compulsory for an artifact to have javadocs, apparently.

You had a line in your pom that explicitly disabled javadoc, I tried to comment it and I am relaunching the release process.

[2018-12-21 18:53] lemire commented on #299
Hopefully resolved now.

[2018-12-21 18:53] #299 closed

[2019-01-07 03:03] FDU-SE-LAB opened #303 "Your project RoaringBitmap/RoaringBitmap is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-16 16:46] lemire commented on #187
Closing.

[2019-01-16 16:46] #187 closed

[2019-01-16 16:48] lemire opened #304 "Implement and benchmark shotgun intersection"
In some cases, we should be able to greatly improve the performance of array-array intersections. See [Faster intersections between sorted arrays with shotgun](https://lemire.me/blog/2019/01/16/faster-intersections-between-sorted-arrays-with-shotgun/).

[2019-01-16 16:49] lemire commented on #304
cc @richardstartin

[2019-02-15 12:12] incaseoftrouble commented on #282
Sorry this took so long, got caught up in some research projects ...

[2019-02-16 14:20] richardstartin opened #306 "Disable javadoc on shims module"
The shims module only exists to facilitate testing both implementations of array equality, and we have a multi release jar so the vectorised intrinsic can be used in newer versions of Java. There seem to be compatibility issues with the javadoc plugin caused by recent changes in JDK11.0.1+. Since it is just an incidental inconvenience that shims needs to be released to ensure both versions are tes

[2019-02-16 14:21] lemire commented on #306
That seems reasonable, no?

[2019-02-16 15:37] richardstartin commented on #205
These tests catch errors, and trigger assertions in the code, but don't make it easy to capture a reproducer. I suggest we serialise the bitmap triggering an error, base64 encode it and save it to a JSON file describing the error.

[2019-02-16 17:36] richardstartin commented on #306
All modules are affected by [JDK-8212233](https://bugs.openjdk.java.net/browse/JDK-8212233). Skipping javadoc on shims just causes RoaringBitmap to fail with:

[code]

The workaround seems to be not to generate javadoc: the fix in JDK12 hasn't been backported to JDK11 yet.

[2019-02-16 17:46] lemire commented on #306
But it works in master. What causes the breakage in the new code you are working on?

[2019-02-16 17:48] richardstartin commented on #306
It work_ed_ on master 2 months ago.

[2019-02-16 19:37] richardstartin commented on #306
#308 demonstrates that master can no longer build using the version of JDK11 travis is using, I think the only way to merge PRs is to drop javadoc or JDK11 support.

[2019-02-16 19:39] lemire commented on #306
Ok. And travis does not yet have the JDK 12 with the fix, right?

[2019-02-16 19:39] richardstartin commented on #306
JDK12 is not released yet.

[2019-02-19 08:06] ppiotrow opened #309 "BufferParallelAggregation throws due to faulty partitioning function"
I've migrated our bitmap execution software from VM with 8 cores to cloud where I enabled cpu shares corresponding to 32 cores according to `Runtime.getRuntime.availableProcessors()`.
In the logs started appearing this error quite frequently (~1 per 10 requests fails).
I'm running on RoaringBitmap `0.7.21`

[code]

Estimated values for failing example are:
[code]
which reproduces a bug.

[2019-02-19 12:06] ppiotrow commented on #309
Not sure if the current code should be fixed or we need a new piece of code here.
I think the aim is to create as equally in size partitions as possible.
I came up with following algorithm (not unit tested yet).
[code]

[2019-02-19 13:54] lemire commented on #309
I have changed the label on this issue to "potential bug". As far as I can tell, we have no way of determining whether there is a bug in the RoaringBitmap library. From what I understand, you suspect that there might be a bug in `BufferParallelAggregation.or`... maybe something related to concurrency.

Having access to a beast with many cores is not too difficult. But we need an actual reproducibl

[2019-02-19 14:26] ppiotrow commented on #309
The equation [here](https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringbitmap/src/main/java/org/roaringbitmap/buffer/BufferParallelAggregation.java#L230) or [here](https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringbitmap/src/main/java/org/roaringbitmap/ParallelAggregation.java#L223) is buggy and I proved it in the first snippet. It produces the array slices where lef

[2019-02-19 14:33] lemire commented on #309
Now I understand. It is indeed a mathematical bug.

[2019-02-19 14:36] lemire commented on #309
Marked as a bug and changed title to something that better reflects the issue in my opinion.

[2019-02-19 14:55] lemire commented on #309
PR https://github.com/RoaringBitmap/RoaringBitmap/pull/310 fixed the issue.

[2019-02-19 14:55] #309 closed

[2019-02-19 15:09] richardstartin commented on #309
I’m amazed that this has seen enough use to earn a bug report!

[2019-02-19 15:48] lemire commented on #306
Ok. We are no longer testing on jdk11.

https://github.com/RoaringBitmap/RoaringBitmap/commit/ae2ee9fb1cfc1f40c0a8bad2fcb4012425a01e10

I am going to close this issue, reopen if you think it should remain open.

[2019-02-19 15:48] #306 closed

[2019-02-19 17:53] #282 closed

[2019-02-20 09:12] ppiotrow commented on #309
@richardstartin Parallel aggregation is awesome :)
@lemire do you plan to release version with fixes?

[2019-02-20 13:56] lemire commented on #309
A release was issued.

[2019-02-26 07:18] incaseoftrouble opened #312 "Unify line-endings to '\n'"
As discussed previously, line endings should be uniform throughout the codebase. A simple `dos2unix` call on all source files should fix this I guess.

[2019-02-26 07:19] incaseoftrouble opened #313 "Assertion Error in `nextValue`"
The following code throws an assertion error

[code]

With assertions disabled, the `nextValue` call returns 0. I already have a fix, I just have to convince my IDE not to make any whitespace changes ...

[2019-02-26 07:21] blacelle commented on #312
or proper .gitattributes

e.g.

[code]

[2019-02-26 07:58] incaseoftrouble commented on #312
True. This seems like a cleaner solution. I'll try this and see what happens.

[2019-02-26 10:00] blacelle commented on #312
Github provides a nice article regardint this case:

    https://help.github.com/en/articles/dealing-with-line-endings#refreshing-a-repository-after-changing-line-endings

[2019-02-26 13:14] #313 closed

[2019-02-26 13:39] lemire commented on #312
I am delaying merging a PR where every file is modified (presumably due to line endings). This is somewhat unpleasant and one should be super careful because it can hide substantive changes. (There are ways to diff without whitespace, but it is still dangerous.)

[2019-02-26 13:57] lemire opened #316 "Cannot issue releases: cannot find symbol variable ArraysShim"
This morning, I tried to issue a release. I cannot. Some considerations: because we made it so that Java8 cannot be used to build the project (following the introduction of ArraysShim), we have to use a more recent JDK. JDK10 is no longer supported and available. So we have to use JDK11, the only supported option at this time. I am using "AdoptOpenJDK (build 11.0.1+13)" on a Mac to try to issue re

[2019-02-26 13:57] lemire commented on #316
Thankfully, we can still build and test the code with `mvn package`:

[code]

[2019-02-26 14:01] lemire opened #317 "Support Eclipse"
The README.md instructs developers to go into roaringbitmap and type `mvn eclipse:eclipse`. This no longer works for me because of ArrayShims:

[code]

Going into the root of the project does not work better:

[code]

[2019-02-26 14:03] lemire commented on #316
@richardstartin Can you help?

It is unacceptable to be unable to issue releases with a supported JDK.

[2019-02-26 14:05] lemire commented on #317
@richardstartin Can you help? I consider this problem to be a major usability issue. Even if one does not care about Eclipse, it is still one of the major IDEs and it cannot be used currently with this project.

[2019-02-26 15:07] incaseoftrouble commented on #312
Will do.

[2019-02-26 15:15] lemire commented on #312
+1

[2019-02-26 18:36] lemire commented on #316
Here is what I did. I kept trying. And trying and trying. The exact same command line (`mvn release:clean release:prepare release:perform`) and it finally worked.

There is some non-deterministic aspect to the release process. That is, there is something I do not understand about it.

[2019-02-26 18:36] #316 closed

[2019-02-26 18:37] lemire commented on #317
Ok. Seems that Eclipse can't support this project. I will move to document how to make it work with IntelliJ.

[2019-02-26 18:42] lemire commented on #312
Closing.

[2019-02-26 18:42] #312 closed

[2019-02-26 18:52] blacelle commented on #317
For the record, I work within eclipse without any specific issue. Still, `mvn eclipse:eclipse` was especially useful at the time maven eclipse integration (m2e) was not available or quite poor. Since quite many Eclipse releases, you should import a maven based within Eclipse with File/Import/"Existing Maven projects" the root folder.

[2019-02-26 19:04] richardstartin commented on #316
@lemire I'll take a look at it, this seems strange. I think we should evaluate the costs and benefits of having a multi release jar. Given the low uptake of JDK11 and the quite hacky nature of multi release jars (perhaps there's a better way than we have?) I can see only costs at the moment.

[2019-02-26 19:13] lemire commented on #317
I am a taker if you have instructions on how to open RoaringBitmap without errors.

Here is what I did just now with the very latest Eclipse:

- File
- Import
- Existing Maven Projects
- Select RoaringBitmap on my disk
- I get `maven-antrun-plugin:1.3:run (1 errors) Execution compile-java11, in /shims/pom.xml`

Then I have 18 errors. At a glance, it still works, but the long list of errors remains

[2019-02-26 19:14] lemire commented on #317
I am re-opening the issue since there are reports that this can work in Eclipse.

[2019-02-26 19:16] lemire commented on #317
If I try to disable jmh as I had to do with IntelliJ, I reduce the number of errors to only one. Better but still a bit scary.

I am not exactly sure why the jmh module creates so much trouble... because of the external dependencies?

[2019-02-26 19:27] lemire commented on #316
I am not sure that the setup is wrong, what I think is happening is that something gets buffered/cached in some way. The fact that it eventually works after failures (a common pattern) is indicative of some buffering issue.

[2019-02-26 19:29] lemire commented on #317
@richardstartin

You will be happy to know that neither IntelliJ nor Eclipse has major problems with the shims. It is jmh that they don't like. Still the remaining error seems related to the shims. How do you load up this project in an IDE?

[2019-02-26 19:35] blacelle commented on #317
About Eclipse, the ant-run report is "expected" : Eclipse indicates he does not know how to behave properly give this quite custom behavior. One solution for Eclipse newcomers is to add in shims/pom.xml:

[code]

Then, my workspace looks functional:
<img width="416" alt="screenshot 2019-02-26 at 20 34 32" src="https://user-images.githubusercontent.com/2117911/53440934-fcadb200-3a05-11e9-9863-8f363

[2019-02-26 19:36] blacelle commented on #317
Then, my workspace looks functional:
<img width="416" alt="screenshot 2019-02-26 at 20 34 32" src="https://user-images.githubusercontent.com/2117911/53441007-22d35200-3a06-11e9-99e3-8bb0ce7f0211.png">

[2019-02-26 19:54] lemire commented on #317
This helps but I still get errors like this...

[code]

And that's not even considering what happens if I don't close the jmh module.

How do I get Eclipse to grab its dependencies?

[2019-02-26 19:56] lemire commented on #317
Note that I do have guava, alas not the version that Eclipse wants:

[code]

[2019-02-26 19:58] lemire commented on #317
If I click on "dependencies", I find that it is using guava 20.

[2019-02-26 20:02] lemire commented on #317
Interesting. So I had to do "project>clean" and now everything is ok.

[2019-02-26 20:02] lemire commented on #317
Closing. Thanks to @blacelle

[2019-02-26 21:10] blacelle commented on #317
Indeed, Project/Clean and or "Right-Click on folder/Working Set"/Maven/"Update project" helps Eclipse cleaning its configuration, handle changes in pom.xml and refresh what needs to be changes. The second step ("Right-Click on folder/Working Set"/Maven/"Update project") holds most on `mvn eclipse:eclipse`

[2019-02-26 21:19] lemire commented on #317
I am an optimist and I thought that when faced with a configuration error, the IDE would either try to do the cleaning once to see if it helps, or just invite me to do so as part of an error message.

I need to learn to be a pessimist.

[2019-03-05 20:58] lemire commented on #317
Closing.

[2019-03-05 20:58] #317 closed

[2019-03-07 09:00] sydt2014 opened #318 "How to read roaringbitmap from database,such as greenplum ?"
I create roaringbitmap data in greenplum, but how to read these data by JDBC in java and create roaringbitmap object ?And how to write roaringbitmap into database ,such as greenplum?

[2019-03-07 14:15] lemire commented on #318
You can, for example, store an array of bytes in your database... You’ll find plenty of examples online...

https://stackoverflow.com/questions/15134357/storing-a-byte-array-in-ms-sql

[2019-03-07 14:17] lemire commented on #318
Then serialize and deserialize bitmaps to byte arrays, see this example...

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/examples/SerializeToByteArrayExample.java

[2019-03-07 14:18] lemire commented on #318
If you need support specifically with greenplum please see the greenplum developers.

[2019-03-07 14:19] lemire commented on #318
Closing. The author of the issue is encouraged to go seek support with greenplum https://greenplum.org

[2019-03-07 14:20] #318 closed

[2019-03-11 08:08] sydt2014 commented on #318
thanks your advise very much!

[2019-03-15 17:10] PedroAlvarado opened #319 "Much faster deserialization via new ImmutableRoaringBitmap(ByteBuffer.wrap(data)).toRoaringBitmap()"
The two seemingly equivalent operations below yield deserialization performance results. "Example 1"  below seems to perform 5x to 10x faster than the typical bitmap deserialization as shown in "Example 2".

[code]

vs
[code]

[2019-03-15 17:33] lemire commented on #319
Is the second example valid code?

[2019-03-15 17:42] PedroAlvarado commented on #319
Apologies, I pasted the wrong code.

[2019-03-15 18:16] lemire commented on #319
I am puzzled. The `new ImmutableRoaringBitmap(ByteBuffer.wrap(data)).toRoaringBitmap()` approach appears to be much faster.

Here is my gist...
https://gist.github.com/lemire/9e83b22d19b19a687ff18573311538da

Here are my results:

[code]

[2019-03-15 18:22] PedroAlvarado commented on #319
Yes, I'm noticing the exact same results. A quick inspection shows that `bitmap.deserialize` spends most of its compute time at the the line below. https://github.com/RoaringBitmap/RoaringBitmap/blob/bd97775b254025be5ac12f525b13cc0152609ef0/roaringbitmap/src/main/java/org/roaringbitmap/RoaringArray.java#L329

I'm unable to find the analogous code in `ImmutableRoaringBitmap.toRoaringBitmap()`.

[2019-03-15 18:23] lemire commented on #319
These results need investigation but they point at a serious performance 'bug' as to how I have been recommending that people deserialize data from a byte array. It is not entirely surprising given that DataInputStream is not super fast as an interface... but the gap is huge here (between 5x and 10x difference).

cc @richardstartin @blacelle @ppiotrow @incaseoftrouble @owenkaser

[2019-03-15 18:36] lemire commented on #319
@PedroAlvarado

Well. `Util.toIntUnsigned(Short.reverseBytes(...))` should be something like two machine instructions. A much more likely cause of performance problems is Java's failure to inline the calls to `readShort`... but that's an API issue... I am not sure we can fix it per se.

This does not mean that this issue cannot be fixed. I think we should seriously consider a fast deserialization

[2019-03-15 18:40] incaseoftrouble commented on #319
Side comment, not sure if relevant: `DataInput` offers a method to write to a `byte[]` buffer. As far as I understand the docs, the read bytes already are machine independent, in particular `(short)((b[2 * i] << 8) | (b[2 * i + 1] & 0xff))` (where `b` is the buffer we wrote data into) should yield the shorts on the stream.

[2019-03-15 18:50] lemire commented on #319
@incaseoftrouble

Yes. This may be relevant in the sense that a single call to `read` that retrieves a large block of bytes could be a lot better than many small calls to something like `readShort`.

[2019-03-15 18:58] PedroAlvarado commented on #319
@lemire Acknowledged. The point I was making is that such operation does not take place in a tight loop under the `new ImmutableRoaringBitmap(ByteBuffer.wrap(data)).toRoaringBitmap()` code path. This may help explain the performance difference, that is, somehow in the faster case we happen to be making bigger reads than a short at a time.

[2019-03-15 19:31] richardstartin commented on #319
Which JVM version?

[2019-03-15 19:34] PedroAlvarado commented on #319
This can be reproduced with the JVM below.

java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

[2019-03-15 21:48] blacelle commented on #319
IO effect is quite big: #320

I'm left with a 10%-30% penalty with recommended over Immutable

[2019-03-15 22:07] incaseoftrouble commented on #319
I'd be curious how large the difference is in a larger benchmark. There are some real-world benchmarks in the repo, right?

Direct reading should definitely be as least as fast as `data -> immutable -> mutable` and probably as fast as immutable reading up to a small factor?

[2019-03-15 22:11] lemire commented on #319
This is not obvious to me. Count the minimal number of copies.

- The data -> immutable -> mutable does zero copy between data -> immutable, and one copy between immutable -> mutable.
- The current @blacelle  approach does one copy from the input data to temporary byte arrays, then another final copy.

So you have two copies versus just one, assuming that you are doing a minimal number of copies.

[2019-03-15 22:13] lemire commented on #319
The real benefit of @blacelle 's current work is that it could help the more general case (e.g., where we are reading data from disk).

[2019-03-15 22:13] incaseoftrouble commented on #319
"should be" in the sense that one should aim for that. I don't see any reason why it should be fundamentally slower, if you see what I mean.

[2019-03-15 22:14] lemire commented on #319
Well... how do you go from the byte array to DataInput API and then back to the data we need without doing two copies of the data?

That is, the *reason* is the DataInput API.

It is the price of abstraction.

[2019-03-15 22:15] lemire commented on #319
People tend to assume that abstract has no price... and sometimes that's true, but you can't assume that it general holds true. More general code, more often than not, also runs slower.  There is a trade-off. Easier software engineering vs. lower performance.

[2019-03-15 22:17] incaseoftrouble commented on #319
We speak of the same thing :) As someone who overeagerly abstracts things I learned how costly abstraction can be :D

In any case I'd be interested in the numbers.

[2019-03-15 22:18] richardstartin commented on #319
Actually it has nothing to do with abstraction. The cost differential isn't even constant as a function of data set. More to follow.

[code]

[code]

[code]

[2019-03-15 22:21] lemire commented on #319
I await the rest...

[2019-03-15 22:25] PedroAlvarado commented on #319
In our use case, we happen to have thousands of bitmaps cached in-memory as byte arrays. Allow me to second the idea of having an interface that takes a byte[] directly for deserialization.

[2019-03-15 22:27] lemire commented on #319
@PedroAlvarado Let us see what @richardstartin has to reveal first. :-)

[2019-03-15 23:14] richardstartin commented on #319
@lemire don't wait for me because I'm quite sure deserialising from a byte[] would be beneficial. Just wanted to blurt out in response to you blaming failure to inline that, if anything, there's **too much** inlining - look at the way the instruction and iTLB counters blow up and take a look at `-XX:+PrintInlining`. It's also extremely sensitive to run optimisation. Let me synthesise my results th

[2019-03-15 23:19] lemire commented on #319
Good.

[2019-03-15 23:49] blacelle commented on #319
I implemented deserialization from ByteBuffer directly in a RoaringBitmap.

recommended:
256 ms 82 ms 75 ms 143 ms 74 ms 73 ms 97 ms 74 ms 76 ms 99 ms 136 ms 80 ms 74 ms 76 ms 76 ms 137 ms 74 ms 74 ms 75 ms 75 ms 74 ms 129 ms 192 ms 74 ms 75 ms 77 ms 81 ms 83 ms 83 ms 108 ms
average: 96
via ByteArrayInputStream:
102 ms 101 ms 91 ms 76 ms 77 ms 77 ms 78 ms 79 ms 76 ms 75 ms 76 ms 80 ms 78 ms 75 ms

[2019-03-16 09:59] richardstartin commented on #319
What we're seeing here is that `DataInputStream` is quite bad, despite everything inlining. `DataInputStream` isn't really representative of a `RandomAccessFile` on a system with an SSD. In fact, we can sometimes do really well without copying any data or writing any new code by providing a `ByteBuffer` backed `DataInput`, which is also quite friendly to the garbage collector.

[code]
[full result

[2019-03-18 19:22] lemire opened #322 "Implement a serialize(ByteBuffer) function"
We have demonstrated than a deserialize(ByteBuffer) could be fast, faster than deserialize(InputStream): https://github.com/RoaringBitmap/RoaringBitmap/issues/319 . It follows logically that a serialize(ByteBuffer) function might be fast.

[2019-03-18 19:23] lemire commented on #322
cc @blacelle

[2019-03-20 19:04] lemire commented on #319
Thanks to @blacelle  with contributions from @richardstartin, this is now resolved, complete with a new release where one has new functions to deserialize directly from a ByteBuffer, much faster than you could from a stream. (Richard has a blog post coming up which will bring some nuances.)

Now we can move to...
https://github.com/RoaringBitmap/RoaringBitmap/issues/322

I suspect that the same pe

[2019-03-20 19:04] lemire commented on #319
Closing.

[2019-03-20 19:04] #319 closed

[2019-03-25 03:43] bitBiaoBiao opened #324 "Sudden unexplained bug"
Dear contributors, hi
         I am very proud to use RoaringBitmap. But I have some doubts here. When I employ 0.7.0 version, I put some negative integers into the RoaringBitmap, and the result is messy, like -516762017 -------> 32259, actually, it should be -516762017 -------> 3778205279. It happened more than once but all of a sudden, so that made me confused. I really hope it's my fault made t

[2019-03-25 12:14] lemire commented on #324
@bitBiaoBiao Can you give us a code sample to illustrate the bug you are reporting?

Please realize that, as stated, it is impossible for us to work on your problem. You are not providing nearly enough details.

[2019-03-26 02:17] bitBiaoBiao commented on #324
@lemire First, thank you to my reply. It's all my mistakes, when I'm running my simple test code on a server environment, it was fixed and also good to run on my partner's compiled environment. It may be my compiler's problem, I will try my best to find the reason. By the way, RoaringBItmap is really great, I apologize for this intrusion.......T.T

[2019-03-26 03:21] lemire commented on #324
Closing.

[2019-03-26 03:21] #324 closed

[2019-04-03 21:10] #322 closed

[2019-04-03 21:58] lemire commented on #322
Part of release 0.8.0.

[2019-04-11 21:44] richardstartin commented on #108
@lemire I have a slightly different goal. The current format optimises for the ability to memory map, so has various variable length structures back to back (the runs bitmap, the keys and cardinalities, then the containers). Most bitmaps are used to encode the position of something and it's reasonable to optimise for the ability to append, whereas the current format prohibits this. I would like to

[2019-04-11 23:08] lemire commented on #108
@richardstartin I think I am missing details. An in-memory RoaringBitmap can be appended to. Obviously you know this...

[2019-04-12 05:49] richardstartin commented on #108
Not if it's immutable.

[2019-04-12 13:47] lemire commented on #108
@richardstartin Ok. Now I understand... but your approach would require scanning the whole data to answer queries like "contains?" and so forth, right? I am not opposed to it, but I think we have to lay down the tradeoffs.

[2019-04-12 17:31] richardstartin commented on #108
@lemire is memory mapping a goal in itself? The deserialiser would read the keys into an array of some description, and would need to decompress the containers rather than map them anyway. The win is being able to append to the serialised bitmap without deserialising the entire thing, and also it should be easy to stream the bitmap to a remote peer as it is being built.

[2019-04-12 18:01] lemire commented on #108
@richardstartin Would you be game to write up a design document?

[2019-04-13 09:34] richardstartin commented on #108
@lemire ok.

[2019-05-17 09:41] brucenan opened #331 "How to copy range value from one roaringbitmap to another object 's offset range?"
Is there any high performance method to copy a range(int x, int y) of RoaringBitmap to another Roaringbitmap object 's position (x+offset, y+offset)?

Now I copy it one by one bit in a loop, it seems too slow.

I found that RoaringBItmap.addoffset seems has the similar function ,but the parameter offset only be more than zero, that mean i can not move it to low position

[2019-05-17 12:21] brucenan commented on #194
the value of offset should only be >0 ?

[2019-05-17 20:58] lemire commented on #331
@brucenan
Something like the following should do?
[code]

[2019-05-17 21:04] lemire commented on #194
@brucenan That's correct. In an upcoming release, we will throw an exception if the offset is negative.

[2019-05-20 01:00] brucenan commented on #331
Thanks for your feedback.
But it seems that y still has a range at position(start, end). I want a y object that has range from (0, end-start+1) position, like a left shit operation.

[2019-05-20 13:58] lemire commented on #331
[code]

[2019-05-20 14:18] brucenan commented on #331
Thanks. Seems you've already reply in another issue, offset is only positive integer now.
Waiting for the next release for negative offset !

[2019-05-20 21:28] lemire commented on #331
We may allow negative offsets in the near future:
https://github.com/RoaringBitmap/RoaringBitmap/pull/332

[2019-05-20 21:35] lemire commented on #331
Shifting the data by arbitrary offsets is potentially expensive even with a good support from the library.  It means copying and moving lots of data. It is best if you can avoid it.

This being said, though I have not benchmarked the addOffset function, it should be 10x faster than doing it with iterators, at least.

Still: if you are constantly using the addOffset function, then you may want to r

[2019-05-21 13:46] mdouaihy opened #333 "Roaring intersect returns wrong result when passing an interval outside the range of the bitmap"
The following test fails. roaringBitmap.intersects(12, 14) returns true.
[code]

The error seems to be due to the last instruction in method intersects
highLowContainer.getContainerAtIndex(pos)
                               .intersects(0, (int)((supremum - 1) & 0xFFFF) + 1)

where the minimum is forced to 0.

[2019-05-21 20:57] mdouaihy commented on #333
Thank you @lemire  and @MagalieElOsta.

Do you think we can have a new patched release containing this fix soon?

[2019-05-21 21:03] lemire commented on #333
This issue is not verified as being completely fixed yet.

[2019-05-21 21:16] lemire commented on #333
https://github.com/RoaringBitmap/RoaringBitmap/pull/335

[2019-05-22 21:32] lemire opened #336 "Simplify and accelerate the maven build setup"
Currently building and testing takes a really long time. Furthermore, the build is fragile and easily breaks. We should reengineer the maven setup so that we can quickly test and rebuild the code.

This is a major quality of life issue.

[2019-05-23 18:04] lemire opened #337 "Make it possible to do a style check without having to compile the code"

[2019-05-24 19:24] #331 closed

[2019-05-24 19:25] lemire commented on #333
Hopefully now fixed with https://github.com/RoaringBitmap/RoaringBitmap/pull/335

Closing.

[2019-05-24 19:25] #333 closed

[2019-05-24 19:26] lemire commented on #331
It is now possible to use negative offsets.

[2019-05-24 19:58] lemire opened #340 "We cannot release due to JDK-8212233"
https://bugs.openjdk.java.net/browse/JDK-8212233 is blocking us.

With OpenJDK 11.0.3 and Oracle JDK 12.0.1, we get

[INFO] [ERROR] Exit code: 1 - javadoc: error - The code being documented uses modules but the packages defined in https://docs.oracle.com/javase/8/docs/api/ are in the unnamed module.
[INFO] [ERROR]
[INFO] [ERROR] Command line was: /Library/Java/JavaVirtualMachines/adoptopenjdk-11.j

[2019-05-24 20:18] lemire commented on #333
Please see
https://github.com/RoaringBitmap/RoaringBitmap/issues/340

[2019-05-24 20:35] richardstartin commented on #340
Is it worth rolling back? We would lose the vectorised equals but that's about it, and the build would be simpler.

[2019-05-24 21:47] shipilev commented on #340
I don't quite understand, do you mean JDK-8212233 *regressed* the builds for you? It might be just that the failure message is similar to what JDK-8212233 is fixing. Anyhow, if you read the description there, you would see: "UPDATE: For the projects that use source/target 8, adding <source>8</source> in javadoc configuration makes the project buildable on jdk {11, 12, 13}..."

So, I checked out Ro

[2019-05-24 21:59] shipilev commented on #340
...plus, I made that suggestion the first paragraph in JDK-8212233 description and made the first sentence in all caps -- hopefully it would be more distinct for the casual readers.

[2019-05-24 22:15] richardstartin commented on #340
Is it worth retrying #311?

[2019-05-24 22:20] shipilev commented on #340
@lemire: It seems your attempt borked the POM: duplicate </plugin>
@richardstartin: Passing source=8 when project source/target=8 (as RoaringBitmap pom.xml does) is a known configuration tweak for new Javadoc (whether we like it or not...). It seems to resolve compilation issues for me. Note #311 does it only for "release" profile, it is better to be in "<pluginManagement>" to be captured for ever

[2019-05-24 22:26] lemire commented on #340
@shipilev Your fix works!!!

Recopied from Twitter:

I mean... what is the point of this error in the first place?

[2019-05-24 22:26] lemire commented on #340
Closing thanks to @shipilev

[2019-05-24 22:26] lemire commented on #340
clap! clap! clap!

[2019-05-24 22:27] lemire commented on #333
Fixed in RoaringBitmap-0.8.5.

[2019-05-24 22:27] lemire commented on #331
Fixed in RoaringBitmap-0.8.5.

[2019-05-24 22:27] #340 closed

[2019-06-03 06:31] brucenan opened #344 "Any efficient solution for serializing RoaringBitmap Arrays with Kryo?"
Any efficient solution for serializing RoaringBitmap Arrays with Kryo?

[2019-06-03 11:52] lemire commented on #344
Kryo usage is documented in the README.md file.

Reopen if the README does not answer your question.

[2019-06-03 11:52] #344 closed

[2019-06-20 18:55] lemire opened #345 "Dropping support for Maven Central and bintray"
Up until now, we have been posting our release on maven central. However, it is not clear that this is a well-maintained, serious platform at this point in time. Uploads fail constantly for seemingly random reasons. I am asking for advice regarding the possibility of dropping the maven central as an output point.

https://github.com/RoaringBitmap/RoaringBitmap/pull/343

What would be a good altern

[2019-06-20 18:55] lemire commented on #345
cc @richardstartin

[2019-06-20 19:49] brharrington commented on #345
Skimming #343, is the proposal that it would only be published to jcenter? Or that it would not be available via a public maven repo?

Only publishing to jcenter would be fine for my use-cases. Though I'll note it also has problems on occasion (e.g. https://github.com/akka/akka-http/issues/1972) so I wouldn't argue it is rock solid either. That said, jcenter is often not configured by default in b

[2019-06-20 20:02] lemire commented on #345
That's a possibility, yes.

I am sure that's true but Maven Central is a bit of a joke right now, as far as publishing artefacts goes. It looks very much like an unmaintained system. It is almost surely the case that jcenter will be better.

That's not in the cards. We definitively do not want folks to have to build their own jars or to download jar files manually.

Let us not go back to 1990.

Th

[2019-06-20 20:07] richardstartin commented on #345
I'm not thrilled by the prospect of dropping maven central, to be honest. It may be "a joke" but it's also widely trusted and accessible behind corporate firewalls. On the other hand, by all reports maven central is painful for @lemire so I understand the incentive to shop around.

[2019-06-20 20:19] lemire commented on #345
@richardstartin  Well, if someone is willing to help us with the pain I am quite willing to keep supporting Maven Central... but... we'll need help. Here is the last message I got trying to upload our jar there...

[code]

Do you know what this means? I sure don't. The previous error was something about missing source jar files in shims. And before that we had missing MD5 files... I can keep going

[2019-06-20 20:26] richardstartin commented on #345
@lemire that was more or less my point. I certainly wouldn't want to take on the responsibilty of releasing, because it's time consuming and error prone, but as a user, maven central is the golden source, so my position is quite selfish and I understand if you prioritise your time and sanity...

[2019-06-20 20:38] lemire commented on #345
Incredible. I kept trying and it eventually went through... release 0.8.9 is now on maven central.

No clue why the previous attempts failed.

[2019-06-20 20:39] marshallpierce commented on #345
I didn't change anything... that's, uh, confidence inspiring? :(

[2019-06-20 20:59] lemire commented on #345
@marshallpierce Right?

You can think that I am doing stupid things and being a moron... but this is literally just button pressing and anyone can verify that we did nothing but keep on pressing on the button.

There is obviously bad code in the infrastructure. Or else, the systems are just overloaded...

[2019-06-20 21:26] blacelle commented on #345
I am definitely in favor of keeping m2-central in the loop.

@lemire Could you remind here your Maven release process/commands ?

[2019-06-20 21:34] lemire commented on #337
Solved with gradle.

[2019-06-20 21:34] #337 closed

[2019-06-20 21:34] lemire commented on #336
No more maven.

[2019-06-20 21:34] #336 closed

[2019-06-20 21:52] lemire commented on #345
@blacelle

It used to be...

[code]

This would fail about half the time in various ways. That's why if you go through our release numbers on maven, you'll see us jumping from one version to another.

We have since moved to gradle (just now) because it is about 10x faster and easier than maven (which is about as speedy as a garbage truck). Currently, we upload to bintray... that's fast and painles

[2019-06-20 21:56] lemire commented on #345
@blacelle I submit to you that a random error when issuing a release is simply unacceptable. Two random errors in sequence is tragic. Several and you should not be taken seriously ever again.

[2019-06-21 17:17] richardstartin opened #346 "Leaner 64 bit bitmap"
Because the existing 64 bit bitmap implementation aims to optimise for rank calculations, it can get quite large when there is a good number of distinct top level keys. The "roaring 2 levels" idea presented [here](https://r-libre.teluq.ca/930/1/Roaring64bits.pdf) might be better suited for bitmaps used mostly in boolean circuits.

[2019-06-21 17:19] richardstartin opened #347 "64 bit aggregations"
It would be useful if it were possible to aggregate 64 bit bitmaps in parallel and sequentially, with an API consistent with `FastAggregation` and `ParallelAggregation`.

[2019-06-21 18:38] richardstartin commented on #346
Here's a quick demonstration of the problem of the overhead per key with a relatively sparse bitmap (1% full). There is same number of bits, but one bitmap has 1024 keys, the other has just 1.

[code]

[code]

With a relatively modest number of keys (1024), we get (328548552 - 326459560) / 1024 / 1024 = 2MB overhead on 300MB. Some of this comes from the helper data in the root of the bitmap, but s

[2019-06-21 19:09] lemire commented on #347
How do we make this easier?

[2019-06-21 19:23] lemire commented on #346
Yes. Sure. So you are suggesting we create a new RoaringBitmap64, or something of the kind... for applications where Roaring64NavigableMap is a bad fit?

[2019-06-21 20:00] richardstartin commented on #346
Something like that - this isn’t to detract from the existing solution and would be complementary. I think it might be worth gambling that the middle 32 bits are more similar than the bits at either end. This pattern occurs when you have universal identifiers built by combining a per system prefix with identifiers generated from e.g. a database sequence.

[2019-06-21 20:08] lemire commented on #346
Agreed.

[2019-06-21 20:45] richardstartin commented on #346
Do you have ideas about how to achieve compression that focuses on deduplicating storage used for the middle bits of a set of integers, rather than a hierarchical prefix compression?

[2019-06-21 20:48] lemire commented on #346
My instinct in these cases is to first get representative data and do experiments.

[2019-06-24 16:59] richardstartin opened #349 "(De)serialize 64 bit bitmap to ByteBuffer"
This would be consistent with the API for 32 bit bitmaps. The challenge is that a 64 bit bitmap could be much larger than 2GB with unfortunate data.

[2019-07-05 06:49] brucenan opened #350 "Higher performance requirement about the codes based on RoaringBitmap"
I've designed a Bit-Sliced Index based on RoaringBitmap, which use 32 RoaringBitmap objects to store many 32bit Integers. Now I want to get all distinct integers from these bitmaps and store them to s1. Below is the code:
[code]
Outer loop is from left to right to locate each columns, and inner loop to get the stored integer value, then set it to s1 (The same values are stored in same position in

[2019-07-05 07:00] ppiotrow commented on #350
Seems you're just iterating over values in the `mrbs` bitmap limited from `start` to `end`. I'd rather try iterator methods like `getIntIterator()`. Also no idea what is `s1`: if it's RoaringBitmap then you can even more effective just by copying.

[2019-07-05 07:07] brucenan commented on #350
mrbs includes 32 roaringbitmap objects, forEach or Iterator only get one object's iterator. Here is should fix the position for these 32 objects, one bit by one bit. Both 0 or 1 in each position impacts the stored value.

[2019-07-05 07:13] richardstartin commented on #350
If you are implementing a BSI can you reduce the slices to an intermediate bitmap before iteration over that intermediate bitmap? Are you trying to save memory?

[2019-07-05 07:21] richardstartin commented on #350
If you reduce your problem to one where you can iterate, try batch iterators. Druid is [experimenting](https://github.com/apache/incubator-druid/pull/6794) with using them and got [good performance gains](https://static.imply.io/gianm/vb.html) from the vectorised approach in general.

[2019-07-05 12:17] lemire commented on #350
Is that true? You do a check for "contains" and then do something if true, but you do nothing if false.

[2019-07-06 09:54] richardstartin opened #351 "Define serialisation format for 64 bit bitmaps"
I notice a disclaimer [here](https://github.com/RoaringBitmap/RoaringBitmap/blob/master/RoaringBitmap/src/main/java/org/roaringbitmap/longlong/Roaring64NavigableMap.java#L911) that the serialisation format of `Roaring64NavigableMap` is undefined and subject to change. I would like to be able to serialise a 64 bit bitmap, and trust that I will always be able to deserialise it. One challenge is not

[2019-07-07 03:48] brucenan commented on #350
Below code is to get one stored value.
[code]
For example, an Integer 8 with binary format 1000.   The code get 1 at 3rd roaringbitmap, set right shift operation to 1<<3 = 8, for left 3 binary position, the value is zero. The code can skip them at all.

[2019-07-07 12:32] lemire commented on #350
@brucenan So I am going to close this. I think you should try to use iterators, possibly batch iterators, and then report back if you still have problems.

Note that converting from a bit sliced index back to the original data is never going to be cheap. A bit sliced is useful to do number crunching quickly... but if you need to convert back, it is always going to be slow... so you should avoid th

[2019-07-07 12:32] #350 closed

[2019-07-08 22:22] lemire commented on #351
Indeed. I think that defining a good 64-bit format would be important work.

[2019-07-17 21:14] richardstartin opened #352 "Efficient RoaringBitmap.orNot operation"
A method `orNot` which takes two parameters, another bitmap and an exclusive maximum element would result in the current bitmap containing any bit currently set in the bitmap, or any bit less than the limit not set in the parameter bitmap, modifying the bitmap in place.

A static method would take two bitmaps and an exclusive maximum element as input, and create a new bitmap containing any bit les

[2019-07-17 21:17] lemire commented on #352
+1

[2019-07-31 18:39] subprotocol opened #353 "JDK1.8 Support"
The 0.8.9 build in maven central does not work with my project which has a dependency on roaring.

I found this because 0.8.9 appears to have been compiled with jdk > 1.8 (which my project uses).  In 1.9 they changed Buffer slightly. for more details: https://stackoverflow.com/questions/48693695/java-nio-buffer-not-loading-clear-method-on-runtime

I see this error at runtime:

[code]

Scanning ope

[2019-07-31 19:07] lemire commented on #353
Thanks for reporting this issue. I definitively consider this as a bug.

Why do you expect that this is a bytecode issue? It looks to me more like an issue with the standard library.

Regarding bytecode, our gradle build is configured in this manner...

[code]

[2019-07-31 19:52] subprotocol commented on #353
Ahh I see, you are correct. As a sanity check I confirmed that the 0.8.9 artifact in maven was indeed targeted to 1.8.
[code]

I agree this is an issue with the standard library.

Doing some digging this is the path that I see-
1. Cast to Buffer in all appropriate places
2. It looks like they added --release for this very issue. http://openjdk.java.net/jeps/247   so `--release 8` would need to be

[2019-07-31 19:54] lemire commented on #353
@subprotocol

Please do.

[2019-07-31 19:54] lemire commented on #353
I have marked this as a bug. It is bad.

This should never happen in the future.

[2019-07-31 21:59] richardstartin commented on #353
This was previously addressed in the maven build in #288.

[2019-07-31 22:16] lemire commented on #353
@richardstartin You are correct Richard... which is why I am surprised it is an issue... I thought we solved this...

[2019-07-31 22:55] subprotocol commented on #353
Looking at #288, the pom.xml does specify `<javac.release>8</javac.release>`, so this makes sense that it works there and not here.

It appears the only challenge then is to find a way to get gradle to accept a --release argument.  I am finding this exceedingly difficult to do!

https://github.com/gradle/gradle/issues/2510

Specifying it on the compilerArgs is easy, but I then run into the same is

[2019-07-31 23:06] lemire commented on #353
@subprotocol

It makes sense that we lose the checks, but it does not follow that we would lose backward compatibility. There has been few changes since we moved to gradle.

[2019-07-31 23:20] lemire commented on #353
Adding the release flag is easy...

https://github.com/RoaringBitmap/RoaringBitmap/pull/354

Why won't it pick up any issue?

@subprotocol  Can you explain *why* our code is not valid Java 8? I wrote this code... It is many years old... written back in Java 8 time...

[2019-08-01 00:44] subprotocol commented on #353
I can confirm your change in #354 resolves my build issue in my 1.8 project (yay!)

The code is valid.  The issue is only with the bytecode.  For example, this changed between JDKs-

JDK1.8-
`Buffer position(int)`

After JDK1.8 the sub-classes of Buffer now have methods overriden with different return types. so now ShortBuffer has this on it-
`ShortBuffer position(int)`

The bytecode from a newer

[2019-08-01 01:03] lemire commented on #353
Ok. Issuing a release. Thanks for reporting the issue.

Meanwhile, I found out that we can build our project with Java 8! (This hasn't been possible in quite some time.)

[2019-08-01 01:03] #353 closed

[2019-08-01 01:07] subprotocol commented on #353
Thank you!

[2019-08-21 16:50] mdouaihy commented on #352
@richardstartin, would it be ok if it's implemented as an or(not()) in each container?

[2019-08-22 19:30] richardstartin commented on #352
You would also need to put in full containers anywhere neither input bitmap has a container too. I think it should be possible to do it without unnecessary materialisation, but using existing or and not might have advantages over the best option a user has at present.

[2019-08-28 20:15] mdouaihy commented on #352
https://github.com/RoaringBitmap/RoaringBitmap/pull/355 pushed for that purpose.

[2019-08-28 20:49] richardstartin opened #356 "Remove gradle jmh plugin"
I just wrote a quick benchmark for #355 and noticed how complicated it is now to activate JMH profilers and it's impossible to select a benchmark from the command line now. In my opinion this is a big step backwards.

[2019-08-28 21:07] richardstartin commented on #356
Just build it as a regular module, then we get a jar. I think having a JMH plugin for the build is a nice idea, but in reality, these benchmarks are impractical to run in their entirety or on an repeated basis, and the appropriate parameters vary depending on what the person running the benchmarks wants to find out from the run, which varies from run to run. Is this an eccentric opinion?

[2019-08-28 21:18] richardstartin commented on #356
Actually, having dug a bit deeper, I think it's OK to keep this in place, I just don't see any use for it. I will submit a PR to ensure the shaded benchmarks jar is Multi-Release though.

[2019-08-28 21:20] marshallpierce commented on #356
I don't have any use for it as part of the gradle build in my own projects; I just build the jmh jar and go from there...

[2019-08-28 21:52] richardstartin commented on #356
Indeed. This is probably the simplest way to build the benchmarks jar, `jmh` is just not a very useful gradle task.

[2019-08-28 21:52] #356 closed

[2019-08-28 22:44] lemire commented on #356
Can we improve the documentation regarding JMH?

[2019-08-28 22:48] marshallpierce commented on #356
I think "run `./gradlew jmhJar` and then run the jar as per JMH's docs" is a pretty reasonable suggestion. :man_shrugging:

[2019-08-30 01:34] lemire commented on #356
Thanks. I updated our documentation to match...

https://github.com/RoaringBitmap/RoaringBitmap#benchmark

[2019-09-04 17:54] lemire commented on #352
Closing as per https://github.com/RoaringBitmap/RoaringBitmap/pull/355

[2019-09-04 17:54] #352 closed

[2019-09-05 00:43] jihoonson opened #358 "NPE in ContainerAppender.appendToUnderlying()"
Hi, I'm using Druid and recently saw the below error.

[code]

It seems like `container` was null [here](https://github.com/RoaringBitmap/RoaringBitmap/blob/master/RoaringBitmap/src/main/java/org/roaringbitmap/ContainerAppender.java#L126), but not sure how it could be null.

Here is the code of `WrappedRoaringBitmap.iterator()` in Druid. [It just calls `RoaringBitmapWriter<MutableRoaringBitmap>.ge

[2019-09-05 00:48] lemire commented on #358
Ping @richardstartin !

[2019-09-05 01:38] richardstartin commented on #358
Is this related to unsynchronised multi threaded access?

[2019-09-05 02:03] richardstartin commented on #358
@jihoonson does Druid iterate over bitmaps that are being built on a different thread to the one building the bitmap without synchronising reads and writes? This may have been benign before (the reads via the iterator would just have been racy) but since I added bitmap writers to Druid getting an iterator has the side effect of flushing any pending changes to the bitmap being built. I don’t think

[2019-09-05 03:33] jihoonson commented on #358
@richardstartin thanks for looking at this issue. I don't think reads and writes are happening without synchronization. The write thread is different from the read thread, but the read operation (persist operation in Druid) happens only when all write operations (indexing operation in Druid) are finished.

[2019-09-05 06:53] richardstartin commented on #358
Ok, but as you point out yourself, null is never assigned to the container, so your stack trace shouldn’t be possible without some kind of JMM violation.

I doubt it’s related but #359 stops the appended from capturing the container builder so it would save some memory if you pick up the release after it merges.

[2019-09-07 17:23] richardstartin opened #360 "Releases not making it to maven central"
0.8.10 and 0.8.11 are not at [maven central](https://search.maven.org/search?q=g:org.roaringbitmap%20AND%20a:RoaringBitmap&core=gav). What is the sync time from bintray?

[2019-09-07 20:22] lemire commented on #360
I can make you an admin in the RoaringBitmap org. on bintray.

Meanwhile... here is the answer back from maven central (the number, here 1166, increments by one with each attempt):

[code]

I don't know what it means.

[2019-09-07 20:23] lemire commented on #360
Just give me your user name on bintray.

[2019-09-08 15:07] richardstartin commented on #360
Usename = richardstartin

[2019-09-08 15:42] lemire commented on #360
@richardstartin You have been invited.

[2019-09-08 15:45] lemire commented on #360
Note: at this time, it is still not synced. It is unclear how this is all supposed to work. I am not sure that the maven repo. is maintained by anyone at this time.

[2019-09-08 16:57] richardstartin commented on #360
I’m not convinced of the merits of publishing to jcenter. As far as most projects and enterprises are concerned, a Java library doesn’t exist unless it is in Maven Central. Does the release take the right approach?

[2019-09-08 17:10] richardstartin commented on #360
Somehow [shims](https://search.maven.org/artifact/org.roaringbitmap/shims/0.8.11/jar) made it, but not RoaringBitmap.

[2019-09-08 17:19] richardstartin commented on #360
It's there now: https://search.maven.org/artifact/org.roaringbitmap/RoaringBitmap/0.8.11/jar

Did you do something or do we need to be aware that the sync takes days?

[2019-09-08 17:49] lemire commented on #360
@richardstartin

I did not do anything in last 20 hours or so.

[2019-09-08 17:51] lemire commented on #360
I can see the logic of that as far as users of Maven Central go. For people actually pushing bits to Maven Central, the experience is subpar engineering. Random failures. No visible logging... so you can't track release, see how long they take and so forth.

This has nothing to do with JCenter. We had exactly the same problem prior to using JCenter... failed or delayed releases...

[2019-09-08 18:14] richardstartin commented on #360
Fair enough. It shouldn’t take days, and 0.8.10 still hasn’t arrived (not that it particularly matters now), but ease of use should trump latency concerns.

[2019-09-08 18:44] lemire commented on #360
@richardstartin I don't think we disagree.

I seek solutions...

[2019-09-09 15:15] leventov commented on #358
I believe this is a bug in Druid, I've created https://github.com/apache/incubator-druid/issues/8492 to track it.

[2019-09-09 15:21] lemire commented on #358
@leventov I am going to close this issue here, re-open if we can be traced back to Roaring.

[2019-09-09 15:21] #358 closed

[2019-09-14 14:39] qblyy opened #361 "What does contains(long minimum, long supremum) mean?"
import org.junit.Assert;
import org.junit.Test;
import org.roaringbitmap.RoaringBitmap;

public final class Test1a {
	@Test
	public void testContains() {
		final RoaringBitmap bs = new RoaringBitmap();
		bs.add(1);

		Assert.assertFalse(bs.contains(0, 1));
		Assert.assertTrue(bs.contains(1, 2));
		Assert.assertTrue(bs.contains(1, 100));//Fail
	}
}

I think bs should  intersects with [1, 100), am I

[2019-09-14 14:43] lemire commented on #361
It checks if the bitmap contains the range. In your case, it checks whether the bitmap contains [0,100). The bitmap containing the sole value 1 does not contain the range [0,100).

Yes. So you should get that `bs.intersects(1,100)` is true.

Please open an issue if this is not the case.

I am going to close this issue, reopen if I did not answer your question.

[2019-09-14 14:43] #361 closed

[2019-09-14 14:50] qblyy commented on #361
Thank you. I think the boolean org.roaringbitmap.RoaringBitmap.contains(long minimum, long supremum) JavaDoc is wrong.

It should be:
@return whether the bitmap contains the range

[2019-09-14 14:55] lemire commented on #361
You are correct. I just committed a fix.

[2019-10-13 17:35] richardstartin opened #363 "Investigate possible benefits of implementing java.util.Iterator"
Often allocations of iterators and iterator like objects are not eliminated because methods constructing the iterator appear right before an expensive block of code (the iteration itself) so according to profiling data, the iterator construction method looks cold, and won't be inlined. Backported from JDK14, there is a heuristic to handle this case (see [JDK-8223504](https://bugs.openjdk.java.net/

[2019-10-14 15:18] lemire commented on #363
What do we know about the current handling of our code by the most recent JDKs? I am not an expert in the JDK, but surely it can do things like escape analysis?

[2019-11-20 17:57] richardstartin commented on #363
It does, but profiling informs the analysis. Because allocation of an iterator is usually associated with a subsequent loop, the allocation of the iterator may not be hot enough for the analysis to actually happen. The ticket I linked describes a new heuristic where any call site where a method called iterator produces a subclass of Iterator will be analysed automatically. I did an experiment, but

[2019-11-20 17:57] #363 closed

[2020-01-09 15:29] weijietong opened #366 "Roaring64NavigableMap serialized binary format is not compatible with CRoaring's 64bit version"
As described by the tile, the serialized 64bit bitmap binary format  is not compatible between java and c++.
The java version's serialization does not solve the bit order of java's int, also has boolean wrote which does not appeared at the c++ version.

[2020-01-13 22:45] lemire commented on #366
That’s to be expected since the interoperability guarantee only applies to the Roaring format which is 32-bit.

Contributions are invited.

[2020-01-21 14:35] rajcspsg opened #367 "RoaringBitmap is serialized to different string using node and java"
I'm using roaring bitmaps to store arrays of values.

When are using nodejs application to create and serialize the bitmap. And java application fetches the serialized string and recreates the bitmap.

Below is the node js code -

[code]

Below is the output -

[code]

Below is the java code -

[code]

The output of the java code is -

[code]

My question is why the bitmap with same contents produ

[2020-01-21 16:46] lemire commented on #367
I think that the documentation of the Node wrapper explains it... Please see file roaring-node/index.d.ts, the method serialize takes a flag (portable) which defaults to false. So you want to call bitmap2.serialize(true).

Reopen if this does not solve your issue.

[2020-01-21 16:46] #367 closed

[2020-01-21 18:44] rajcspsg commented on #367
@lemire Thanks that solved my issue.

[2020-01-21 18:56] lemire commented on #367
@rajcspsg  Consider commenting at https://github.com/SalvatorePreviti/roaring-node/issues/23

[2020-01-27 23:16] richardstartin opened #369 "Can RunContainer numberOfRuns and ArrayContainer cardinality be smaller?"
It just occurred to me that there can only be 2048 runs in a `RunContainer` and only 4096 values in an `ArrayContainer` - could `numberOfRuns` and `cardinality` be `short`s? Whenever they are used as array indexes, this will lead to zero extension to a 32 bit integer, which will have a small performance impact. Has this tradeoff been considered before?

[2020-01-28 19:56] lemire commented on #369
Once serialized, we do use only 16-bit values to indicate the number of runs and the cardinality (of any/a) container. It may or may not be so tight when implemented in memory. (It is not, actually!)

Are you thinking about saving 2 bytes here and there?

I don't think that the zero extension would prove to be a bottleneck, but it may make the code slightly more difficult to deal with in Java sinc

[2020-01-28 20:23] richardstartin commented on #369
Yes.

Well, there's `char`...

[2020-01-28 22:30] lemire commented on #369
Yes. You are correct: `char` would work. It would be better than `short` for sure.

It is unclear to me whether there would be any benefit in practice, but I am certainly open to the idea that there might be.

[2020-01-28 23:27] Maaartinus commented on #369
I'm not that sure. It's surely less error-prone as you can't forget ensuring the zero extension. OTOH I'd bet that `int x = aChar` takes exactly as long as `int x = aShort & 0xFFFF` (I haven't measure it). Semantically, I find `char` used as a number rather confusing (in Java)... but given that you're hardly ever dealing with chars, that's not too bad.

[2020-02-04 04:25] rajcspsg commented on #367
sure @lemire

[2020-02-20 11:09] maximiliend-s4m opened #370 "Bug on equals methods with runOptimize"
Hello,

I think the equals method is bugged. In fact after a call on runOptimize two differents Roarings are considered equals.

**Code :**
[code]
Note: if you change some values on rbB or rbA, the bug can disappear.

**Expected** : `false, false`
**Got** : `false, true`

**Version:** 0.8.12
**Java:** 12 OpenJDK

[2020-02-20 13:37] richardstartin commented on #370
@maximiliend-s4m will submit a fix soon.

[2020-02-20 14:10] #370 closed

[2020-02-26 17:03] JohannesLichtenberger opened #372 "RoaringBitmap of small universe vs. BitSet"
Hi,

I guess it makes little sense to use RoaringBitmap for a small universe, for instance 512 or 1024 at most (size of entries in a trie-structure of a temporal data store, for child-pointers).

Kind regards
Johannes

[2020-02-26 17:05] JohannesLichtenberger commented on #372
And also for storing, which records out of the 512 or 1024 are present in a data page fragment (variable sized).

[2020-02-26 17:42] JohannesLichtenberger commented on #372
Okay, just from running my unit (or more or less most of them are actually rather integration tests) I got the impression, that it's indeed way slower using RoaringBitmap (but didn't make any Benchmarks).

[2020-02-26 18:34] lemire commented on #372
I think that this is addressed in the README:

[code]

I am going to close this issue since I feel it is already addressed.

[2020-02-26 18:34] #372 closed

[2020-02-26 19:35] linasmwix commented on #281
Upvoted. FYI Bit Set (in general) shifts are also useful for subset sum / knapsack type of problems.
Although there are more efficient (in terms of complexity) solutions, Bit Sets can do wonders to the constant factor.

[2020-02-26 20:03] lemire commented on #281
Thanks for pinging this issue. It has been implemented quite some time ago as `addOffset`.

Closing.

[2020-02-26 20:03] #281 closed

[2020-03-12 13:20] weijietong commented on #346
@richardstartin @lemire  I am also interested in this 64 bit bitmap topic.  The current Roaring64NavigableMap implementation payed lots of space the TreeMap Integer keys.  To my case, I need to store lots of positive long value which represents user_id in the Roaring64NavigableMap.  I want to know do we have a more compressed way to solve it ?

 I don't know the language of the paper @richardstart

[2020-03-12 14:26] richardstartin commented on #346
@weijietong

"RoaringTwoLevels" is like RoaringBitmap but stores the high 48 bits in the keys, leaving 16 bits in the key to store the cardinality in, so they it can be moved out of the container. This means:
- cardinalities can be calculated without accessing the containers
- inequality can usually be checked without accessing the containers

Everything else works just like a RoaringBitmap. In Ja

[2020-03-13 07:57] weijietong commented on #366
would be glad to do that. But the 64 bit version seems still have evolution space . just hold on this.

[2020-03-14 02:11] weijietong commented on #346
Thanks for the explanation! @richardstartin @lemire  do you have plan to implement the TEB container ? we could cooperate to implement that.

Another question about Roaring64NavigableMap why we choose to use TreeMap to store the key value map. If we store the interger keys in long[]  , values in the BitmapDataProvider[], then we could save the java object footprint  occupied by the TreeMap.Entry a

[2020-03-14 09:51] blacelle commented on #346
I did not know an easy way to keep the long[] ordered while inserting a new container (by easy? I mean I was not ready to implement the relevant algorithm). It is definitely doable, and compatible with existing Serialization format (even if Serialization shall evolve to become compatible with other implementations (others languages, and other implementation as discussed here))

[2020-03-14 10:17] weijietong commented on #346
@blacelle I am not sure I got you.  What I doubt is that the RoaringArray implementation doest the same thing to keep a key , container pair map by using a short [] array ,Container[].  It sorts the inserted int number's hight part which is the key using binary search. So I wonder why we choose the TreeMap to keep the hight part integer key ,low part RoaringBitmap value.

[2020-03-14 10:22] richardstartin commented on #346
@weijietong he was just saying it was easier and moved the cost/benefit ratio of the contribution in favour of actually doing it.

[2020-03-14 10:29] weijietong commented on #346
@richardstartin  OK. Thanks. So what do you think about the two things :
1st:  adding a TEB container.
2nd: the Roaring64NavigableMap could have a jvm better way to store the key value pair.

[2020-03-14 10:30] weijietong commented on #346
The two things  are independent.

[2020-03-14 10:43] richardstartin commented on #346
I would suggest creating a new 64 bit bitmap instead of modifying Roaring64NavigableMap.

- there might be dependencies on its serialisation format
- it has non negligible overhead associated with it having been optimised for Benoit’s use case (tank/select)

The new implementation should be as lean as possible and optimised for unions, intersections, and differences, in my opinion.

I think it wou

[2020-04-07 08:39] incaseoftrouble opened #376 "Corner cases in orNot"
Found a quite straightforward bug:

[code]

This throws an `ArrayIndexOutOfBoundsException` for all `len >= 3` and `orLen == len` (funnily enough, the error does not occur if `orLen != len`).

Trace:
[code]
Tested with 0.8.14

[2020-04-07 08:57] incaseoftrouble commented on #376
Another, probably related bug:

[code]
With `i > 0`, `test.toString()` yields `{0}`, expected `{i}` (`0` should definitely not be in there)

Also `test.last()` throws a `NoSuchElementException` despite `test.isEmpty() == false`.

[2020-04-07 09:43] incaseoftrouble commented on #376
Confirming one more point
[code]
I would expect this to print `{5,6,7,8,9,20,..,30}`, however it prints `{5,6,7,8,9}`. If this is intended this should be documented, all other range-based operations do not modify the set outside of the given range.

[2020-04-07 10:34] incaseoftrouble opened #377 "Error in remove(from, to) for run encodings (?)"
I seem to find a lot of things today :D

First, the bug:

[code]

Both asserts fail (actually `test = {30}`).

I suspect this is due to an offset error. The test succeeds if:
 * instead of `test.add(0L, 64L)` the indices are added one-by-one (then array representation instead of run compression is used I guess?), i.e. `for (int i = 0; i < 64; i++) test.add(i);`
 * `test.remove(0L, 32L)` instead of

[2020-04-07 11:04] richardstartin commented on #377
I can probably fix this this afternoon BST if you don't have a fix.

[2020-04-07 11:58] incaseoftrouble commented on #377
I may have found a fix, indeed an off-by-one error.

However, I'm quite surprised that this didn't occurr more often, the branch which my fix targets seems rather common.

[2020-04-07 12:02] richardstartin commented on #377
On the contrary I doubt remove is battle hardened, I wouldn't be surprised to find that most users only ever append bits, if the bitmaps are modified at all.

[2020-04-07 17:18] #377 closed

[2020-04-07 17:27] lemire opened #382 "Testing performance when doing a single test is super slow"
Suppose that I want to run just one test. Let us leave IDEs and their configuration aside, I just want to use the canonical gradle way...

[code]

It is basically burning cycles like there is no tomorrow... this is like bitcoin mining but you do not get any bitcoin.

[2020-04-07 17:37] lemire commented on #382
This completes in second if we avoid expensive parametrized classes in our tests.

See https://github.com/RoaringBitmap/RoaringBitmap/pull/383

[2020-04-07 17:38] lemire commented on #382
[code]

[2020-04-07 19:27] lemire commented on #382
Tested in https://github.com/RoaringBitmap/RoaringBitmap/pull/384

[2020-04-07 19:43] lemire commented on #376
Can you elaborate? This does not sound wrong to me. You are specifying that your universe is [0,10).

[2020-04-07 19:51] lemire commented on #376
OrNot is a recent addition by   @mdouaihy reviewed by @richardstartin... can you guys have a look at this issue?

[2020-04-07 21:24] richardstartin commented on #376
I will look at it tomorrow.

[2020-04-07 21:49] #382 closed

[2020-04-07 21:50] lemire opened #388 "JDK14 breaks out build"

[2020-04-07 21:51] lemire commented on #388
See https://github.com/RoaringBitmap/RoaringBitmap/pull/387

[2020-04-07 22:04] incaseoftrouble commented on #376
Aha! We are interpreting this differently, interesting. Lets say the call is `one.orNot(other, len)`. In my opinion, `len` specifies the length of the universe of `other`, not of `one` (its giving the universe of the `not` part, i.e. the domain relative to which `other` is "complemented"). The current behaviour feels like two operations thrown into one (truncate `one` to len + bitwise orNot).

I d

[2020-04-07 22:34] richardstartin commented on #376
I have made a PR fixing these bugs, keeping and clarifying the current interpretation of `rangeEnd` as a universe size, and fixing the other bugs. I influenced this choice because it suited the use case I had in mind, but I never ended up using this method. So I imagine it could be changed not to truncate when `rangeEnd < this.last()` without disrupting anybody.

[2020-04-07 22:45] lemire commented on #376
I expect that there are few users, especially of the corner cases we are discussing, so breaking the behaviour, in this particular case, is acceptable, especially if it is documented.

[2020-04-07 22:47] richardstartin commented on #376
But should we? The point of the `rangeEnd` parameter is to represent a universe size. Would calling it `universeSize` improve things?

[2020-04-08 06:45] incaseoftrouble commented on #376
My opinion: Its a universe size in either cases, it only depends on which set this universe belongs to. From a practical point of view, I feel that truncating is a separate operation and thus should be separate.

In my use case, I'd actually need both variants but the truncation is easier to simulate with the given API. As mentioned above, having a `rangeCopy` or similar would be helpful.

[2020-04-08 09:26] richardstartin commented on #376
Regarding the current semantics, and what "universe size" means, I think it covers the way most people would want to use it, within a bitmap index: you have an array with N records in it, indexed by some bitmaps, you call `orNot` with `rangeEnd=N`, rather than have the library assume N=2^32 (using lots of memory). That is, `universeSize` is a property of the _output_ rather than the inputs.

I thi

[2020-04-08 09:42] incaseoftrouble commented on #376
Sorry I don't get the first point. Why wouldn't I want the universe size on every other operation aswell then? In my understanding, the universe size is only there to make the complement sensible, otherwise you would union with a (theoretically) infinite set. For me, `A.orNot(B, n)` means `A \union ({0, ..., n-1} \setminus B)`. But I don't have a strong opinion as long as it is documented, so its

[2020-04-08 09:56] richardstartin commented on #376
If you have a set of bitmaps all with a max element below N, you can never create a bitmap with an element above N with any other operation. You can do that two ways: define a range to complement the second bitmap within, or truncate the output. I would argue that truncating the output (existing semantics) is more consistent with other operations.

[2020-04-08 10:08] incaseoftrouble commented on #376
I'm not sure about consistent. `flip`, for example, also is a bitwise operation which has a range and does not truncate the output (arguably its a unary operation). I guess both choices are fine since orNot simply is such a "special" operation in the sense that `0 ORNOT 0 = 1` and there currently is no other such operation, so there probably is not much to compare to in terms of consistency.

[2020-04-08 10:24] richardstartin commented on #376
No I'm convinced now, it's more general not to truncate; we can have both. We can probably simplify the code a lot too, I'll try to do it later today unless @lemire objects.

[2020-04-08 14:37] lemire commented on #376
I do not object.

[2020-04-08 16:03] lemire opened #390 "Establish a progressive way to allow new features"
RoaringBitmap is a stable and well tested library used in major systems (without fault). It is mature, deployed in large commercial setups.

However, recently, @incaseoftrouble brought to light some bugs in recently introduced features. This is a troubling contrast.

I think we need to move to a more careful model where new features (submitted via pull requests or otherwise) are marked in some way

[2020-04-08 18:54] #388 closed

[2020-04-08 21:41] incaseoftrouble commented on #390
Thanks for the mention!

Two notes on this:
 * Google (at least Guava and, I think, GWT) does this with `@Beta` annotations, marking less mature, potentially changing API, I guess a similar feature could be used as well.
 * How I found these bugs was by massive property based testing. Essentially, I have "mutator" actions (for example "set bit 3" or "remove range 4-10") which support applying them

[2020-04-08 22:00] lemire commented on #390
@incaseoftrouble So we could do it with something like this...
https://github.com/google/guava/blob/master/guava/src/com/google/common/annotations/Beta.java

Rolling our own is easy enough. Presumably, this is not supported by javadoc or IDEs though, right?

[2020-04-08 22:02] lemire commented on #390
Note: I am less interested at this point in time in how we could improve test coverage. That's super important, but a distinct issue. That is, sometimes it is not just about bugs... It may be that we add something but we are unsure of the semantics, API, performance and so forth.

[2020-04-08 22:03] richardstartin commented on #390
@lemire I suggest adding a hand rolled informational `@Experimental` or `@Beta` annotation to methods which don't have known production users. When a feature is contributed it is automatically experimental until someone can vouch for it being in production in a real application (not in some esoteric/toy library).

Regarding testing, I think it's a separate issue, but yes, the fuzz tests tend to fi

[2020-04-08 22:06] lemire commented on #390
@richardstartin Ok. But how does the annotation help if you are, say, in an IDE? Will the IDE flag it conveniently?

[2020-04-08 22:07] #376 closed

[2020-04-08 22:12] richardstartin commented on #390
We can probably use [this](https://apiguardian-team.github.io/apiguardian/docs/1.0.0/api/org/apiguardian/api/API.Status.html) (e.g. JUnit uses the same thing).

[2020-04-08 22:13] incaseoftrouble commented on #390
Sure, my second point wasn't really on topic but rather just something that came to mind.

Understandable. It can be made a policy for future pull requests.

The IDE flagging is IDE specific, most probably won't pick it up at all. I just looked at IntelliJ's "unstable API" list, its defaulted to the following. Maybe one of the above list is a light dependency?
[code]

I guess you can somewhat expe

[2020-04-08 22:15] lemire opened #392 "It is no longer possible to create new releases of RoaringBitmap (gradle)"
Upgrading to gradle 6 broke our release process:

[code]

It may be due to https://github.com/gradle/gradle/issues/11301

[2020-04-08 22:15] lemire commented on #392
cc @richardstartin

[2020-04-08 22:16] lemire commented on #392
@marshallpierce Can you help? I have zero clue as to what to do or why this would ever fail?

[2020-04-08 22:17] lemire commented on #382
The resolution is just that we cannot, using gradle, use pattern matching with a starting asterisk (`--tests *blabla`). It breaks gradle.

cc @marshallpierce

[2020-04-08 22:30] mdouaihy commented on #390
Hi @lemire,
Guava Beta annotation would have been an excellent choice because it's supported by many IDEs. the problem is that it means including additional dependencies.

I suggest having an annotation for RoaringBitmap.

[2020-04-08 22:39] lemire commented on #392
Ok. Here is the solution...

[code]

and it works.

This is really not good. Really not good.

[2020-04-08 22:39] #392 closed

[2020-04-08 22:40] lemire commented on #392
I don't understand how anyone gets any work done with an infrastructure like this.

[2020-04-08 22:47] lemire commented on #392
I am still screaming and rolling on the floor. I just wasted 30 mins on this. WTF.

[2020-04-08 23:29] marshallpierce commented on #392
Hmm, that is a frustrating bug... I haven't seen that before, and I have other projects on gradle 6.3 that I have released, though none with the exact structure that this project has. The release plugin has a corresponding issue: https://github.com/researchgate/gradle-release/issues/330

It's entirely possible to ditch the release plugin since it seems to be interacting poorly with whatever that g

[2020-04-09 00:04] lemire commented on #392
@marshallpierce Thanks.

My workaround is nice enough. It just took me a lot of time to come up with it.

[2020-04-09 08:20] incaseoftrouble opened #394 "orNot still not entirely consistent"
Hey, sorry for being so annoying :D @richardstartin

now `orNot` sometimes truncates and sometimes doesn't. Probably an inconsistency between different containers.

Code to reproduce:
[code]
This fails or succeeds depending on how `other` is initialized:

 * Succeeds: No init at all (`other` is empty)
 * Fails: `other.add(2)` (single number)
 * Succeeds: `other.add(2L, 5L)` (range)
 * Fails: `othe

[2020-04-09 08:56] richardstartin commented on #394
Sorry this is a remnant of what was there before. Will add a generative test to get more container-wise coverage. Thanks.

[2020-04-09 13:44] lemire commented on #394
This should be fixed now. Closing.

Please keep on finding bugs!

[2020-04-09 21:57] richardstartin commented on #394
I hadn’t realised that there was a buffer implementation too, so the changes will need to be ported.

[2020-04-09 21:59] lemire commented on #394
+1

[2020-04-16 20:16] #394 closed

[2020-04-16 21:52] incaseoftrouble commented on #390
@mdouaihy I'm not too familiar with gradle depency scopes together with annotations. `@Beta` has `RetentionPolicy.CLASS` which means it remains in the compiled source (?). So this would mean Roaring has to include Guava as a compile time, or even worse, runtime dependency. On the one hand, adding Guava as depency probably isn't too bad since most projects use it anyway I guess. On the other hand,

[2020-04-17 01:02] lemire commented on #390
I’d rather not add runtime dependency to Roaring Bitmap.

[2020-04-18 23:56] Cheappie opened #398 "Efficiency of certain operations"
Hi,

recently while calculating AND cardinality I have hit the wall, unexpectedly performance did drop significantly. After some research and debugging I came up with code which reproduce such situation. Would it be correct assumption that whenever run container appear in bitmap, it will significantly slowdown operations ?

`
    long rangeEnd = 100_000_000;

    RoaringBitmap r1 = new RoaringBitm

[2020-04-19 21:09] richardstartin commented on #398
@Cheappie looks sensible. Do you want to make a PR with the change?

[2020-04-19 21:34] Cheappie commented on #398
If you don't mind I would be glad if you could create PR to apply that change. I don't know what processes you undertake for introducing changes in repository. It makes me really happy that this function will perform better.

Could you tell me what would me approximate time to let that change reach mvn central, probably new release would be necessary ?

[2020-04-19 21:49] Cheappie commented on #398
That's only my guess

**RunContainer.intersects(BitmapContainer x)**
has comment '// TODO: this is probably not optimally fast', because it does brute-force contains check. Where it could reuse bitmapContainer.intersects(int minimum, int supremum) function

[2020-04-19 22:32] richardstartin commented on #398
Yes, `RunContainer.intersects(BitmapContainer)` can also be sped up.

[2020-04-23 10:19] tianshuang opened #400 "The previousValue method sometimes returns incorrect data"
`
        RoaringBitmap bitmap = new RoaringBitmap();
        String[] array = FileUtils.readFileToString(new File("/tmp/numbers.txt")).split(",");
        for (String value : array) {
            bitmap.add(Integer.parseInt(value.trim()));
        }
        System.out.println(bitmap.contains(1814436753));
        System.out.println(bitmap.previousValue(1828834057));
`

[numbers.txt](https://githu

[2020-04-23 10:20] tianshuang commented on #400
I dubuged the code and found -1 returned here, [return -1](https://github.com/RoaringBitmap/RoaringBitmap/blob/91e0bef2e9a4c588c288f9fd7c392eea87f0a20d/RoaringBitmap/src/main/java/org/roaringbitmap/RoaringBitmap.java#L2586)

[2020-04-23 11:59] richardstartin commented on #400
@tianshuang which version are you using?

[2020-04-23 12:08] Cheappie commented on #400
it can be replicated on current master branch, in previousValue somehow highLowContainer.advanceUntil returns index == size, so there is no such container.

[2020-04-23 12:40] richardstartin commented on #400
This is because the value you want to previous value of is larger than the last value in the bitmap. This should probably return `RoaringBitmap.last()`.

@incaseoftrouble you added this defensive check in `725b56db9671e8be2e72787a39683ea2abe6c2f2`. Do you think it should return the last value instead?

[2020-04-23 13:03] incaseoftrouble commented on #400
Oh, yes, I don't know what I was doing there.

Mathematical specification: Given set `B` and index `i`, return `max {j \in B | j <= i}` or `-1` if none present (i.e. there is no `j \in B` with `j <= i`).

[2020-04-24 00:59] tianshuang commented on #400
Thank you, when will the version that fixes the problem be released? I am going to modify the version dependency in the project.

[2020-04-24 02:19] lemire commented on #400
@tianshuang Yes. We will release an update.

[2020-04-25 02:34] lemire commented on #400
Closed thanks to @richardstartin

Release should be out shortly.

[2020-04-27 08:01] ArjohnKampman opened #402 "ArrayIndexOutOfBoundsException in BitmapContainer.iandNot"
I ran into an AIOOBE using the 0.8.13 release. I could try to reproduce with the latest release, but that would take 4 or 5 days to complete and I'm not seeing any relevant changes in this part of the code since 0.8.13. I would appreciate it a lot if someone could have a look at this:

[code]

[2020-04-27 09:32] richardstartin commented on #402
@ArjohnKampman do you have a test case to reproduce?

[2020-04-27 10:19] ArjohnKampman commented on #402
I have used clean 0.8.13 jar files from maven central. No modifications.

[2020-04-27 10:29] ArjohnKampman commented on #402
Note that the AIOOBE is triggered when trying to access the char array in ArrayContainer. The error message suggests that `b2.content` is an array with 2666 elements, but `b2.cardinality` is larger than 2666.

[2020-04-27 10:50] richardstartin commented on #402
OK. A reproducer (i.e. the inputs and sequence of events to create the bitmaps such that `andNot` fails like this) would be helpful.

[2020-04-27 12:12] lemire commented on #402
@ArjohnKampman

That's not what @richardstartin meant. He means to please share your code that triggers this problem.

[2020-04-27 12:28] richardstartin commented on #402
@lemire actually I did ask if it was a fork, didn't check which overload line 604 was on in 0.8.13 and assumed bitmap vs bitmap. In any case, the `iandNot` code is correct, and this is a symptom of a bug somewhere else. I don't personally have time to consider every possible way to produce bitmaps where an `ArrayContainer` could report larger cardinality than it has, so a reproducer would be great

[2020-04-27 12:58] ArjohnKampman commented on #402
I'll try to find a way to reproduce it. Will let you know if I succeed.

Op ma 27 apr. 2020 14:29 schreef Richard Startin <notifications@github.com>:

[2020-04-27 14:05] lemire commented on #402
Please do. If we can't reproduce the bug, I am afraid that it is going to be very hard for us to do anything about it. If we can reproduce it, I can guarantee that we will fix it in short order.

[2020-04-27 18:34] ArjohnKampman commented on #402
Analyzing my code that builds these bitmaps, I suspect that the cause of the inconsistency is that it adds integers from multiple threads concurrently. I'm going to add some synchronization here and will let you know if the exception pops up again. There's no concurrent bitmap yet, right?

[2020-04-27 18:38] lemire commented on #402
@ArjohnKampman

The user is responsible for handling concurrency so that's a good explanation.

[2020-04-27 18:38] #402 closed

[2020-04-28 18:24] richardstartin commented on #400
@lemire was this released yet? Can the issue be closed?

[2020-04-28 18:32] richardstartin commented on #398
I suspect `RunContainer.and(BitmapContainer)` is sub-optimal and it would be better either to convert to a bitmap container or to iterate over the bitmap container within each run.

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/RoaringBitmap/src/main/java/org/roaringbitmap/RunContainer.java#L353

[2020-04-29 00:01] lemire commented on #398
It is. I think I wrote it and figured that it would be "good enough". It probably can be made 2x faster, at least. It might be best to create a specific issue to track this one thing.

[2020-04-29 00:02] lemire commented on #400
Closing.

[2020-04-29 00:02] #400 closed

[2020-05-21 03:54] weijietong opened #403 "A novel 64bit bitmap implementation"
Current 64bit bitmap implementation using the red-black tree has the following drawbacks:

* red-black tree holds the higher 32 bit key , this will hold much memory space.
* the tree structure is not cpu cache friendly, the bit set operations is not as fast as the 32 bit.
* the serialization/deserialization  performance is bad, as we need to construct/re-construct the tree.

I propose the followin

[2020-05-21 13:37] lemire commented on #403
That sounds very good.

[2020-05-24 10:27] Maaartinus commented on #390
Sure, and that's a good thing. Otherwise, no user would get to see it.

No. Unlike anything else, [missing annotations should be fine at compile-time](https://stackoverflow.com/a/29460119/581205) and pose [no problem at run-time](https://stackoverflow.com/q/3567413/581205).

Sure. I guess, most folks wouldn't care (Guava makes 2.7 MB out of 55.8 MB used by libraries I use), but the profit may be t

[2020-05-24 14:59] lemire commented on #390
If we can use guava without having it as a runtime dependency, that would be fine.

[2020-05-25 22:23] richardstartin opened #404 "MappeableRunContainer.and(MappeableRunContainer) is slow"
See [druid](https://github.com/apache/druid/issues/9920). A benchmark intersecting 100 bitmaps regressed after a change meaning bitmaps were built in such a way that data would be run compressed during bitmap construction.

The benchmark only regresses on quite dense bitmaps (10% and 50%). Here is where JMH perfasm identified that the time was spent, which corresponds to intersecting run container

[2020-05-25 22:42] lemire commented on #404
It might pay to map everything to a bitmap when we have too many runs to deal with.

Is there any chance we could get a reasonable benchmark setup cheaply?

[2020-05-26 22:04] richardstartin commented on #404
I could probably port the druid benchmark myself this week.

If aggregations were done by grouping by container first, having a bitmap container to accumulate intermediate results into when there are enough containers might be a good strategy, materialising the right container type only at the end.

[2020-05-26 22:29] lemire commented on #404
I am not sure what you have in mind. For computing intersections, mapping everything to a bitmap would be a clear waste in general. If I give you two run containers and you need to intersect them, and both of them is made of a single run, the current heuristic is hard to beat.

So it would be great to reason from hard data, with actual benchmarks.

[2020-05-26 22:33] richardstartin commented on #404
Not sure. Allocating 99 arrays to get one at the end is also wasteful, even if the arrays can't grow and are very likely to get smaller. There's a benchmark in the linked issue.

[2020-05-26 22:37] lemire commented on #404
I don't think we disagree.

I agree that we need to and can tune this code a lot better. I am also saying that it is not obvious that just always mapping to an 8KB bitmap that needs to be re-scanned is always great. There is a good heuristic to be found.

The scenario that I describe, where you have, say, just one run, is actually likely to be common.

What is probably happening in the scenario we

[2020-05-27 14:45] richardstartin commented on #404
I merged a benchmark which reproduces the behaviour.

[2020-05-31 16:25] lemire commented on #404
@richardstartin Do you consider the issue resolved?

[2020-05-31 17:14] richardstartin commented on #404
Well, the issue still exists, because #406 just avoids this container combination. On #405 it looked like the same operation was 10x slower in the buffer implementation, so there’s probably purely technical things to fix.

It might be better to just avoid this happening. I tried introducing a threshold for the sum of the numbers of runs, above which a bitmap would be produced during aggregation, b

[2020-06-01 20:28] lemire commented on #404
I removed the "bug" label after looking at the test data:

[code]

So we have almost full containers with a few missing entries. The compression is great (a fraction of a bit per entry). So if you use a bitmap, the storage will go up.

It is obviously not going to be fast as run containers. But that's not a bug. It is a limitation of the data structure itself.

Could it be faster? Sure. Don't crea

[2020-06-01 21:24] richardstartin commented on #404
To be fair I didn't add bug, the template did. I agree, the benchmark is also very synthetic.

[2020-06-06 15:42] morningman commented on #403
Hi @weijietong , is AST fast enough to do the bit operation?

[2020-06-08 05:14] weijietong commented on #403
What's the meaning of 'AST' ?

[2020-06-11 15:10] morningman commented on #403
Sorry, I mean ART...

[2020-06-17 12:21] yorkane commented on #403
Any progress here?
We are looking forward this 64BIT implementation !

[2020-06-17 19:50] cheesinglee opened #410 "Version 0.8.20 of shims not in Maven"
**Describe the bug**
Attempting to update the RoaringBitmap dependency in our leiningen project to version 0.8.20, but I get an error saying that version 0.8.20 of the shims can not be found. Looking at some past issues here, I see that there have been problems pushing to Maven Central, but I thought I should bring this to attention in case it is an oversight.

**Java version:** openjdk 14.0.1

[2020-06-17 23:40] lemire commented on #410
Thanks for the report. I do verify that it is not there:
https://repo1.maven.org/maven2/org/roaringbitmap/shims/

As I explained elsewhere, there is not much I can do. The files were synced. They have been uploaded as far as I can tell.

I am afraid that Maven Central is an obsolete and not-very-serious system. There is no trace, no transparency. It may as well be managed manually by a secretary b

[2020-06-17 23:42] lemire commented on #410
Please wait a few days. It can take days or weeks for the artifacts to show up.

[2020-06-18 09:28] weijietong commented on #403
being busy with the unit tests. I think the PR will be ok recently.

[2020-06-18 13:11] lemire commented on #410
It looks like 0.8.20 landed today.

[2020-06-18 13:11] #410 closed

[2020-06-19 02:17] lemire commented on #403
You probably mean "soon"?

[2020-06-19 05:07] weijietong commented on #403
Yes,maybe next week.

[2020-07-01 19:47] lemire commented on #403
Closed. I am working on a release.

[2020-07-01 19:47] #403 closed

[2020-07-02 02:27] yorkane commented on #403
Will C-Version benefit from this release for 64bit performance improvement?

[2020-07-28 09:18] baibaichen commented on #347
Any progress?  it looks, we can first build below structure  from a list of 64 bitmaps  :

[code]
And then using `FastAggregation` to aggregate each groups.  and then  rebuild `Roaring64NavigableMap` from `NavigableMap<Integer, RoaringBitmap>`

[2020-08-07 11:16] baibaichen opened #415 "`FastAggregation` for 64 bit Bitmap"
In our case, `Roaring64NavigableMap` are used in customized Spark `TypedImperativeAggregate`, and aggregate looks like the following:

[code]

From the paper, Wide Unions will benefit from calculating cardinality only at the last iteration. so, I implemented a  prototype :

[code]

Here are benchmark:

[code]

Any ideas?

[2020-08-07 14:41] lemire commented on #415
@baibaichen This looks worthy of a pull request, don't you think?

[2020-08-08 01:44] baibaichen commented on #415
@lemire I just don't know whether I am on the correct way or not,  If this is ok, I will create a PR

[2020-08-08 02:03] lemire commented on #415
It is easiest to review and assess code with an actual PR. It is especially important to have a credible benchmark.

I do invite you to prepare a PR.

[2020-08-08 04:18] baibaichen commented on #415
OK, I create a PR for review the idea. https://github.com/RoaringBitmap/RoaringBitmap/pull/416

[2020-09-23 17:23] maxdemarzi opened #417 "ArrayContainer.add(char) error message on 0.9.0 but not on 0.8.20"
**Describe the bug**
Getting this error:
`Failed to invoke procedure `xxxxx`: Caused by: java.lang.NoSuchMethodError: 'org.roaringbitmap.Container org.roaringbitmap.ArrayContainer.add(char)'`

Offending code is:

[code]

**To Reproduce**
The Neo4j stored procedure was only adding node ids which are longs from 0 on up. Less than 10m nodes so no way it went over the limit. Anyway I downgraded to 0.8

[2020-09-23 18:01] blacelle commented on #417
A temporarily work-around may be to stick with 0.9.0 and Roaring64NavigableMap. Roaring64Bitmap should provide better performances in most-cases, but Roaring64NavigableMap remains available (for now at least).

[2020-09-23 18:13] lemire commented on #417
I do not quite understand the error. Does anyone understand ?

We do have an `ArrayContainer.add(char)` method. It replaced `ArrayContainer.add(short)`. So why would version 0.9.0 (which has `ArrayContainer.add(char)`) complain about a missing `ArrayContainer.add(char)` method?

[2020-09-23 21:34] blacelle commented on #417
@maxdemarzi Is there a smallest probability the 0.9.0 .jar is corrupted, leading to ArrayContainer.class being corrupted ?

@lemire `ArrayContainer.add(char)` already exists in 0.8.20, suggesting something very wrong is going on (and any code relying on `ArrayContainer.add(char)` would fail, nothing specific to Roaring64Bitmap).

[2020-09-23 22:39] lemire commented on #417
@blacelle So it is even less comprehensible than I thought given that this method exists in 0.8.20.

[2020-09-23 22:40] lemire commented on #417
@maxdemarzi I have removed the bug tag for now. Can you provide us with a reproducible test case ? I am sure you are having an issue, but I need to reproduce it.

[2020-09-23 23:32] maxdemarzi commented on #417
Sorry to waste your time. It was a dependency issue, another procedure was grabbing version 0.7.17.

[2020-09-23 23:32] #417 closed

[2020-10-05 02:29] justoruiz opened #418 "addOffset not working"
**Describe the bug**
I believe `RoaringBitmap.addOffset` function doesn't work correctly for the entire range of offsets, as it seems to misbehave from 0xFFFF0000 onwards.  As per the documentation, it should support the entire 32bit range (or, alternatively, a bit set at position 0 should be shifted to the last possible index, so should the inverse operation).

**To Reproduce**
I've attached a sm

[2020-10-05 13:55] lemire commented on #418
Verified. Fix is upcoming.

[2020-10-05 14:00] lemire commented on #418
PR issued.

[2020-10-05 15:49] #418 closed

[2020-10-05 15:55] lemire commented on #418
Fixed in 0.9.2. Thanks for reporting the issue.

[2020-10-05 17:01] justoruiz commented on #418
Awesome!! Thank you!!

[2020-10-28 12:50] caoxiaoyuan7242 opened #420 "Roaring64Bitmap toArray() function throw exception java.lang.ArrayIndexOutOfBoundsException。"
**Describe the bug**
Roaring64Bitmap toArray() function throw exception java.lang.ArrayIndexOutOfBoundsException

**To Reproduce**
[code]

**Java version:*jdk 1.8*
RoaringBitmap version:0.9.0

Please tell us which Java version you are using.

[2020-10-28 13:08] lemire commented on #420
@weijietong Would yo have a look at the issue?

[2020-10-28 13:09] lemire commented on #420
I am marking this as a potential bug until someone can verify it. Thanks for your report.

[2020-10-28 15:37] caoxiaoyuan7242 commented on #420
i find the bug

  protected LongIterator toIterator(final LeafNodeIterator keyIte, boolean reverse) {
    return new LongIterator() {
      private byte[] high;
      private CharIterator charIterator;
      private boolean hasNextCalled = false;

      @Override
      public boolean hasNext() {
        hasNextCalled = true;
        if (charIterator != null && !charIterator.hasNext()) {

[2020-10-28 15:46] lemire commented on #420
@caoxiaoyuan7242 Would you be willing to prepare a pull request that includes a fix as well as a test for the issue you have encountered?

[2020-10-28 15:51] caoxiaoyuan7242 commented on #420
ok，I'll submit a  pull request  tomorrow. Now it's twelve o'clock in the evening

[2020-10-28 17:44] lemire commented on #420
Thank you.

[2020-10-29 05:41] weijietong commented on #420
Sorry for the late response. Thanks for your report @caoxiaoyuan7242 , your analysis about the bug is right.  According to the current implementation, the stored value containers in the `HighLowContainer` maybe empty ones. The `LongIterator` does not check that case, so that case cause this exception. Wait for your PR.

[2020-10-29 06:13] caoxiaoyuan7242 commented on #420
@weijietong @lemire hi,i submit a pull request for this bug.

[2020-10-29 06:24] caoxiaoyuan7242 commented on #420
I would like to ask when the official version of the package will be released. We need to use the repaired functions

[2020-10-29 08:53] weijietong commented on #420
The corresponding PR has been merged into the master, you can get a fresh version from the master. The official version will be released according to @lemire 's decision.

[2020-10-29 08:53] #420 closed

[2020-10-29 13:25] lemire commented on #420
I will issue a patch release today. Obviously we want people to have access to this fix.

[2020-10-30 02:05] caoxiaoyuan7242 commented on #420
That's great. Thank you. It would be better if you could tell me the new version number

[2020-10-30 14:11] lemire commented on #420
Fixed in version 0.9.3.

I have not checked that this version has propagated to maven central. Be mindful that it is not a fast process.

[2020-11-08 19:30] nuwansa opened #422 "Roaring64Bitmap.serialize(ByteBuffer) not populating ByteBuffer position value for BigEndian byteOrder buffers"
reproduce code:
[code]

ByteBuffer is slice into another ByteBuffer inside the HighLowContainer.serialize function, which hides the original buffer if passing ByteBuffer is in BIG_ENDIAN byte order

[2020-11-08 20:08] lemire commented on #422
@nuwansa You seem to have identified the issue, would you be willing to prepare a pull request?

[2020-11-08 20:10] nuwansa commented on #422
sure, will do

[2020-11-09 20:34] lemire commented on #422
Closed via a PR by the submitter. I will be issuing a patch release.

[2020-11-09 20:34] #422 closed

[2020-11-30 21:40] lemire opened #424 "Speed up MutableRoaringBitmap by allocating buffers differently"
In the org.roaringbitmap.buffer package, we allocate container memory with code such as...

[code]

The following would apparently be much faster...

[code]

Tweet: https://twitter.com/CZ_JanecekPetr/status/1333522238910443524

[2020-12-01 05:14] ijuma commented on #424
Was intentional to use direct buffers in the first example and heap buffers in the second?

[2020-12-01 08:20] touisteur opened #425 "Question/advice: iterating over an a.and(b) bitmap whilst keeping a ranks"
Hi,

Sorry if it's not the place for questions or advice.

I'm using RoaringBitmap as indexes in an internal tool, and the performance kick I get from them is amazing compared to sparse matrices or my homemade clumsy solutions...

Still there's one operation I'm doing very often that I'm not sure how to implement efficiently.

I have 2 bitmaps : blocks and index. blocks usually has very high cardi

[2020-12-01 09:24] ppiotrow commented on #425
Can you give some simple examples of what you're trying to achieve? It sounds similar to my code where one bitmap represents ranges (blocks?) and second actual values. I want to estimate how many ranges contains at least one value.
I made few implementations but the fastest one is using two `getIntIterator` iterators and `advanceIfNeeded` jumps.

Example 1
[code]

Example 2
[code]

[2020-12-01 11:44] richardstartin commented on #425
@ppiotrow I doubt @touisteur has access to `NonEmptyRangesCounter` to see how it was implemented. Could you share its implementation to make the example more revealing?

[2020-12-01 12:08] ppiotrow commented on #425
I can share, but still not sure if he has similar problem to be solved. The main hint was to consider using iterator instead of AND, OR if you iterate very long loop.
The code is actually a little bit more complicated, as it works in the partitioned universe:( If you de-partition the code it gets very simple loop with jumping iterators.
[code](https://gist.github.com/ppiotrow/cc93ec4c41da610d083b8

[2020-12-01 13:02] lemire commented on #424
I am not sure what you mean. What was intentional? The code samples?

[2020-12-01 13:13] touisteur commented on #425
Hi thanks for all the kind and interesting answers!

My use case is : I'm given a (sometimes) huge list of blocks. Each block is a variable-sized ByteBuffer that, once sloooooowly deserialized, may or may not contain a specific field. So I perform, offline, a first veeeery slow pass where I note the presence of each field in each block, and I thus end up with a roaringbitmap of all the blocks cont

[2020-12-01 13:36] ppiotrow commented on #425
`blocks& presence` equals `{0,6}` not `{0, null, 6, null, null}`. You cannot express reserved positions with `nulls` in Roaring Bitmap or any Set implementation.
You can however calculate `blocks.andNot(presence) = {1,7,8,230}` for "null" positions. Not sure if it helps.

[2020-12-01 13:49] touisteur commented on #425
Oh yes thanks I understand this is not directly possible with sets.

I was looking for the 'best' way to iterate over the result of the 'and' operation with the minimum overhead for the rank/select operation on blocks /for each element of blocks.and(presence)/

It seems having two running iterators might be the 'best' way to do this? Is there an example somewhere of this approach?

[2020-12-01 13:52] lemire commented on #425
I would not call this approach "minimum overhead". Using iterators brings about a lot of overhead. To get good performance, you typically want to delay using iterators as much as possible.

I recommend you run benchmarks.

[2020-12-01 13:52] touisteur commented on #425
It seems your code @ppiotrow does almost what i want with the advanceIfNeeded() I'll need to try that and compare with the naive blocks.and(presence).foreach (i => result.add (blocks.select(i), i)

[2020-12-01 13:54] touisteur commented on #425
Indeed thanks everyone for all the insights. Will report with benchmark results when I'm done implementing both.

BTW that was a very friendly and instructive and helpful interaction, thanks a lot.

[2020-12-01 14:50] lemire commented on #424
@ijuma I think I see what you meant. My example is slightly confusing. It is not what I meant.

[2020-12-01 14:51] lemire commented on #424
I am going to close this because I remembered that we have optimized path for all Buffer types that backed by arrays. So it is unlikely that allocating Buffer types differently would help much.

[2020-12-01 14:51] #424 closed

[2020-12-01 17:18] touisteur commented on #425
Oh thanks it took me 3 takes to understand your idea. I'll try that also.

[2020-12-03 18:19] JervenBolleman opened #426 "Stream/PrimitiveIterators to iterate over set bits"
**Is your feature request related to a problem? Please describe.**
I have a few Stream based API's which iterate over int/long values coming from a datastore. In some optimization cases the datastore could be a serialized roaring bitmap. It would be nice if we had `new RoaringBitmap(...).stream()` methods
to get an `IntStream` and `LongStream` for ease of use.

**Describe the solution you'd like**

[2020-12-03 18:55] lemire commented on #426
Absolutely.  That sounds like a great feature.

[2020-12-04 15:42] AChekroun opened #428 "Roaring64Bitmap::and does not filter correctly"
**Describe the bug**
Roaring64Bitmap::and does not work as expected

**To Reproduce**

Version tested: 0.9.0 & 0.9.4
[code]

**Java version:**

12.0.1

Thanks for your time

[2020-12-04 16:02] lemire commented on #428
@weijie Can you have a look?

[2020-12-05 00:30] #426 closed

[2020-12-05 13:43] weijietong commented on #428
Ok, I will fixed later. The reason is we have logic bugs to implement the `AbstractShuttle`. The initial intention is to use stack to hold the traversed path to accelerate the iterating speed. But when the remove operations happen, the `ART` tree will be changed. The stack will hold some invalid state data. Though I was conscious that while implemented the `remove` by replacing the top node of the

[2020-12-05 16:27] lemire commented on #428
Thank you. We will issue a new release soon after you have submitted a patch.

[2020-12-08 01:17] #428 closed

[2020-12-09 07:46] caoxiaoyuan7242 commented on #428
I found this bug today and spent some time preparing to fix it. It turns out that it has been fixed here. I cried

[2021-01-03 03:03] hqx871 opened #435 "RoaringBatchIterator#nextBatch NPE"
When the bitmap is empty, directly call  RoaringBatchIterator#nextBatch will throw NPE as a result of the container batchIterator is null. We can reproduce the NPE by the following code sample.

[code]

[2021-01-04 16:13] hqx871 commented on #435
pr merged

[2021-01-04 16:13] #435 closed

[2021-01-07 10:42] AChekroun opened #436 "Roaring64Bitmap::and raises NPE"
**Describe the bug**
Tested with v0.9.5 and v0.9.6
Roaring64Bitmap::and throws a NPE under specific conditions

[code]

**To Reproduce**

[code]

**Java version:**

OpenJdk 15.0.1.9 hotspot

Thanks for your time

[2021-01-07 10:46] AChekroun opened #437 "Roaring64Bitmap::and throws an IllegalArgumentException"
**Describe the bug**
Tested with v0.9.5 and v0.9.6
Roaring64Bitmap::and throws an IllegalArgumentException under specific conditions

[code]

**To Reproduce**

[code]

**Java version:**

OpenJdk 15.0.1.9 hotspot

Thanks for your time

[2021-01-07 13:11] AChekroun opened #438 "Roaring64Bitmap::and throws ArrayIndexOutOfBoundsException"
**Describe the bug**
Tested with v0.9.5 and v0.9.6
Roaring64Bitmap::and throws an ArrayIndexOutOfBoundsException under specific conditions

[code]

**To Reproduce**

[code]

**Java version:**

OpenJdk 15.0.1.9 hotspot

Thanks for your time

[2021-01-07 13:14] lemire commented on #437
@weijietong Can you have a look?

[2021-01-07 13:15] lemire commented on #438
@weijietong Can you have a look?

[2021-01-07 13:15] lemire commented on #436
@weijietong Can you have a look?

[2021-01-07 13:39] blacelle commented on #436
FYI, I started having a look into https://github.com/blacelle/RoaringBitmap/tree/FixNPEIAE_436_437

[2021-01-07 13:39] blacelle commented on #437
FYI, I started having a look into https://github.com/blacelle/RoaringBitmap/tree/FixNPEIAE_436_437

[2021-01-08 07:39] xiaohui0318 opened #439 "RoaringBitmap batchOr"
I found a method to carry out OR operation in batches, which was faster than the one on the official website under the condition of large amount of operation data and small single cardinality. However, when I applied this code online, I found that the result was not correct, and there was no problem in my local test. I couldn't figure out the reason. Online waiting for，tks.

[code]

[2021-01-08 11:44] weijietong commented on #438
see PR: https://github.com/RoaringBitmap/RoaringBitmap/pull/440

[2021-01-08 11:44] weijietong commented on #437
see PR: https://github.com/RoaringBitmap/RoaringBitmap/pull/440

[2021-01-08 11:45] weijietong commented on #436
see PR: https://github.com/RoaringBitmap/RoaringBitmap/pull/440

[2021-01-08 15:59] #436 closed

[2021-01-08 15:59] #437 closed

[2021-01-08 15:59] #438 closed

[2021-01-08 16:40] lemire commented on #439
There is a number of issues with this code.  Here are two that I can see...

1.

[code]

So `k` can be negative, correct?

2.

[code]

You forcefully convert the container to a bitmap type, but you never go back to convert it back to the container it should use as per the Roaring specification.

---------

While I encourage you to continue you work, it does not look like the approach you are takin

[2021-01-08 16:40] #439 closed

[2021-01-24 06:10] niwanjia opened #442 "for Roaring64Bitmap, get the result from "and" method is not right"
****************Describe the bug**************
for Roaring64Bitmap,    get the result from "and" method is not right。

***************maven  dependency***********
<dependency>
      <groupId>org.roaringbitmap</groupId>
      <artifactId>RoaringBitmap</artifactId>
      <version>0.9.0</version>
</dependency>

***************Java version:****************
jdk1.8.0_112

***************My Test example*

[2021-01-24 20:35] lemire commented on #442
@weijie Could you have a look?

[2021-01-25 02:39] weijietong commented on #442
Please use the latest master code to verify the case @niwanjia . I can't reproduce your case by the master code. Maybe @lemire should release a fresh maven version.

[2021-01-25 02:53] niwanjia commented on #442
I try to use the latest master code,  the test result is right. Thank you very much! Nice!

[2021-01-25 02:53] niwanjia commented on #442
solved

[2021-01-25 02:53] #442 closed

[2021-01-26 02:37] lemire commented on #442
@weijietong

The latest release is 0.9.7 and was released after issue 437 was fixed (by you, I believe). I will start a new release process now since you have made additional commits since then.

[![Bintray](https://img.shields.io/bintray/v/roaringbitmap/maven/org.roaringbitmap%3ARoaringBitmap.svg)](https://bintray.com/roaringbitmap/maven/org.roaringbitmap%3ARoaringBitmap)

I am also modifying the

[2021-01-26 02:43] lemire commented on #442
Version 0.9.8 has been published.

[2021-02-02 07:20] styleNie opened #443 "using Roaring64Bitmap in Spark"
hi,I encountered a problem when using Roaring64Bitmap in Spark, the details are as follows,
spark  version 2.4.5,
Scala version 2.11.12

first
[code]

then

[code]

I find that spark-2.4.5 dependents  Roaring64Bitmap-0.7.45,  so how can I using Roaring64Bitmap-0.9.8 in spark-2.4.5

[2021-02-02 13:33] lemire commented on #443
It seems that you want to use a class that was introduced in later version of the RoaringBitmap library, within a setup where you have the earlier version of the library. We cannot retroactively add features to a previous version of the library. By design, these versions are immutable. I removed the bug label, I do not think that this can be qualified as a bug.

Have you considered updating the Ro

[2021-02-03 10:58] Maithem opened #444 "Invalid Cert Breaking Build"
**Describe the bug**
When building master with `./gradlew  build` I see the following error:

[code]

This issue seems to be caused by an invalid cert being provided by [metamx.artifactoryonline.com](metamx.artifactoryonline.com)

![image](https://user-images.githubusercontent.com/7818642/106737263-52643f00-65cb-11eb-9ccb-de2e4a461d46.png)

**RoaringBitmap version:**

 Bug is observed on master

*

[2021-02-03 17:16] lemire commented on #345
It looks like bintray is closing now.

[2021-02-03 17:25] lemire commented on #444
I cannot reproduce. Note that our code is under CI.

If you believe that there is an issue, please ensure that you can provide steps to reproduce it (on a freshly installed machine) and, ideally, please provide a pull request that fixes the issue you have encountered.

[2021-02-03 17:25] #444 closed

[2021-02-03 17:39] JanecekPetr commented on #345
Is https://jitpack.io/ an option?

[2021-02-03 18:41] lemire commented on #345
@JanecekPetr It is a good proposal, at least for the time being.

If someone wants to work on producing other releases, the issue is open...

GitHub actions look like they can do it...

https://docs.github.com/en/actions/guides/publishing-java-packages-with-maven

[2021-02-03 21:20] Maithem commented on #444
My fork was stale, but didn't notice it.

Is there any reason why CI doesn't run tests for Java 8 ?

[2021-02-03 21:25] lemire commented on #444
I do not think that you can build the library with Java 8.

[2021-02-04 03:40] Maithem opened #446 "Roaring64Bitmap::addInt Setting Wrong Bits"
**Describe the bug**
Since int is smaller than long, an int should always map to a positive
number in a long, that is, converting an int to a long should produce
a long in the range of [0, 2^32]. Since addInt directly calls addLong
without doing a proper conversion, the negative sign is being carried
over and setting incorrect positions in the map. For example,
addInt(-1) should be equivilant to a

[2021-02-04 03:44] Maithem commented on #444
It does build. I think its a good idea to add java 8 to the CI since many projects that depend on this library actually run on java 8.

[2021-02-04 03:59] lemire commented on #444
@Maithem Well, it partially builds:

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/shims/build.gradle.kts#L2

But you have a point.

[2021-02-04 04:10] lemire commented on #446
Closed by reporter.

[2021-02-04 04:10] #446 closed

[2021-02-04 07:48] Maithem opened #450 "Roaring64Bitmap Memory Leak"
**Describe the bug**
Since Roaring64Bitmap only adds to the ART and never removes a
prefix even if the lowpart container is empty, the tree leak memory,
even when empty. This patch will remove the high part from the
HighLowContainer when the lowpart container is empty after
a removeLong operation.

Also, this highpart leak can lead to incorrect results when
checking for logical equality.

**To Rep

[2021-02-04 08:26] Maithem opened #452 "Roaring64NavigableMap equals Bug + Leak"
**Describe the bug**
When BitmapDataProvider becomes empty after a
removeLong call, the key (high part) is not removed from highToBitmap.
This results in a potential memory leak and incorrect equality check when
comparing two Roaring64NavigableMap maps.

**To Reproduce**
[code]

**RoaringBitmap version:**

master as of 3f88e561c733f7be6fb4872d4d2672660961f0f9

**Java version:**

openjdk version "1

[2021-02-04 23:40] lemire opened #454 "Try to go back to publishing directly to Maven Central"
It appears that the sonatype folks are willing to help us. So if we reconfigure our build for sonatype, they may provide us with a faster access...

So we need to go through the song and dance and retool our build setup accordingly.

https://central.sonatype.org/pages/gradle.html

https://central.sonatype.org/pages/ossrh-guide.html

cc @richardstartin  @marshallpierce

[2021-02-05 11:15] blacelle commented on #454
@lemire I deploy regularly another jar into sonatype, with more luck than you observed with RoaringBitmap, but with other (non-blockng but painful) issues related to encryption keys. Hence I could also give a hand into this.

[2021-02-05 12:19] richardstartin commented on #454
I'm no longer actively using the library so if @blacelle has time that would be great

[2021-02-05 12:38] brianf commented on #454
Not sure if this reduces the pain, but I came across this today: https://github.com/saket/startship

[2021-02-05 13:45] lemire commented on #454
@blacelle Thanks for the offer. I think that the next step would be a pull request that would modify our setup to go directly to sonatype. It would be great if someone could get such a pull request started so that we can at least discuss it.

This setup should be comparable to what we have right now:

1. We want to remain with our gradle build. It is massively faster than anything we had with Apac

[2021-02-05 13:52] lemire commented on #454
To be precise, people on twitter are very clear that this song and dance (which is not needed on bintray) described in the sonatype documentation...

https://central.sonatype.org/pages/releasing-the-deployment.html

... is antiquated and not at all necessary.

In my video, when releasing from bintray, I only watch... it all does its thing automatically...

We do not want to go back to this manual

[2021-02-05 14:21] brianf commented on #454
We are working on the docs to make it clear that using the UI is just one way to do the promotion. The reality is that probably 80% or more of the releases coming through our systems are totally headless. There are countless examples on the web showing how people have done it. We have a blog in flight that is helping to consolidate more coverage for those ways. I agree with you that pushing button

[2021-02-05 14:22] brianf commented on #454
Also for the video coming from Bintray, it should be known that they built that integration without ever working with us, so it was reverse engineered and not even using the latest mechanisms. So it's not surprising that it was unstable and there wasn't a lot we could do about it because we didn't have the ability to change how it worked.

[2021-02-05 14:48] blacelle commented on #454
@brianf Could you provide some fresh+solid source/reference implemementation to re-introduce RoaringBitmap releases to sonatype servers with Gradle? They are multiple people with goodwill here, but I'm sure none of us want to get back to Sonatype hell we used to encounter.

[2021-02-05 16:14] brianf commented on #454
I'm not a Gradle guy but these links provide several sensible ways to automate: https://chris.banes.dev/publishing-to-maven-central/
https://jeroenmols.com/blog/2021/02/04/migratingjcenter/
https://proandroiddev.com/publishing-your-first-android-library-to-mavencentral-be2c51330b88

[2021-02-05 17:07] lemire commented on #454
Thanks @brianf for the pointers.

[2021-02-05 17:59] brianf commented on #454
https://github.com/rwinch/gradle-publish-ossrh-sample

[2021-02-06 08:18] #450 closed

[2021-02-06 08:18] weijietong commented on #450
Fixed

[2021-02-06 09:37] blacelle commented on #454
Started looking into it. I'll early open a draft PR, just to show the progress.

[2021-02-06 09:46] blacelle commented on #454
Relies on cliking buttons.

looks solid and (ultra) fresh.

https://github.com/RoaringBitmap/RoaringBitmap/pull/456

[2021-02-06 14:11] blacelle commented on #454
Navigating into dark waters.

Anybody with Gradle+Kotlin proficiency to give a hand here ?

The following code won't compile in build.gradle.kts while OK in build.gradle.

https://github.com/rwinch/gradle-publish-ossrh-sample#configure-nexus-publishing-plugin
[code]

https://github.com/RoaringBitmap/RoaringBitmap/pull/456/commits/87fafdc27c39f0bb69db62c0ffd7fb76c75a217e#diff-c0dfa6bc7a8685217f70a8