[2021-02-06 14:16] blacelle commented on #454
Got it: https://github.com/marcphilipp/nexus-publish-plugin#kotlin-dsl

[2021-02-06 14:41] blacelle commented on #454
@lemire Could you indicate the current release/deploy procedure?

[2021-02-06 14:46] lemire commented on #454
[code]

with bintrayUser set to a bintray key.

The script asks for the version number one wants to release and then, finally, it may ask for the next version.

Then to post to Maven Central, I am supposed to go online and press a button, see the video. If not for the final step (going online and trying to sync to maven), it is all fast, reliable and automated. I simply cannot get it wrong... exce

[2021-02-06 14:58] blacelle commented on #454
(I fully agree regarding the need for a dummy-proof release procedure)

[2021-02-07 14:35] rolandblain commented on #72
Hi. I'm ChoeYoonSeop(company changed so email invalidated..) and I implemented my requires in kotlin code here:
https://github.com/rolandblain/relationmatrix
Thank you and your library and I hope you always stay healthy and happy.

[2021-02-08 08:54] #443 closed

[2021-02-09 13:04] qq137619950 opened #458 "binary search"
(high + low) >>> 1 could be changed to (high - low) >>> 1 + low;

[2021-02-09 13:07] lemire commented on #458
If you believe that there is undocumented and unwanted overflow in the code, please point at it specifically and provide a corresponding unit test to verify. Pull request invited.

[2021-02-09 13:07] #458 closed

[2021-02-09 15:17] lemire commented on #72
I am going to close the issue and refer interested users to https://github.com/rolandblain/relationmatrix

[2021-02-09 15:17] #72 closed

[2021-02-09 15:21] lemire commented on #452
@Maithem This was fixed, was it not? Can we close?

[2021-02-09 15:23] lemire opened #459 "Remove iteratable"
As remarked by @richardstartin  and @blacelle, users should not rely on iterable and should favour IntConsumer or something of the sort (for performance).

[2021-02-09 15:24] lemire commented on #360
I am going to close this since we have another issue and even a PR draft.

[2021-02-09 15:24] #360 closed

[2021-02-09 15:24] lemire commented on #346
Isn't this issue resolved?

[2021-02-09 15:26] lemire commented on #345
I am going to close this for now since we are tracking this issue elsewhere.

[2021-02-09 15:26] #345 closed

[2021-02-10 02:24] Maithem commented on #452
@lemire not yet, I'm still thinking about https://github.com/RoaringBitmap/RoaringBitmap/pull/453

[2021-02-10 12:01] javier-godoy opened #460 "Roaring64Bitmap equals Bug + Leak"
**Describe the bug** (same as #452, but with `Roaring64Bitmap` instead of `Roaring65NavigableMap`)

When Container becomes empty after a
removeLong call, the key (high part) is not removed from highLowContainer.
This results in a potential memory leak and incorrect equality check when
comparing two Roaring64Bitmap maps.

https://github.com/RoaringBitmap/RoaringBitmap/blob/37fe4d0cb3ce51a4f6975e614

[2021-02-10 12:37] blacelle commented on #460
@Maithem Some feed regarding shared tests. Thanks.

[2021-02-10 18:07] Maithem commented on #460
This bug was already fixed in https://github.com/RoaringBitmap/RoaringBitmap/pull/451

The following test is passing on master:

[code]

@blacelle I'm working on refactoring tests to test against `LongBitmapDataProvider` interface which will merge both tests from `TestRoaring64Bitmap` and `TestRoaring64NavigableMap`

[2021-02-10 18:20] lemire commented on #460
@Maithem  I understand that you recommend we close this issue, correct?

[2021-02-10 19:11] Maithem commented on #460
@lemire I believe so. The test passes on master. `0.9.8` was released ~16 days ago, but the fix went it 4 days ago https://github.com/RoaringBitmap/RoaringBitmap/pull/451

[2021-02-10 19:35] lemire commented on #460
Closing.

@javier-godoy : if you disagree, please open a new issue with more information.

[2021-02-10 19:35] #460 closed

[2021-02-11 05:37] Maithem opened #462 "Assertions Not Evaluated At Runtime By Default"
**Describe the bug**
There are many `assert` statements but during runtime assert checking is disabled by default. Is this by design?

Since most of the assertions are arithmetic expressions I don't expect the overhead to be significant. We can try to quantify it, but I think its worth having assertions enabled by default. Assertions can be enabled per JVM, but that will turn on assertion checking

[2021-02-11 08:28] blacelle commented on #462
We may ensure assertions are enabled in tests (if not already done). Else, I'm fine sticking with standard Java assertions and their standard/expected by most behavior.

[2021-02-11 11:39] richardstartin commented on #462
This is the point of assert statements and precisely why they were added - to be able to assert about state without making it observable to a test framework. Just like we don't bundle the tests with the release, we don't want the asserts to be enabled at runtime. Assertions are always enabled in test suites. None of the asserts are there to _prevent_ incorrect behaviour, but to assert about precon

[2021-02-11 14:07] lemire commented on #462
I believe that you can enable the assertions in your own systems if you would like. If that is not the case, please report the issue.  If it is software under your control, then you can judge the effect on assertions and how to recover from errors, and so forth.

Requiring that everyone gets these classes with assertions enabled by default goes against what I consider the intended usage of Java as

[2021-02-11 14:07] #462 closed

[2021-02-11 19:01] lemire commented on #452
closed.

[2021-02-11 19:01] #452 closed

[2021-02-11 19:04] lemire opened #463 "Rename package to org.roaringbitmap.v1 or org.roaringbitmap.v2"
We are about to merge this API breaking changes to
https://github.com/RoaringBitmap/RoaringBitmap/tree/1.0-SNAPSHOT

It has been proposed in https://github.com/RoaringBitmap/RoaringBitmap/pull/461 that we rename the package.

I do not mind jumping directly to v2, but consider that we never reached v1... and I am not exactly sure why would skip v1.

cc @blacelle @richardstartin

[2021-02-11 19:08] blacelle commented on #463
I consider current package as some sort of v1.

We may argue current package is rathrr some sort of v0, like mvn 0.X

Then, moving package to v1, and mvn to 1.x looks hood to me.

Le jeu. 11 févr. 2021 à 20:05, Daniel Lemire <notifications@github.com> a
écrit :

[2021-02-11 20:05] richardstartin commented on #463
I’d just called it org.roaringbitmap.v1 and align it with the library version

[2021-03-08 21:34] Cheappie commented on #346
Hi, sorry for resurrecting old topic. But let me ask just out of curiosity, what are your thoughts about TEB container ?

[2021-03-11 08:24] huangfeng1993 opened #465 "ZipRealDataRetriever closed stream in next()"
**Describe the bug**
A clear and concise description of what the bug is.

ZipRealDataRetriever closed stream in next()

[code]
buf is autoclosed after next(), so calling next() twice has wrong with "Stream closed"

**To Reproduce**
run any RealDataBenchmark.

**RoaringBitmap version:**
latest

[2021-03-11 17:43] lemire commented on #465
Fixed by https://github.com/RoaringBitmap/RoaringBitmap/pull/466

Note that the fix puts us back to where we were originally, with a dangling ressource that never gets closed.

[2021-03-11 17:43] #465 closed

[2021-03-11 20:52] blacelle commented on #465
For the sake of dumb guy not knowing how to properly run these JMH tests from IntelliJ:

    ./jmh/run.sh org.roaringbitmap.realdata.RealDataBenchmarkAnd

@lemire , the following is a simple/not-lazy loading of positions, a priori without leak:

[code]

Would it be good enough? (The lazy loading looks not relevant given we loading the whole dataset before each test).

[2021-03-11 20:55] lemire commented on #465
Let me try it.

[2021-04-07 11:07] Ignition opened #470 "Optimise partialRadixSort"
That outer loop does 2 passes, you can just unroll it.
Fist pass copies into the `copy` buffer second pass copies back to the `data` buffer. This eliminates the need for `System.arraycopy`.

https://github.com/RoaringBitmap/RoaringBitmap/blob/39a6de27bae195bc69048e51b2e8d4240547bd98/RoaringBitmap/src/main/java/org/roaringbitmap/Util.java#L1099-L1120

[2021-04-07 11:19] Ignition commented on #470
Might also be worth while adding in an early exit check for it the data is already partially pre sorted. Something like

[code]

[2021-04-07 13:18] lemire commented on #470
It is a good remark.

Why unroll?

[code]

As a rule, it is probably best to delay optimization passes until one has run benchmarks and can quantify the cost and the benefits. Have you run benchmarks?

[2021-04-07 13:24] lemire commented on #470
This `isPartialSorted ` code is almost surely wrong... Keep in mind that Roaring treats int values are unsigned integers. You probably want the following...

[code]

[2021-04-07 15:09] Ignition commented on #470
I don't have any comprehensive benchmarks, but for the cases I was testing (not isolated to RoaringBitmaps). I was using `bitmapOfUnordered` with a large array of data (~100'000'000 items) along with other code and getting about 20% speedup by just removing those memory moves, in theory this should be a gain regardless of data size or machine cache sizes.

Since this is not an in-place sort, detec

[2021-04-07 15:19] lemire commented on #470
@Ignition @richardstartin We are going to update the code to avoid the copies. I think that there is a consensus that avoiding unnecessary copies does not require much further discussion.

The additional "is sorted" check is not hard to do (almost literally a single extra line) but I am with @richardstartin that we can't go on just based on how the code looks.

My expectation is that the user of t

[2021-04-07 15:20] lemire commented on #470
I am closing this.

@Ignition If you have leftover concerns, please open a new issue, providing benchmarks.

[2021-04-07 15:20] #470 closed

[2021-04-07 15:34] Ignition commented on #470
Yeah, refactoring code is difficult, would be good to know it was sorted or not. (not your problem 😄)
I prefer to avoid `Arrays.sort` for large arrays and let RoaringBits handle it, because in theory partial radix sort is less work than a full sort.
It is ok, given the reduced memory move optimisation in `partialRadixSort` I can at least write:
[code]

Thank you for looking at this issue, and the

[2021-04-07 16:07] Ignition commented on #470
@lemire FYI, I don't know why (C++ dev, new to Java and how the JIT works) but the unrolled implementation is faster, something to look at.

[2021-04-08 09:17] Ignition opened #472 "partialRadixSort optimisation"
I took a look at change you did in #471 and removing the memory move wasn't enough, don't ask me why but you need the loop unroll which gives the performance gain.

[code]

[code]

[2021-04-08 09:28] richardstartin commented on #472
@lemire it seems you regressed my mission critical partial radix sort by about 50us. Disappointed!!!1

@Ignition it looks like a nice speedup - do you feel like submitting a PR?

[2021-04-08 09:42] Ignition commented on #472
Will do later today. Just out on a walk with my SO.

[2021-04-08 13:18] lemire commented on #472
@Ignition @richardstartin That is not the numbers I am getting. Just one minute.

[2021-04-08 13:53] lemire commented on #472
@Ignition @richardstartin

A claim that the new code without the copy is slower seems extraordinary, and I don't think it holds up. Here are my numbers....

Java 8 on M1:
[code]
(the M1 has a fantastically clean performance profile, look at the errors!)

Java 12 on Skylake

[code]
(noisier than I'd like, see error margin)

Source code: https://github.com/lemire/Code-used-on-Daniel-Lemire-s-blog/tr

[2021-04-08 14:03] richardstartin commented on #472
I agree. It's also suspicious when there are no error bars, meaning there aren't enough iterations to know if the measurement hit steady state.

[2021-04-08 14:15] lemire commented on #472
I get better results with this simpler code....

[code]

It matches and maybe beats the suggested unrolled versions.

[code]

[2021-04-08 14:26] Ignition commented on #472
Fixing the mask, that is a very nice trick.

[2021-04-08 14:30] lemire commented on #472
@Ignition I'd love to see even faster code!!!

https://github.com/RoaringBitmap/RoaringBitmap/pull/473

My intuition here is that what your unrolling does is allow the compiler to figure out that it does not need to do bound checking whereas the single loop makes Java shy about bound checking elision. I could be wrong, but my mental model seems to match what I am seeing in terms of numbers.

[2021-04-08 14:46] richardstartin commented on #472
The elephant in the room is the copy of the 100M element array (381MB) which is going to catch up with you pretty quickly here

[2021-04-08 14:54] lemire commented on #472
@richardstartin If you are ingesting data in blocks of 381 MB, you can probably help matters greatly with some re-engineering where you can break your chunks into smaller chunks.

[2021-04-08 15:15] Ignition commented on #472
@lemire unroll still improves performance on my machine even with the hardcoded mask. This time I did enough runs to get error range.
[code]
(OpenJDK 11 on MacOS with Intel i9 (Coffee Lake))

I have no idea if this perf difference is runtime or processor architecture.

As @richardstartin says, we are hitting the limit because at a minimum you have to copy all data between buffers and back again. N

[2021-04-08 15:50] lemire commented on #472
I have added your new code to my benchmark and duplicated some functions (added the 2 suffix) so we can see the effect of noise...

Apple M1 / Java 8

[code]

Skylake / Java 12

[code]

The clear conclusion you can draw is that "_new" was better than the original and then that everything else we tried as better than "_new".

It could be interesting to further investigate the issue using a matrix o

[2021-04-08 16:02] richardstartin commented on #472
The reason I'm raising the cost of the copy is I think it should be avoidable to have already materialised 100M unsorted integers before adding them to the bitmap. The spirit of the `Writer` API, the way it's used in the system I wrote it for, and in Druid and Pinot, is that row IDs are monotonic, and _appended_ to the bitmap almost as soon as they are generated. So you just repeatedly call `write

[2021-04-08 17:53] lemire commented on #472
If you have huge arrays (say 100M integers), then you almost surely want to do something entirely different.

The most obvious solution would be to parallelize. So fragment your large array into N subarrays where N depends in part on the number of CPUs you have,  then sort each of them (each on its own core) then merge back. There are Radix-Sort versions of this approach.

We could provide a reall

[2021-04-09 08:00] richardstartin commented on #472
@Ignition please try the implementation here: https://github.com/RoaringBitmap/RoaringBitmap/pull/474

[2021-04-09 10:14] Ignition commented on #472
I get the point about `partialRadixSort` shouldn't be used in production. Particularly with my 100M array example. In my case the code I'm refactoring is a localised change, converting from one representation into Roaring, so ATM can't guarantee its ordered and so the construction cost dominates. Eventually I hope move Roaring to other areas of the code and avoid converting representation (and hop

[2021-04-09 10:33] richardstartin commented on #472
@Ignition if we give up on stability (which we don't gain from) we can get rid of the copy, in which case this code could eventually be used in production safely.

Anyway, good luck with your migration and please come back with more fun problems soon!

[2021-04-14 05:29] annym opened #475 "RunOptimization Bug for specific BitSet range in RoaringBitmap"
**Describe the bug**

When using runOptimize() on  a very specific sequence of continuous bits (around Integer.MAX_VALUE) and then attempt to iterate over the bitmap, this will go into an infinite loop. The sequence of "continuous" bits needs to be set in the range (lower_bound, Integer.MAX_VALUE], where, lower_bound <= Integer.MAX_VALUE - 3.

In other words, whenever more than 4 bits are set belo

[2021-04-14 07:28] blacelle commented on #475
Thanks for the report @annym . Looking at it.

[2021-04-14 12:09] blacelle commented on #475
Here is a simplified unit-test. @lemire It is not specific to Roaring64NavigableMap, nor Serialization. Definitely due to the combination of adding MAX_VALUE - 3 (in addition to previous values), and a call to .runOptimize

[code]

It gives:

[code]

I did not dig further.

[2021-04-14 12:29] lemire commented on #475
@blacelle Want to take a look?

[2021-04-14 12:29] lemire commented on #475
@blacelle Sorry, saw your answer too late.

[2021-04-14 12:30] lemire commented on #475
I'll take a look.

[2021-04-14 14:02] marshallpierce commented on #454
In case it's helpful, I've got publication to the Sonatype repo working in a multiproject build like this one in https://bitbucket.org/marshallpierce/kotlin-new-relic/src/master/build.gradle.kts.

It doesn't help with the slowness and unreliability of Sonatype, but here's the procedure:

1. `./gradlew release` -- this creates and populates a "staging repo". This assumes you've already done the GPG

[2021-04-14 14:05] lemire commented on #454
@marshallpierce That's a helpful comment.

[2021-04-14 14:10] lemire commented on #454
@marshallpierce Having to go to the sonatype web GUI to close the artefact is *not* a major problem. It only becomes a problem when it is slow and when it fails.

Anyhow, as far as the current PR is concerned, we do not need to have it fully automated. It should only upload the artefacts. That would be good enough.

[2021-04-14 14:18] marshallpierce commented on #454
OK, I'll take a stab at it since I'm already in the middle of doing the same for various other libraries. What a great use of time this is for all the OSS maintainers affected by the Bintray shutdown :roll_eyes:

[2021-04-14 14:46] brianf commented on #454
If you want to move over to the new system S01,  Just create a new issue here to request migration: issues.sonatype.org/projects/OSSRH

It will only change the url you use to access the system and it will be much faster and more stable.

[2021-04-14 15:41] lemire commented on #454
@brianf Thanks Brian.

[2021-04-14 18:23] richardstartin commented on #475
@lemire I have bandwidth to fix this if you don't get round to it

[2021-04-14 18:41] lemire commented on #475
@richardstartin Please do because I won't get to it soon. (Meetings.)

[2021-04-14 18:50] lemire commented on #475
@richardstartin I got as far as verifying the issue.

The bitmap state is good but something in the forEach is broken, probably with run containers.

[2021-04-14 18:50] lemire commented on #475
See https://github.com/RoaringBitmap/RoaringBitmap/pull/477

[2021-04-14 18:51] lemire commented on #475
Nevermind. Looks obvious...

[code]

Can you spot the bug?

[2021-04-14 18:55] richardstartin commented on #475
I think we should check for `l <= base + le` vs the pattern `l - le <= base` and add some randomised testing around `Integer.MAX_VALUE`

[2021-04-14 18:58] lemire commented on #475
I'll do it and ask you to review.

[2021-04-14 18:58] lemire commented on #475
Zoom meeting now.

[2021-04-14 19:23] lemire commented on #475
Ok, so there is a potential fix at
https://github.com/RoaringBitmap/RoaringBitmap/pull/477

[2021-04-14 19:24] lemire commented on #475
It is a standard overflow bug.

[2021-04-14 21:03] #475 closed

[2021-04-14 21:03] lemire commented on #475
@blacelle Should be good now. It was a silly bug.

[2021-04-15 14:51] lemire commented on #454
@marshallpierce I have released what I think is a valid version by effectively doing

` ./gradlew  -Pversion=0.9.10 publishToSonatype `

... it takes about 4 mins. Then I go to oss.sonatype.org and I close... it takes a few minutes, then I hit release and it seems to work.

However, it does not update anything in git, so the snapshot version in `gradle.properties` is unchanged and there is no git

[2021-04-15 14:53] lemire commented on #454
It does look like it worked...
https://repo1.maven.org/maven2/org/roaringbitmap/RoaringBitmap/0.9.10/

[2021-04-15 15:00] marshallpierce commented on #454
That will work, but the existing `./gradlew release` flow should work as well because `afterReleaseBuild` depends on `publishToSonatype` for each of the published subprojects. That is:

1. `./gradlew release`, follow prompts for updated version etc as usual
2. go to oss.sonatype.org and close
3. wait a few minutes and go back to oss.sonatype.org and release

The `-Pversion=foo` stuff was just a wa

[2021-04-15 15:04] lemire commented on #454
Ok. I am going to close this issue for now.

I think that @blacelle worked on additional features, but what we have is enough to close the issue.

[2021-04-15 15:04] #454 closed

[2021-04-15 15:10] lemire commented on #454
I have created a sonatype issue at https://issues.sonatype.org/browse/OSSRH-67401 following @brianf 's comment.

[2021-04-15 19:39] lemire opened #478 "Migrate to s01.oss.sonatype.org"
It seems that we need to migrate to s01.oss.sonatype.org.

Sonatype includes the relevant information in their guide...

https://central.sonatype.org/publish/publish-gradle/

But our current build does not reference a URI for the repository (it is somehow implicit?).

@marshallpierce can you help?

[2021-04-15 20:11] marshallpierce commented on #478
Fortunately, it looks like the nexus plugin has docs for this case: https://github.com/gradle-nexus/publish-plugin/#publishing-to-maven-central-via-sonatype-ossrh

[2021-04-15 20:41] lemire commented on #478
That's helpful.

[2021-04-15 20:55] lemire commented on #478
Solved with the latest commit.

[2021-04-15 21:02] lemire commented on #454
@brianf We switched to the new system. It was so fast that I thought that my test had failed, but there it was in the GUI.

It is now on par with systems like npm.

[2021-04-15 21:22] brianf commented on #454
Love it. I'm glad we could get that done quickly for you.

On Thu, Apr 15, 2021 at 5:03 PM Daniel Lemire ***@***.***>
wrote:

[2021-05-04 15:54] larsk-db opened #479 "[RFC] Materialise Range"
I would like some feedback on how the community feels about adding the following kind of API:

That is, I am proposing an API equivalent to the following code on a `RoaringBitmap bitmap`, for arbitrary values of `int BUFFER_SIZE`, `int startIndex`:
[code]

### Why is this relevant?

There are applications, where both the `true` and `false` values on the `contains`-method within the universe of a b

[2021-05-04 16:36] lemire commented on #479
@larsk-db

Here is my proposal.

Can you come up with a "proof of concept" benchmark to illustrate the performance benefits you foresee? Take a problem, implement it with the current API. Measure the performance. Then guess how much faster it could get, and report that. Whatever you are trying to do... I would start by trying to look at what the current API allows. If it is not 'slow' then it is p

[2021-05-05 07:56] larsk-db commented on #479
@lemire

So, I have done this within the context of my use-case, and there I could observe between a 3x and 150x performance difference between the iterator implementation and the materialise implementation, and between 100x and 700x between random lookup and materialise. The range here depends on the size of the filter. The iterator implementation does better on smaller filters, because its seek

[2021-05-05 09:14] richardstartin commented on #479
For pagination you can figure out the index of the page (i.e. `(i >>> PAGE_SHIFT)`) and the index within the page (i.e. `(i & PAGE_MASK)`) and track when the page index has changed whilst doing inverted iteration.

[code]

You would skip over potentially millions of empty pages in very sparse bitmaps, but that feels like it's a feature not a bug.

I also appreciate that inverted iteration can be v

[2021-05-05 10:49] larsk-db commented on #479
@richardstartin Thanks, I've tried something like this approach, too, actually. The problem is that `bitmap.forEach` always goes through the whole bitmap, so it's the bitmap that controls when which page gets materialised. I need an external entity (say the user, or a data processing executor) to control which page should get materialised, based on what it wants to see/process right now. So more o

[2021-05-05 13:33] lemire commented on #479
@larsk-db

This looks reasonable:

[code]

We can probably debate a bit the names. Are you sure about `MaterializeVisitor`? What you have there is a consumer. Whether it 'materializes' anything is up to you.

What about `RangeConsumer` or something?

Note that your consumer is explicitly 32-bit which might be totally fine. The `materializeRangeInto` probably needs a final index as well, or (maybe

[2021-05-05 16:10] larsk-db commented on #479
Ah, yes fair point. I was thinking about visitor pattern originally, because it was doing tree traversal and I wanted to do different things per container. But since it's not actually exposing the different container types, I do concur that `RangeConsumer` is a more correct name.

For the version with an array as parameter it was pretty clear from the length of the array what the end index should

[2021-05-05 16:32] lemire commented on #479
Quick comment: I agree. No need for a 64-bit version. I was not criticizing your proposal. It is perfectly fine to have a 32-bit consumer on a 64-bit data structure. Of course, it needs to be documented (which can be done with a single sentence). I also agree with `RelativeRangeConsumer`. It sounds good.

If someone needs a 64-bit consumer, we can add it later.

[2021-05-07 08:20] larsk-db opened #481 "Flaky Test"
**Describe the bug**
There is a flaky test in the suite somewhere, most likely `org.roaringbitmap.RoaringBitmapWriterRandomisedTest`, since its both concurrent (introducing non-determinism) and random (all the non-determinism :D).

I have observed the following three possible behaviours when running the full test suite (on macOS...not sure if it makes a difference):

1. All tests complete in aroun

[2021-05-07 13:24] lemire commented on #481
Points to stress here:

1. The tests do take a long time (several minutes). They may take longer on a weak machine. It is conceivable that they run in under a minute on a powerful machine but most users should expect several minutes.
2. Our tests all run systematically in CI, with every commit, on GitHub's cloud container and on other systems, we do not experience problems.
3. We could extend our

[2021-05-07 13:43] larsk-db commented on #481
This is my output in the "good" case:
[code]

I interpret this as "the whole test suite ran and completed successfully".

Yeah, of course. But I do like to know if I broke something unexpected before I push preferably. So I tend to run this once before I start working on a new branch to see if anything fails currently on `master` and then again before I actually create a PR so I know if I broke st

[2021-05-07 14:26] larsk-db commented on #481
I've run `./gradlew test --rerun-tasks` again a few times on latest master. Both on my MacBook and on an AWS c5.9xlarge Linux machine.

Run Results (macOS):

1. Stuck
2. Failed (after 4min this time)
3. Stuck
4. Successful (in 8min)
5. Failed (after 10min)

Run Results (Linux):
1. Successful (in 10min)
2.

I'll keep running a bunch more of these while in meetings and update this post.
So far, I gu

[2021-05-07 14:52] lemire commented on #481
In both instances, you are running from a fresh tree...

[code]

And you are typing `./gradlew test` and not some buffer-aware command like `./gradlew test --rerun-tasks`.

Correct?

My 2020 Macbook Pro (M1) takes over 7 minutes to run these tests.

[2021-05-07 15:00] larsk-db commented on #481
Well, you can see it also failed once on AWS. It just seems to be a lot rarer. Race condition that depends on kernel primitives perhaps?

[2021-05-07 15:07] lemire commented on #481
Which test failed?

[2021-05-07 15:09] larsk-db commented on #481
Run number 3. It's the same as always, it fails with a cancellation exception. I stopped checking the suite, but I assume it's `org.roaringbitmap.RoaringBitmapWriterRandomisedTest` again.

[2021-05-07 15:12] larsk-db commented on #481
What I find very strange is that there is such a HUGE range of possible test run times: between 1.5min and 16min.

I'm thinking now the ones I declared as "stuck" were just on the slow ends and I got impatient, because I didn't expect this difference.

I do get the <5min runtime a lot more rarely since your PR than before, so it seems that random stuff may have been (and may still be) a cause for

[2021-05-07 15:15] larsk-db commented on #481
As you can see above, I'm getting them about 50% of the runs on my macbook and very rarely on AWS.

[2021-05-07 15:21] lemire commented on #481
The way we handle these issues with CI tests. I cannot reproduce your issue in CI and I cannot reproduce it locally (even though I run macOS).

I understand that you believe that there is a bug. If so, I encourage you to investigate and provide a pull request. Given that I cannot reproduce the issue, you have to understand that I cannot do anymore.

I did what I could.

[2021-05-07 15:23] larsk-db commented on #481
Ok, that's fair. But just as a final question: Do you also see these MASSIVE differences in test run-time? I feel like this is somehow at the heart of the problem and it would help me try and track this down.

[2021-05-07 15:26] lemire commented on #481
@larsk-db

We do not. You can watch the tests running in CI and see how long they take. Certainly there are variations but not massive ones.

[2021-05-07 16:28] larsk-db commented on #481
Ok, so I ran out of ideas and randomly tried with different JDKs (14 on AWS and 11 on my mac) and now I've been seeing super consistent (in terms of timing) runs with no failures in both environments. It seems something about the funny JDK we use at work doesn't get along with either Gradle or something in the tests.

I still think it's funny that my 8-core MacBook executes everything in a bit ove

[2021-05-13 15:36] richardstartin commented on #481
Just to say I haven't really touched this project in anger in a long time, and I am having lots of issues with it today, including this test failure.

[2021-05-13 15:46] lemire commented on #481
@richardstartin So you can reproduce it?

[2021-05-13 15:54] richardstartin commented on #481
Actually no, sorry, it turns out I had just broken the radix sort 🤣

[2021-05-13 15:54] #481 closed

[2021-05-26 22:33] griffinjm opened #487 "ArrayIndexOutOfBoundsException thrown by or() method in some multithreaded application"
**Describe the bug**
An ArrayIndexOutOfBoundsException gets thrown when OR-ing 2 bitmaps.
[code]

**To Reproduce**
I think the issue is that bitmap2 which is getting OR-ed with bitmap1 can also be getting OR-ed with other bitmaps at the same time. That is not to say that bitmap2 is being modified itself, but it is being used to add its contents to other bitmaps. I have not seen this happen in sing

[2021-05-26 23:13] lemire commented on #487
Thanks for the report.

You need to either produce a reproducible case that we can inspect, or else, you need to provide an analysis to demonstrate that there is a bug in the `RoaringBitmap` library. It is simply impossible for us to do anything right. We do not have evidence that there is a bug in `RoaringBitmap`.

The most straightforward conclusion from your report is that you have some data ra

[2021-05-27 23:55] simeonpilgrim opened #488 "Roaring64Bitmap advanceIfNeeded into gaps returns the too far into the next range."
If you set two ranges of values `A-C, E-F` and then advance the iterator to `D` I would expect the peekNext/Next to return `E` where I am getting `E+`

Thus the 64 bit Code fails, where the 32 bit code works.

[code]

**RoaringBitmap version:**
0.9.10

**Java version:**
  zsrc11.48.21-jdk11.0.11 aaa599031ee78a8b4006c475659621d448509b33
  OpenJSSE 1.1.6 b1b08ea9c6becef6fa5642e85857acef2135e7d2

[2021-05-28 00:49] lemire commented on #488
@weijietong Want to take a look?

[2021-05-28 03:45] simeonpilgrim commented on #488
parameterizing the ranges as below, I found the gap of the first range needed to be >= 18.5K

[code]

[2021-05-28 07:24] larsk-db commented on #488
Hmm...maybe it forgets to reset the CharIterator after advancing container to the one that starts at `4000000000L`?

[2021-05-28 07:30] larsk-db commented on #488
@weijietong I think this may be my code's fault, actually. Let me take a stab at this.

[2021-05-28 23:50] griffinjm commented on #487
@lemire you are absolutely correct, it turns out that what I thought was a method local bitmap was actually shared and multiple threads could access it at the same time. Apologies for taking some of your time, closing this issue.

[2021-05-28 23:50] #487 closed

[2021-05-29 00:44] lemire commented on #487
Note that mere access should be fine if the data is nit mutated.

[2021-06-03 09:34] #488 closed

[2021-06-15 15:16] lemire opened #497 "Release process is broken: artifacts do not get uploaded to sonatype"
The release process for RoaringBitmap should go as follows:

[code]

I never followed these instructions before. I did something much more complicated for 0.9.10... something like that...

[code]
There was more to it. I just tried to document it as best as I could... but it was a bit experimental.

The short story is that the convenient instructions stated above were never tested as such.

So I tr

[2021-06-15 15:16] lemire commented on #497
cc @marshallpierce @blacelle

[2021-06-15 15:21] lemire commented on #454
@marshallpierce

If I do as you suggest, then nothing appears at sonatype and I am not sure that something gets uploaded.

https://github.com/RoaringBitmap/RoaringBitmap/issues/497

[2021-06-15 15:25] lemire commented on #497
I figured it out. The link is https://s01.oss.sonatype.org/ and not https://oss.sonatype.org/ as I had written down.

[2021-06-15 15:25] #497 closed

[2021-06-15 15:27] lemire commented on #454
Ah. One needs to go to https://s01.oss.sonatype.org/
Not https://oss.sonatype.org/

These two sites only appear identical.

[2021-06-15 15:45] marshallpierce commented on #454
Yep, that's correct -- it's not clear to me why they didn't just make the existing site faster instead of recreating it and causing the bifurcation. Oh well. I've only just now started using `s01` on one project and so far it seems to work.

[2021-06-15 15:47] brianf commented on #454
The old system is on hugely scaled infra but the levels just exceeded what
could be thrown at it without underlying software architecture changes. We
are revamping the whole thing, but in the interim, the easiest and
quickest, low risk was to shard the systems essentially.

On Tue, Jun 15, 2021 at 11:45 AM Marshall Pierce ***@***.***>
wrote:

[2021-06-15 15:55] marshallpierce commented on #454
Gotcha. Well, we're glad to have s01 either way; it's a lot nicer to have fast feedback!

[2021-06-18 11:19] novoj opened #498 "Invalid cache reset in FastRankRoaringBitmap"
**Describe the bug**

Method `.select(rec)` might return confusing results when `.rank(rec)` is called before first element is added to the FastRankRoaringBitmap.

The problem is that first call to rank will create `highToCumulatedCardinality` with zero elements in method `org.roaringbitmap.FastRankRoaringBitmap#preComputeCardinalities`. But then any write call to the FastRankRoaringBitmap that so

[2021-06-18 13:51] lemire commented on #498
cc @khitrin @richardstartin

[2021-06-18 13:52] lemire commented on #498
@novoj  Do you want to contribute a pull request to fix the issue?

[2021-06-18 13:57] richardstartin commented on #498
I don’t remember what this was for; I’ve never used it. I think @blacelle might have contributed this.

[2021-06-18 14:12] richardstartin commented on #498
It’s probably more widely used than you might expect because its name makes it sound fast. I’d be curious to know what the motivation is for speeding up rank calculations.

[2021-06-18 14:49] blacelle commented on #498
I used to work on a fork of MAT (https://www.eclipse.org/mat/) to handle very large heaps. But I feel dumb, as I can not find this fork anymore... Oh, got it:

https://github.com/solven-eu/pepper/blob/master/mat/src/main/java/org/eclipse/mat/parser/index/IndexWriter.java#L264

MAT relies on an index from an objectId to the object position in-memory. objectId being the index of the object in the me

[2021-06-18 16:52] novoj commented on #498
I could make a PR but I'd like to know first whether the `highToCumulatedCardinality.length >= 1` doesn't have some reason which I don't see. The fix seems really straightforward.

@lemire I don't think that the `FastRankRoaringBitmap` was meant to be immutable since there is clear logic in write methods (add / remove) that resets the cache. And yes - I chose this implementation because in my use-

[2021-06-18 18:18] lemire commented on #498
It appears that the mysterious condition was written by @blacelle

Benoit, can you have a look at this code and help us figure out why you seem to only want to reset when `highToCumulatedCardinality.length >= 1`. Surely there must a reason?

[2021-06-18 18:25] blacelle commented on #498
Of course, just need some time thinking about it. I see no obvious reason for now.

@novoj please open a PR so that it confirms tests are OK with suggested fix

[2021-06-18 18:30] blacelle commented on #498
I fear it may be some sort of optimizations, to skip cache dismissal.

Another fix might be not to initialize the cache when rank is called on empty bitmap. Need to check properly with a proper IDE.

[2021-06-18 19:26] khitrin opened #499 "Select in FastRankRoaringBitmap throws NPE or returns wrong result for ranks >= cardinality"
**Describe the bug**

RoaringBitmap.select javadoc:
[code]
but FastRankRoaringBitmap.select will return wrong value for select(rankRoaringBitmap.getCardinality())
[code]
or even throw an NPE for any bigger value.

**To Reproduce**
[code]
**RoaringBitmap version: 0.9.14**

**Java version: JDK11**

[2021-06-18 19:28] khitrin commented on #498
Removing this condition seems like correct solution, but looking around the code I've found some strange things in FastRankRoaringBitmap.select().

Filled separate issue for it: #499

[2021-06-18 20:20] blacelle commented on #498
I feel this bug is due to a poor refactoring following @lemire feedback here (https://github.com/RoaringBitmap/RoaringBitmap/pull/192#issuecomment-350021230). (@lemire You're absolutely not in cause, but I feel I needed this >=1 constrain for the initial implementation which did not have a cumulatedCardinalitiesCacheIsValid)

[2021-06-18 20:45] lemire commented on #498
@blacelle Never feel shy about blaming me. I make lots of mistakes!

[2021-06-18 20:48] blacelle commented on #498
Really, no blaming at all. I poorly improved my PR following your good review, but your review helps remembering why at was relevant at some point to have this .length check. Fixes are coming.

[2021-06-18 20:48] lemire commented on #499
@khitrin Right. So we should guard the query so that we throw an appropriate error when querying with a parameter that is larger or equal to the cardinality. Sounds like it should not be too difficult.

[2021-06-18 20:50] blacelle commented on #499
Thanks a lot for the unit-tests, helps fixing with low-burden.

[2021-06-18 20:51] blacelle commented on #498
Thanks a lot for the unit-tests, helps fixing with low-burden.

[2021-06-18 20:54] novoj commented on #498
Here's the pull request: https://github.com/RoaringBitmap/RoaringBitmap/pull/501 ... all tests are passing but I haven't discovered any tests for FastRankRoaringBitmap itself so I've created new one.

[2021-06-18 20:56] blacelle commented on #499
By the way, the PR holds a very small performance improvement: if we select .getCardinality() - 1, we now skip the binarySearch.

[2021-06-18 22:34] #498 closed

[2021-06-18 22:35] #499 closed

[2021-06-20 03:50] damnMeddlingKid opened #502 "[Roaring64Bitmap] Incorrect result of `and` between disjoint bitmaps."
**Describe the bug**

I've encountered a case where the intersection of two disjoint sets gives a non-zero cardinality.

I debugged the issue and i believe it happens during ART traversal to remove the non-matching containers. Specifically theres a bug in this line https://github.com/RoaringBitmap/RoaringBitmap/blob/master/RoaringBitmap/src/main/java/org/roaringbitmap/art/Art.java#L130

[code]

I

[2021-06-20 06:47] richardstartin commented on #502
Bugs keep turning up for this implementation, and most of them (especially this one) would have showed up after less than a second of randomised testing. The fuzz-tests module has tests for the 32 bit implementations, I suggest extending it. A and B = empty for disjoint A, B is a great property to test.

[2021-06-20 12:59] damnMeddlingKid commented on #502
Agreed, I was thinking along the same lines.  The fuzzing could be broken
into its own issue and PR to keep the work easier to review.

So 1 PR with a fix + unit test and then a follow up for the fuzzing ?

On Sun, Jun 20, 2021, 2:48 AM Richard Startin ***@***.***>
wrote:

[2021-06-20 15:21] lemire commented on #502
@damnMeddlingKid Please submit a PR with a fix and a verification (test).

@richardstartin is, of course, correct, but I do not think that it implies that we should not quickly fix bugs as they are found. We should!

[2021-06-20 16:38] damnMeddlingKid commented on #502
👍 I'll start working on that.

[2021-06-21 05:06] finchen-tencent commented on #366
@weijietong @lemire hi， how to solve Roaring64NavigableMap  serialized  binary format is not compatible with CRoaring

[2021-06-21 11:19] larsk-db opened #504 "[Roaring64Bitmap] Out of bounds exception in Node48 during initShuttleFrom"
Looks like I found yet another issue in the seek implementation for `Roaring64Bitmap`.

I'll look into it as soon as I can. Just reporting so people are aware the issue exists.

**Describe the bug**

[code]

**To Reproduce**
~~I don't have a reproduction, yet. It occurred into a non-deterministic benchmark run.~~

~~I'm going to try and find one as soon as I have some free time.~~

See #505 for re

[2021-06-21 11:44] larsk-db commented on #479
Forgot to close this. It's addressed in #492

[2021-06-21 11:44] #479 closed

[2021-06-21 12:11] lemire commented on #504
I have removed the 'bug' label for now. We need a test.

(I am sure you have encountered the issue, but until we can reproduce it, we do not actually know that it is a bug in Roaring64Bitmap.)

[2021-06-23 05:11] #502 closed

[2021-06-29 07:38] #504 closed

[2021-07-14 16:44] lemire opened #506 "Try a branchless approach for the union of two sorted arrays (array containers)"
See blog post [Faster sorted array unions by reducing branches](https://lemire.me/blog/2021/07/14/faster-sorted-array-unions-by-reducing-branches/)

[2021-07-14 18:38] richardstartin commented on #506
It seems to rely on a CMov which requires the user to set `-XX:+UseCMov` but it looks worth experimenting with

[2021-07-14 18:56] lemire commented on #506
This fellow seems to report that Java will use condition moves just fine on its own...

https://ivansmirnov.wordpress.com/2015/06/14/confirmed-openjdk-jit-compiler-emits-efficient-conditional-move-machine-codes/

[2021-07-14 18:57] lemire commented on #506
Note that the evaluation of both paths is without side-effect so I do not expect that conditional moves break the specification.

[2021-07-23 09:17] richardstartin commented on #506
I was wrong, there is some up to date information on when cmov is used here https://shipilev.net/jvm/anatomy-quarks/30-conditional-moves/

[2021-07-23 13:02] lemire commented on #506
I should say that whether it helps or not is tricky. If the branching is predictable, then it won't help and may even hurt us.

[2021-08-12 03:28] long1208 opened #507 "When restoring data from roaring64Bitmap, the report bug is array is out of bounds"
**Describe the bug**

When restoring data from roaring64Bitmap, the report bug is  array is out of bounds
just restoring part of data
the data is example :"25480628575420416,26887170096644096,26954735041658880,35327856722591744,35425396110934016"
the roaring64Bitmap longCardinality is 189110  ，
restoring data  Cardinality is 91000

**To Reproduce**
code is like this:
  while (longIterator.hasNext(

[2021-08-12 15:02] lemire commented on #507
@weijietong Would you have a look?

[2021-08-13 01:51] weijietong commented on #507
@long1208 Could you try the latest code, there's come bugs fixed after your used version.

[2021-08-13 02:11] long1208 commented on #507
i use the version 0.9.15 ,is still report that bug , what version i should use?

[2021-08-13 02:35] weijietong commented on #507
Could you give a runnable test case code to reproduce the bug.

[2021-08-13 02:45] long1208 commented on #507
@weijietong
code like this :
        Roaring64Bitmap roaring64Bitmap = deSerializeRoaringBitmap(ids);

        PeekableLongIterator longIterator = roaring64Bitmap.getLongIterator();

        final int pageSize = 1000;

        BufferedWriter bufferedWriter = null;

        bufferedWriter = new BufferedWriter(new FileWriter("test3.txt"));

        while (longIterator.hasNext()) {

            for (

[2021-08-13 02:57] long1208 commented on #507
@weijietong How to send mysql data to you？

[2021-08-13 03:01] long1208 commented on #507
[text1.txt](https://github.com/RoaringBitmap/RoaringBitmap/files/6979615/text1.txt)

[2021-08-13 03:07] long1208 commented on #507
@weijietong  this is other code:
` static String sql = "SELECT id,crowd_mix_id,cast(ids as CHAR ) as ids " +
            "FROM " +
            "vboard" +
            ".crowd_mix_result_test where crowd_mix_id=1093 ;";
    static ResultSet rs = null;
    public static final String url =
            "jdbc:mysql://localhost:3306/vboard?serverTimezone=UTC";
    public static final String user = "root"

[2021-08-13 03:47] weijietong commented on #507
I am sorry, I can't give a help. The given codes and data is not friendly (also terrible) to fix the bug. I suggest you do a debugging and welcome to give a PR to fix it.

[2021-08-13 07:40] long1208 commented on #507
ok , thanks ,i change  Roaring64Bitmap  to Roaring64NavigableMap  ，it ok . i will later see it .

[2021-08-13 09:33] blacelle commented on #507
@long1208 Could you provide the raw longs (e.g. in TXT format, one long per line)before the (de)serializing issue (i.e. the 189110 longs if I understand correctly)? Hence, I understand we shall be able to reproduce the issue by loading giving longs (which will be much easier than through mySQL), and (de)serializing.

[2021-08-13 10:11] long1208 commented on #507
@blacelle
the raw data ,this is my from Roaring64NavigableMap  restoring data.
[test3.txt](https://github.com/RoaringBitmap/RoaringBitmap/files/6981627/test3.txt)

[2021-08-13 13:56] blacelle commented on #507
@weijietong @lemire  Unrelated to this issue: Roaring64Bitmap.add(long, long) will add the range between the 2 longs, while Roaring64Bitmap.add(long...) will add each long. Hence, I feel there is a confusion over the behavior of Roaring64Bitmap.add over 2 longs as some would expect adding the 2 longs, and not the range. Should we rename Roaring64Bitmap.add(long, long) into Roaring64Bitmap.addRange

[2021-08-13 13:56] blacelle commented on #507
(I may happen a separate ticket, I just spot this will digging into this)

[2021-08-13 14:30] lemire commented on #507
@blacelle `addRange` throughout feels like the better choice. We could deprecate the abuse of the method `add` and suggest everyone moves to `addRange`. This can be done as a distinct PR.

[2021-08-13 15:39] weijietong commented on #507
@long1208  please run your code using the [PR](https://github.com/RoaringBitmap/RoaringBitmap/pull/509), I think I have fixed the bug. Thanks for your final brief data.

[2021-08-13 16:16] weijietong commented on #507
Aggree!

[2021-08-13 20:53] #507 closed

[2021-08-16 02:52] weijietong commented on #507
@lemire I think we need a new release to have this fix.

[2021-08-16 02:55] lemire commented on #507
Of course! I will take care of the release soon.

[2021-08-16 11:37] long1208 commented on #507
@weijietong i try it use Roaring64Bitmap  ,it work , thanks very much ,also thanks to you   @blacelle

[2021-08-16 11:42] long1208 commented on #507
@weijietong  could you tell me ,what method  i can get the Roaring64Bitmap size in memory. i just try roaring64Bitmap.getLongSizeInBytes() is not work .

[2021-08-16 12:43] blacelle commented on #507
roaring64bitmap.serializedSizeInBytes()

@weijietong Should we implement.getLongSizeInBytes() a way or another?

In Roaring64NavigableMap, I went for:

[code]
(Far from perfect, both implementation should have similar behavior)

[2021-08-16 14:28] lemire commented on #507
See release 0.9.16

[2021-08-17 05:35] weijietong commented on #507
@blacelle I have no plan to implement these two methods, as I am busy with my work now.

[2021-08-21 03:06] nbatra opened #511 "Getting java.lang.ArrayIndexOutOfBoundsException: 255"
I am trying to read a Roaring64BitMap stored on HDFS and getting the following exception

[code]

java.lang.ArrayIndexOutOfBoundsException: 0
        at org.roaringbitmap.art.Node48.replaceChildren(Node48.java:279)
        at org.roaringbitmap.art.Art.deserialize(Art.java:359)
        at org.roaringbitmap.art.Art.deserialize(Art.java:356)
        at org.roaringbitmap.art.Art.deserializeArt(Art.jav

[2021-08-21 04:26] lemire commented on #511
@nbatra Please specify the version you are using.

[2021-08-21 05:16] nbatra commented on #511
0.9.15

[2021-08-21 16:31] richardstartin opened #512 "RoaringBitmap.andNot does not produce optimal containers"
Performing `andNot` on a large contiguous bitmap and a sparse bitmap does not produce run optimised bitmaps when it could, which inflates size:

[code]

This prints:

[code]

However, there leads to a seemingly spurious space/time tradeoff here though, because run optimisation slows subsequent intersections down, so I expect intersections with run containers could be improved:

[code]

[code]

[2021-08-21 16:41] richardstartin opened #513 "Improved support for large andNot queries"
It should be possible to optimise the following aggregation significantly by not requiring materialisation of the contiguous bitmap and by reusing intermediate containers during the aggregation (like `FastAggregation.workShyAnd` does):

[code]

There would be a method added to `FastAggregation`:

[code]

[2021-08-21 16:44] richardstartin opened #514 "RoaringBitmap.toString produces large strings which create problems for debuggers"
The only good way to figure out what container types are used during development is to inspect in memory objects with a debugger, but the string returned by `RoaringBitmap.toString` is too large for this to be ergonomic, causing IDEs GC problems. This could be fixed with a much smaller string size.

[2021-08-21 16:46] lemire commented on #514
I think that's more of a possible enhancement than a bug, no?

[2021-08-21 18:37] richardstartin commented on #514
It was added by accident. It’s neither an enhancement nor a bug in my opinion, just a removal of an ergonomic irritation.

[2021-08-21 20:58] simeonpilgrim commented on #514
it almost seems like it there on purpose. But perhaps it print too much. I know i was finding if helpful the other day (for very small sets)

[2021-08-21 22:16] richardstartin commented on #514
There is a limit but it is too high

[2021-08-22 06:51] weijietong commented on #511
@nbatra please try the latest version 0.9.16 to re-generate ,serialize, deserialize.

[2021-08-22 07:23] weijietong commented on #511
Could you share a small data size to reproduce this bug ?

[2021-08-22 10:46] richardstartin commented on #511
As an aside, it doesn’t sound like Roaring64Bitmap is a good choice for your data - storing 50M 64 bit values without compression would require 0.37GB and you say the bitmap file is larger than 1.5GB. It’s possible this is due to deficiencies in Roaring64Bitmap, but it’s likely your data is highly random and not amenable to prefix compression.

[2021-08-22 10:48] richardstartin commented on #511
I think issues like this (which are frequently reported) indicate that Roaring64Bitmap needs randomised testing.

[2021-08-22 11:28] weijietong commented on #511
We do have some randomised testing in `TestRoaring64Bitmap`(e.g. `testAllKindOfNodeTypesSerDeser()`), but seems we can't always execute it .

[2021-08-22 11:53] richardstartin commented on #511
That test is seeded, so will never discover new failures. There isn’t a test which actually verifies the value of MAX_DEPTH is 7: if you change it back to 6 (or to 5?) all existing tests will pass. I suggest extending the fuzz-tests module to find failures and reduce them to minimal unit tests.

[2021-08-22 12:01] richardstartin opened #515 "Run mutation testing"
There are constants in the codebase which can be changed without test failures, this sort of thing may be caught by [constant mutation](https://pitest.org/quickstart/mutators/#EXPERIMENTAL_CRCR) in pitest.

[2021-08-22 12:19] weijietong commented on #511
Without seed, 100000 times `RepeatedTest` to run `testAllKindOfNodeTypesSerDeser`, still not reproduce this bug.

[2021-08-22 13:17] richardstartin commented on #511
The test only puts 10000 elements into the bitmap and doesn't vary the distribution so I wouldn't expect much from it.

[2021-08-22 15:11] lemire commented on #511
It is optimistic to rely solely on fuzz testing. In my view, fuzz testing is a way to find *new* bugs. It is not sufficient by itself.

[2021-08-22 15:19] blacelle commented on #511
It was @richardstartin point. @richardstartin do you a specific pointer in RoaringBitmap fuzz tests to help building satisfying fuzz tests for 64bits implementations?

[2021-08-22 15:23] lemire commented on #511
Note that I am willing to volunteer a machine/server for running tests during days and weeks and months if someone builds the framework to run the tests in an extended manner.

[2021-08-22 16:12] richardstartin opened #516 "Document behaviour of `IntegerUtils.shiftLeftFromSpecifiedPosition`"
I found this method after discovering (from an OOME in tests) that within the ART module `int`s are modified by unpacking to a `byte[]`, performing the modification, and then packing back to an `int` again.

`IntegerUtils.shiftLeftFromSpecifiedPosition` looks a little odd to me:

[code]

The following test case, which covers the combinations of `position` and `count` for which the method doesn't t

[2021-08-23 03:37] nbatra commented on #511
Thank you, everyone, for your help;  sincerely appreciate it.

We tried regenerating the Roaring64Bitmap with the 0.9.16 version, getting the following exception when deserializing.

@richardstartin You are correct; the dataset (long values) we are using to generate the Roaring64Bitmap is randomized. Do you recommend using any other API for the random long values?

@weijietong Pasting the same lon

[2021-08-23 05:42] weijietong commented on #511
@nbatra I can't reproduce the issue using your supplied data. I also change `testAllKindOfNodeTypesSerDeser`'s number size from `10000` to `500000` to run random tests , still not found this case.

[2021-08-23 05:46] weijietong commented on #511
@nbatra try to change the HDFS file system to local file system to see what will happen.

[2021-08-23 08:47] richardstartin commented on #511
@nbatra this library prefix-compresses sets of integers, it makes a bet that the higher order bits are mostly repeated within the set, so can be stripped off the raw values and deduplicated. If you have random data that isn’t true, and the bitmaps will typically be larger than the data.

I would recommend simply not to use the library for purely random data. Depending on density, you might be bett

[2021-08-23 13:24] lemire commented on #511
@nbatra Note that random 64-bit integers cannot be compressed. That's a general principle. If they could be compressed, then they would not be compressible. I believe that this is explained in our README file but it is just generally true.

[2021-08-24 00:55] nbatra commented on #511
Thank you, @richardstartin @lemire

@weijietong, I think I know the issue; as you suggested, I tried creating a Roaring64BitMap locally. The serialization process took a long time to complete; (for me, it took forever), and I ended up exiting the process in the middle. After shutting down, I noticed a partial Roaring64BitMap file was present in the folder.

I think the same is happening with our s

[2021-08-24 01:15] weijietong commented on #511
Ok,we can close this issue now.By the way,the serialization should not take so many times.From the codes you showed ,the output or input stream should be buffered.

[2021-08-24 04:04] #511 closed

[2021-08-24 08:27] blacelle commented on #511
Shouldn't have the deserialization process failed in case of an incomplete input?

[2021-08-24 09:08] weijietong commented on #511
To fail,we need to know the input file is crushed first. Then we maybe need some techs like checksum. That would be heavy to the ser/deser. Also maybe we need to support the random seek stream inteface.

[2021-08-24 09:53] blacelle commented on #511
We may simply indicates the number of output bytes (quite poor, but very light and catch most form of interruption (but not corruption)). I never went through RoaringBitmap ser-deser protocol: does it have any form of checksum @lemire ?

[2021-08-24 10:17] richardstartin commented on #511
Checksumming is something the user can do themselves if they want to, and they can even choose the algorithm that way. I would prefer to keep the protocol stream oriented so sub linear memory can be used if desired.

[2021-08-24 10:21] larsk-db commented on #511
I agree with this.

We already do that in our code also including some other fields we are writing and it'd probably slow it down significantly to have the checksum calculation duplicated.

[2021-08-26 15:27] richardstartin opened #518 "Cleanup `FastAggregation` class"
There's a lot of experimental code in `FastAggregation`, which is confusing to users and unwieldy to contributors. I suggest removing it.

[2021-09-03 09:07] larsk-db commented on #205
Sorry to necro this ancient issue, but I'm trying to extend the fuzz testing support to Roaring64Bitmap.

Sadly I'm literally failing at step 0: How do I run the existing fuzz tests?

I did some googling on how to use bloody gradle, and it suggested that something like the following should do the trick:
[code]
But apparently that isn't the case :(

Anyone know what the magic invocation is @richard

[2021-09-03 09:35] richardstartin commented on #205
It looks like they have rotted because they don't get run very much (way too costly to run in CI), it's been a couple of years since I've run them, in 5 minutes of trying I couldn't get them to run :(

It's definitely worthwhile resurrecting (or reworking) them because they found a lot of issues in the 32 bit implementations and I suspect lots of issues will turn up for `Roaring64Bitmap`.

[2021-09-03 10:44] larsk-db commented on #205
Alright, thanks for checking and confirming I'm neither insane nor dumb :D

I concur. `Roaring64Bitmap` has been having so many issues recently which people randomly found, that I really feel we need this to have any confidence in the implementation at this point.

[2021-09-03 11:08] richardstartin commented on #205
I started looking at this myself just to demonstrate there's a problem and that we should probably include a warning that `Roaring64Bitmap` is currently beta quality, but I ran into memory consumption issues quickly and I consider memory parsimony a prerequisite for reliable fuzz/property testing. Some of the problems can be resolved easily, but one of the biggest problems, that the containers are

[2021-09-03 11:11] larsk-db commented on #205
Do you have a pointer to a branch I could use as a starting point? No need to redo all the work you already put in.

[2021-09-03 13:52] richardstartin commented on #205
I got sidetracked by the OOMEs pretty quickly and don't have anything worth sharing. (I do have a branch where I removed the `NodeType` enum which reduces the size of some ART nodes (alignment prevents this from being universally effective) which I can push if there is interest.)

[2021-10-06 15:21] vnesek opened #528 "AND between two Roaring64NavigableMaps throws unsupported operation"
**Describe the bug**
And between two bitmaps throws exception.

**To Reproduce**
[code]

throws
[code]
**RoaringBitmap version:**
0.9.22

**Java version:**
16

[2021-10-06 15:53] lemire commented on #528
@blacelle Could you have a look?

[2021-10-06 21:34] lemire commented on #528
@blacelle I am curious... What is the rationale for these code sequences to generate what are effectively non-interoperable internal types?

[code]

[code]

(You don't have to answer that... but it seems somewhat... interesting...?)

[2021-10-06 22:14] richardstartin commented on #528
I think they should have been kept separate in this class, it's difficult to abstract over the storage types and doing so would impose costs. So I would have been tempted to introduce a generic type parameter for the bitmaps in the leaves, rather than try to handle everything as a `BitmapDataProvider` (or whatever it's called) and either miss combinations or implement aggregation routines for the

[2021-10-07 05:41] vnesek commented on #528
For a user of an API this is confusing. If I read docs correctly Roaring64NavigableMap() is mutable object.

This belief is reinforced by helper static code:

[code]

Same code using RoaringBitmap or Roaring64Bitmap works.

My use case involves around 1M low cardinality (up to 50) bitmaps that are joined into bigger blocks and chunked afterwards for processing. Should I use Roaring64Bitmap instead

[2021-10-08 15:51] #528 closed, assigned to blacelle

[2021-10-14 17:02] richardstartin opened #532 "Use Multi-Release jar Gradle plugin"
https://melix.github.io/gradle-mrjar-plugin/0.1/index.html

[2021-11-08 10:16] Hecbi opened #537 "Result of Roaring64Bitmap::and is not right"
**Describe the bug**
[code]

result of c is 275846320, but there is no 275846320 in c

**RoaringBitmap version: 0.9.22**
**Java version: 1.8**

[2021-11-08 10:29] richardstartin commented on #537
Thanks for providing a test case.

@weijietong want to take a look?

[2021-11-09 02:39] weijietong commented on #537
yes,will fix it.

[2021-11-09 03:09] #537 closed

[2021-11-09 10:17] richardstartin commented on #537
@lemire could you release this fix?

[2021-11-09 13:21] lemire commented on #537
Yep. Today.

[2021-11-09 20:04] lemire commented on #537
@richardstartin  Done.

[2021-11-12 17:07] p1nox commented on #417
I'm having this same issue.

@maxdemarzi I setup the version directly in `pom.xml`

[code]

But I can see that both versions are downloaded, included in maven repository `org/roaringbitmap/RoaringBitmap`, `0.7.17` and `0.9.0`.

Do I need to import a specific version in Java code directly? How another procedure was grabbing a different version as you mentioned?

[2021-12-17 14:38] lemire opened #544 "AddOffset optimizations"
In the Go version of RoaringBitmap, @Oppen  [contributed some optimizations to the AddOffset functions](https://github.com/RoaringBitmap/roaring/pull/343) which should be applicable to Java as well.

[2022-03-01 04:35] ashishkf opened #549 "MutableBitSliceIndex.rangeEq returns wrong results when predicate is greater than max value"
**Describe the bug**
MutableBitSliceIndex.rangeEq returns incorrect results when predicate is greater than max value.

**To Reproduce**
Create a MutableBitSliceIndex, add a few values and then invoke rangeEq with predicate greater than the max value that was added.
It should return wrong results.

[2022-03-01 04:35] ashishkf commented on #549
Basically rangeEq should return empty results by check if predicate is greater than eq to the max value.

[2022-03-01 10:10] richardstartin commented on #549
I’m not sure there’s any value in keeping MutableBitSliceIndex now we have RangeBitmap, since RangeBitmap outperforms it for the same operations. RangeBitmap doesn’t explicitly support equality or inequality predicates but they would be easy to add. The former (eq(x)) can be emulated with between(x, x).

[2022-03-01 17:26] ashishkf commented on #549
Does RangeBitmap support getValue(columnId/rowId) and setValue(columnId/rowId, value) APIs?

[2022-03-01 17:34] richardstartin commented on #549
Not exactly, though getValue would be easy to implement. I appreciate you've reported a bug and this discussion is tangential, but what is your use case for these methods? It would be good to understand if it can be handled better by RangeBitmap since it's generally a lot faster than the bit slice index implementation.

[2022-03-01 17:58] ashishkf commented on #549
Basically, the use case is same as what BitSlicedIndex's document talks about - storing values for high cardinality OLAP columns indexed by rowId.

If RoaringBitMap is more efficient and if it can address the above use case, I can try it out - including making changes if required.
Can RoaringBitMap be adapted to do setValue/getValue use with non-sequential rowId?

[2022-03-01 18:19] richardstartin commented on #549
RangeBitmap has a build then freeze lifecycle, which should usually be appropriate and I wouldn't want to see that change. Do you really need online mutations, if so fixing MutableBitSliceIndex would be a better course of action.

[2022-03-01 18:32] richardstartin commented on #549
I also don't understand the use case for `getValue` - when would something other than a bitmap (or an iterator) of row ids (or column ids if you are so inclined) satisfying a predicate not be desirable?

[2022-03-01 18:45] richardstartin opened #550 "Implement `RangeBitmap.eq` and `RangeBitmap.neq`"

[2022-03-01 19:20] ashishkf commented on #549
Yes, we do need online mutations.

[2022-03-01 20:30] ashishkf commented on #549
predicate / rangeEq returning bitmap of row ids is good. However, we are using MutableBitSliceIndex to store high cardinality values for a given column and row by having one MutableBitSliceIndex per column and indexing the value by the rowid.

[2022-03-07 19:44] richardstartin opened #552 "`RangeBitmap` optimisation: slice operations can be eliminated when the threshold contains trailing 1s"
More details [here](https://richardstartin.github.io/posts/range-bitmap-index#optimisations)

[2022-03-29 08:16] jsorel opened #556 "RoamingBitmap to Uncompressed BitSet/byte[]"
Hello,

In a format call 'GRIB' there is bitmap section, so far i used a classic java Bitset but on some files it takes a lot of memory.
So I'm trying to use RoamingBitmap instead, but at writing I didn't find any way to get a compact byte[] as in Bitset.toArray.

Maybe I missing it, something like :
[code]
Or maybe there is somekind of serializer ? How do you suggest it could be done in a efficie

[2022-03-29 08:36] jsorel commented on #556
The doc is not very clear :
[code]
this looks like it generates a custom serialization byte array.

[2022-03-29 08:44] jsorel commented on #556
Just made a test :
[code]
output is :
[code]
Which is not was I expected, a single bit set at offset 1000.

[2022-03-29 08:54] larsk-db commented on #556
Ah, my bad. I thought you just wanted a serialised version you can store in a GRIB file.

I don't believe RoaringBitmap has an API to convert into a bitset representation, beyond just iterating through all the values, adding them into a bitset and calling `toByteArray()` on that.

[2022-03-29 09:03] jsorel commented on #556
That's what I have for now, but it does look really inefficient.
[code]

[2022-03-29 09:07] larsk-db commented on #556
It certaintly is.

You could add a new method for this in a PR, that at least for containers that are already bitset encoded gives you better performance, but it'd still have to essentially go through this step (or something similar) for array and RLE containers.

And of course you'd immediately lose your size reduction benefits from using RoaringBitmap in the first place again. So I think the rea

[2022-03-29 09:31] jsorel commented on #556
I have no choice, the GRIB Format is well defined, it's a standard
https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/

We loose in memory, but it's only when writing it back in GRIB, when file is loaded it uses far less then a BitSet, so it's worth it.

After a benchmark, we drop from 3.83Mo to 194Ko

With BitSet :
![grib_bitset](https://user-images.githubusercontent.com/8068203/160580809-8d6

[2022-03-29 09:37] larsk-db commented on #556
Ok, that makes sense.
Would it be possible, instead of materialising the entire `byte[]` from the RoaringBitmap at once, to perhaps materialise container by container and immediately write that out into the GRIB file? That would avoid the sudden blow-up, allow you to reuse the allocated `byte[]` (since all containers are the same size), and there should already be functions in RoaringBitmap to tur

[2022-03-29 09:55] jsorel commented on #556
You are likely right, but I don't have the time, I'm new with RoaringBitmap. I'm a user here with a few allocated hours to fix an out of memory exception in a project. But I do work/contribute on other Open-Source projects (Apache-SIS,GeoAPI,GeotoolKit,Examind,Unlicense-lib...).

But now that RoaringBitMap has set a foot in Examind and that we use a lot of bitmap (because we(Geomatys) make cartogr

[2022-03-29 09:59] richardstartin commented on #556
Let's leave this open since it's generally useful, and it could probably be implemented in less than an hour for someone familiar with the code.

[2022-03-29 13:28] lemire commented on #556
You'd probably want to go in both directions (serialize to uncompressed bitset and back).

[2022-05-11 08:35] ayush-san opened #558 "Roaring64Bitmap.removeLong results in a NegativeArraySizeException"
**Describe the bug**
I am trying to build a funnel for a tracking system where an event can transition to multiple states. After an event has moved to a new state(B from A), I will want to remove it from calc of state A

While calling `roaringBitmap.removeLong(trackId);`, I am getting the following exception

[code]
Plot of count emitted by the bitmap, as you can see I am not getting the above exc

[2022-05-11 13:07] lemire commented on #558
@weijietong : could you have a look ?

[2022-05-11 16:20] #549 closed

[2022-05-11 22:31] weijietong commented on #558
@ayush-san please try to use the latest version to verify your case.We have fixed a empty() bug after your using version.And the given reproduced codes by you is not runnable to reproduce the bug.

[2022-05-12 06:53] ayush-san commented on #558
@weijietong From where can I get the latest version(I can't run this job on my local environment, I need to deploy it on our prod env)? Maven repository still has `0.9.26` as the latest version

[2022-05-12 07:56] weijietong commented on #558
Sorry , I make a mistake about the version number, your 0.9.26 version include all the 64 bit version bug fixes. To your case, I think the reproducing code is not right. The Roaringbitmap collection is not empty doesn't indicat it contains the to be remove key. The interface doesn't guarantee it won't throw exception in case remove a not existing key. I suggest you need to rewrite your coding logi

[2022-05-12 08:04] ayush-san commented on #558
@weijietong Will this be the right check `roaringBitmap.contains(trackId)`? What will be the time complexity of this operation?

[2022-05-12 08:08] richardstartin commented on #558
This sounds like a usability problem - remove methods should be idempotent.

[2022-05-12 10:51] weijietong commented on #516
shiftLeftFromSpecifiedPosition() is to move the bytes after the removed position to a previouse position one by one. For example: the four bytes of the key is : 8,11, 13, 16 , now we remove the position 2 key(13), then move the afterward key value (16)  to key value(13) poistion ,that is the final keys would be : 8, 11, 16,16;

[2022-05-12 10:58] weijietong commented on #558
I do a simple test case to remove some non-exist keys from the roaring64bitmap, not occured an exception. I am not sure it's a bug or not.  The exception stack shows the array size be a negative one which is also strange.Hope you can give a reproducible codes.

BTW, store a random value to bitmap is not ideal. It maybe not save the memory,on the contrary, it may wast the memory.

[2022-05-12 11:05] weijietong commented on #516
If the 4 bytes not stored as an int to save the java array object memory footprint,and stored as byte[4] keys, the logic would be as follow :

`for (; pos < cout; pos++) { keys[pos]=keys[pos + 1]};`

[2022-05-12 11:06] ayush-san commented on #558
@weijietong As I mentioned, this issue is happening randomly. The job will run for some time and then fail with this exception. Stacktrace points to the `removeLong` function call.

[2022-05-12 12:16] weijietong commented on #558
also need to log the removed one.

[2022-05-12 13:44] ayush-san commented on #558
I am using flink with a parallelism of 7 but no two operators will be in a race condition

[2022-05-12 13:46] richardstartin commented on #558
`Roaring64Bitmap` isn't thread-safe so if any of those operators mutate the same bitmap you will generally have issues.

[2022-05-12 13:48] lemire commented on #558
The code sample you provide above does not appear to contain any lock. How do you know that you are not accessing the same bitmap in two separate threads?

[2022-05-12 17:29] #558 closed

[2022-05-12 22:36] weijietong commented on #516
@richardstartin if you still wanna this, would be appreciate you could give a concise description to document this behavior in your native language or pr it.

[2022-05-13 06:21] ayush-san commented on #558
@lemire I am using keyed state in flink which makes sure that no two keys are accessed by the other state
https://nightlies.apache.org/flink/flink-docs-master/docs/dev/datastream/fault-tolerance/state/#using-keyed-state

[2022-05-13 18:02] lemire commented on #558
We will be happy to receive a reproducible bug report.

As @weijietong correctly explained, just capture the state of the bitmap and the value of the key being removed. Then verify that you can isolate and reproduce the issue. We will happily investigate and fix it... but we need a reproducible single-threaded case.

[2022-05-26 07:44] Smallhi commented on #549
@richardstartin As you said, "RangeBitmap has a build then freeze lifecycle". which I think narrow the scope use of bsi ,especially in User Behavior Analysis.

If one app like Tiktok  or Youtube  which has more than 1B users visiting per day.  And if we have user visiting logs like this.

TABLE : user_action_log
user_id  video_id   video_type  watch_duartion   watch_times  date
 user_1       1

[2022-05-26 13:14] lemire commented on #549
In any case, please keep reporting the issues you find. If you can prepare reproducible test cases, it is even better.

[2022-05-26 16:07] Smallhi commented on #549
@lemire I’d like to do. But these days, I’m focusing on implementing BSI/Rangbitmap for CRoring and developing extensions of Postgresql using them…

[2022-05-26 19:00] lemire commented on #549
@Smallhi Sounds great.

[2022-05-27 19:55] novoj opened #562 "Method `advanceIfNeeded` returns a count of skipped items"
**Is your feature request related to a problem? Please describe.**

My use-case is that I have a very large array of objects which contain an ID in their property and I need to reduce the array to a smaller one with elements which id match some requested set. I may do a binary search and use a "comparator" on id property in the original array, but each comparison will require "hop" to a memory loc

[2022-05-27 20:16] lemire commented on #562
It would almost surely require additional non-trivial computations. The function `advanceIfNeeded` can just skip entire blocks of data without even looking at them. Your request means that we need to look at the data we skip (in general) and do a cardinality count. It is not just a matter of overhead, the computational complexity is different.

And given that current users do not need this functio

[2022-05-27 20:25] richardstartin commented on #562
You can do this already with an iterator and call rank for each value yielded by the iterator. Unfortunately the loop would have quadratic complexity. A new kind of skippable iterator which produces the value and the rank together, could be generally useful.

[2022-05-27 20:42] novoj commented on #562
Thank you both for replying. I'm not familiar with the internals of the containers, so I'm not able to prepare a pull request. I thought the information of container cardinality and hi-low bounds are readily available in the containers so that you can switch among the types (array/bitmap/run). And therefore, when you advance over entire container, you know what has been skipped. But this idea sure

[2022-05-27 21:10] lemire commented on #562
Yes. That part is easy. But you don't typically skip over an entire containers. So think about a bitset... it is just an array of bits... `010001101110000001110000111000001`. In general, the function you request requires you to count the bits in a range of indexes. We can do that fast, but it definitively is not free.

[2022-05-27 21:21] novoj commented on #562
When I think about it - the reason I thought `advanceIfNeeded` skips entire containes was connected with behaviour of `org.roaringbitmap.BatchIterator#nextBatch` that fills only part of the provided buffer that (probably) reflect exactly contents of the single internal container. I'm not sure, but I tested it and even when I provide buffer of size 512B, only fragment of it is sometimes filled in.

[2022-05-27 21:24] lemire commented on #562
@novoj  That would be a bug. If you provide a buffer, it should fill it up as much as possible. If you can identify such a case, please report it (as a distinct issue).

[2022-05-27 21:27] richardstartin commented on #562
IIRC that iterator yields at container boundaries, but returns how many elements were filled.

[2022-05-27 21:34] novoj commented on #562
I observed the behaviour confirmed by @richardstartin - when iterating RoaringBitmap with 5000 elements using int buffer of size 500 elements I usually need more than 10 iterations to go through. But I can do it in a safe way thanks to the information about the peak record filled in the buffer. I didn't consider this a bug but a feature :).

[2022-05-27 22:17] lemire commented on #562
Ah. Interesting.

[2022-05-31 03:35] chenyongyin opened #563 "Serialized class org.roaringbitmap.RoaringBitmapSupplier must implement java.io.Serializable"
dubbo version 2.7.7. Last error is: Failed to invoke remote method: xxxx, provider,cause: org.apache.dubbo.remoting.RemotingException: Failed to send response: Response [id=4, version=2.0.2, status=20, event=false, error=null, result=AppResponse [value={0,682,684,685,719,720,721,722,725,726,728,729,752,759,771,772,776,782,793,796,1730,1811,1833,1952,1965,1968,1970,1971,1972,1975,1976,1977,1978,197

[2022-05-31 14:04] lemire commented on #563
It does not make sense to me to serialize a class with no state.

If you really think it is an issue, please provide your motivation. You need to explain why you would attempt to serialize RoaringBitmapSupplier.

[2022-05-31 14:04] #563 closed

[2022-06-01 02:04] chenyongyin commented on #563
Because using the Dubbo RPC framework, if you return Roaring64NavigableMap, it will throw an exception: Serialized class org. Roaringbitmap. RoaringBitmapSupplier must implement Java IO. Serializable, Therefore, RoaringBitmapSupplier needs to implement Java.io.Serializable

[2022-06-01 08:20] blacelle commented on #563
This suggests Dubbo RPC framework does not follow `Externalizable` directives, as Roaring64NavigableMap.writeExternal does not serialize RoaringBitmapSupplier field.

[2022-06-01 09:23] richardstartin commented on #563
Mark it as transient to avoid confusion

[2022-06-01 17:47] richardstartin commented on #563
Marking non-serialized fields as transient creates better defaults for serialization frameworks and doesn’t have any performance impact. I don’t see a reason not to do it, even if it shouldn’t be necessary because the class implements Externalizable.

[2022-06-23 12:48] igorcalabria opened #564 "RoaringBitmap.previousValue returning wrong value"
**Describe the bug**

`RoaringBitmap#previousValue` is returning wrong value or throws assertion error when running with `-ea` in some situations.

**To Reproduce**

[code]

Not all values lower than the minimum value of the bitmap has this behaviour. For example, `RoaringBitmap.bitmapOf(27399807).previousValue(1000)` returns -1 which is correct.

**RoaringBitmap version:**

0.9.28

**Java version

[2022-06-23 13:45] richardstartin commented on #564
@igorcalabria Thanks for the bug report, especially the steps to reproduce the issue - it is fixed by #565

[2022-06-23 14:19] lemire commented on #564
Released.

[2022-06-23 14:19] igorcalabria commented on #564
@richardstartin cheers! That was quick

[2022-06-23 14:37] #564 closed

[2022-06-23 14:37] lemire commented on #564
Damn it. Re-releasing.

[2022-06-28 13:15] maneeshbhunwal123 opened #566 "Roaring bitmap using more storage than normal bitset"
**Describe the bug**
Roaring bitmap using more storage than normal bitset

**To Reproduce**
[code]
**RoaringBitmap version:**

0.9.0

**Java version:**
8

** description **

I have a bitset which i am using to track whether an item is present or not example

b = 01100110000

it represents that 2nd and 3rd items are present and 1st and 4th item are not present.

While searching for library which ca

[2022-06-28 14:53] lemire commented on #566
We refer the author of the issue to the RoaringBitmap documentation starting with the [roaring specification](https://github.com/RoaringBitmap/RoaringFormatSpec). Please refer to our papers for various experimental assessments.

- Daniel Lemire, Owen Kaser, Nathan Kurz, Luca Deri, Chris O'Hara, François Saint-Jacques, Gregory Ssi-Yan-Kai, Roaring Bitmaps: Implementation of an Optimized Software Li

[2022-06-28 14:53] #566 closed

[2022-06-28 14:58] lemire commented on #566
Our README has a relevant section:

<img width="857" alt="Screen Shot 2022-06-28 at 10 56 31 AM" src="https://user-images.githubusercontent.com/391987/176211697-b1ce26be-d181-43f7-bbb4-cccd834d08c6.png">

We do not seek to make conventional bitsets obsolete. There are several instances where they are the right tool.

The submitter should assess the roaring format with their actual data. It may be

[2022-08-02 18:53] ashishkf opened #569 "batchiterator hasNext returns true even if the last iterator is empty"
https://github.com/RoaringBitmap/RoaringBitmap/blob/ecab803e00eae6ecb575b7e1c2df983aa30eb041/RoaringBitmap/src/main/java/org/roaringbitmap/RoaringBatchIterator.java#L40

This happens if all bits in the last container are flipped. The nextBatch return '0' but hasNext keeps returning true causing infinite loop if you used the standard recommended batch iteration pattern:
while (hasNext()) {
     n =

[2022-08-02 19:24] richardstartin commented on #569
Containers in a `RoaringBitmap` should never be empty. Can you please provide here a test case which produces a bitmap with an empty container?

[2022-08-02 20:28] lemire commented on #569
I removed the 'bug' label for now. Let us establish that it is a bug first.

Do we have a reproducible test case? Please provide a single-threaded function reproducing the issue.

[2022-08-03 07:27] panda0120 opened #571 "Illegal character in path at index 10: file:///D:\repository\git\RoaringBitmap\bsi\build/repos/localDebug"
**Describe the bug**
when i execuse the command ./gradlew.bat assemble,then the process throw exception:
Illegal character in path at index 10: file:///D:\repository\git\RoaringBitmap\bsi\build/repos/localDebug

**To Reproduce**
use windows11, then use community edition of the idea to open the code.

**RoaringBitmap version:**
master

**Java version:**

jdk1.8

[2022-08-03 09:11] panda0120 commented on #571
the temporary treatment is to modify this file:./build.gradle.kts.
at line 142:
`
//            repositories {
//                maven {
//                    name = "localDebug"
//                    url = URI.create("file:///${project.buildDir}/repos/localDebug")
//                }
//            }
`

[2022-08-03 16:42] lemire commented on #571
@marshallpierce  Can you help us? It does seem that due to different separators, `URI.create("file:///${project.buildDir}/repos/localDebug")` might fail under Windows.

I do not understand this code. What is this localDebug and why is it there?

My instinct would be to do what @panda0120 suggests and just remove it entirely. But I'd prefer to understand it first.

[2022-08-04 05:43] ashishkf commented on #569
Here we go:
this test fails on the last assert.
@Test
  public void reproduceHasNextOnBatchIteratorBug() {
    ImmutableRoaringBitmap bm = ImmutableRoaringBitmap.bitmapOf(8511);

    BatchIterator bi = bm.getBatchIterator();

    int[] batch = new int[10];
    int target = 8511;

    Assert.assertTrue(bi.hasNext());

    int n = bi.nextBatch(batch);
    Assert.assertEquals(n, 1);
    Assert.assert

[2022-08-04 05:47] ashishkf commented on #569
Seems like the issue is that hasNext is only checking if iterator is not null. It should also check if iterator.hasNext is true. The problem is if iterator.hasNext is false, it will have to then check if next container is non empty.

[2022-08-04 05:53] ashishkf commented on #569
I found another issue. The advanceIfNeeded is supposed to keep advancing as long as the next value is less than the target. It actually does not. After calling advanceIfNeeded with target is greater than the bitmap.last(), hasNext returns true but nextBatch returns empty. So can't rely on advanceIfNeeded. The sample code documented in the advanceIfNeeded will go into infinite loop.
@Test
  public

[2022-08-04 08:25] richardstartin commented on #569
This does not demonstrate an infinite loop. It does demonstrate slightly quirky behaviour: it's possible for the iterator to claim it has more data and then return an offset of zero, after which the iterator will return false for all calls of `hasNext()`. Modifying your test slightly demonstrates this:

[code]

[2022-08-04 08:29] richardstartin commented on #569
This test also does not demonstrate an infinite loop, modifying your test again slightly shows this is the same quirky termination (claim there is more data in `hasNext`, produce no data in `nextBatch`, terminate on the next call to `hasNext`).

[2022-08-04 08:33] richardstartin commented on #569
This iterator has an unusual termination sequence which could be fixed by simplifying the code, but it does not trigger an infinite loop. Loops like

[code]

Never loop infinitely.

[2022-08-04 08:53] ashishkf commented on #569
Yes, the above two issues can be handled by updating the documentation of advanceIfNeeded to use the modified terminating condition.
Found one more issue:
After advanceIfNeeded, the nextBatch skips over the some docs completely. I think the issue is that the advanceIfNeeded checks only if current (key  >> 16) is >= (target >> 16) and then does a binary search for the (char) target in the array con

[2022-08-04 09:03] ashishkf commented on #569
BatchIntIterator::hasNext has this code:
[code]
If the delegate.hasNext() returns true but delegate.nextBatch returns 0, then hasNext will return false. Thus, terminate the application's while(hasNext()) early.

[2022-08-04 09:42] richardstartin commented on #569
This is a bug, I'll put a fix in shortly. Thanks for reporting this.

[2022-08-04 10:13] richardstartin commented on #569
The comments here are addressed in #573 which:

1. simplifies iteration so there isn't an empty last batch
2. fixes the advanceIfNeeded bug reported here

The last comment about `BatchIntIterator` doesn't relate to a possible scenario as the iterator can't return 0 until there's no data left anyway.

[2022-08-04 16:03] richardstartin commented on #569
This will be resolved in the next release

[2022-08-04 16:03] #569 closed

[2022-08-04 16:08] ashishkf commented on #569
When is the next release? I would like to pick up this fix ASAP.

[2022-08-04 16:17] lemire commented on #569
The release should become visible to you very soon.

[2022-08-05 12:32] navis opened #574 "Bug in RoaringBatchIterator.clone()"
**Describe the bug**

RoaringBatchIterator.clone() shares arrayBatchIterator, bitmapBatchIterator, runBatchIterator, which induces premature cleanup of container in original iterator

**To Reproduce**
[code]

**RoaringBitmap version:**

0.9.0

**Java version:**

JDK11, temurin

**Fix(or what I did)**
[code]

[2022-08-05 15:31] lemire commented on #574
Indeed, it does seem like you have the fix already plus the test case. A PR should be easy at that point.

[2022-08-06 07:10] navis commented on #574
@lemire @richardstartin I've almost forgot how to do PR. Done in #575.

[2022-08-06 07:40] #574 closed

[2022-08-11 11:46] marshallpierce commented on #571
localDebug is a local-on-disk maven repo to allow you to easily inspect the artifacts you would be publishing to maven central, as in:

[code]

This is much easier to do than uploading to Sonatype's creaky system when interactively tinkering with build artifacts.

Anyway, I'll take a stab at assembling the URI in a different way that should be Windows-compatible.

[2022-08-11 11:51] marshallpierce commented on #571
@panda0120 can you give #576 a try?

[2022-08-11 12:18] #571 closed

[2022-08-24 06:35] EayonChen opened #577 "Method `forEachInRange` returns wrong numerical values(64Bit)"
**Describe the bug**
hello，
i encountered some problems in the process of using `Roaring64Bitmap.forAllInRange` or `Roaring64Bitmap.forEachInRange`.

When i use `forAllInRange` to iterate over the bitmap,i get some wrong numerical values.
Sometimes numerical values can be generated out of nowhere, sometimes lost.

**To Reproduce**
I found three different types of errors and provided three examples

[2022-08-24 12:52] lemire commented on #577
@larsk-db Would you please review this bug report ?

[2022-08-24 13:19] larsk-db commented on #577
I'll try to take a look this weekend. I can't do it during work hours anymore, since we actually switched away from `Roaring64Bitmap` at work as overall the implementation is too brittle and still has lots of bugs.

[2022-08-27 08:51] larsk-db commented on #577
Issues are confirmed; test cases are in #578. Thank you for the bug report @EayonChen.
Will look into what causes these issues now.

[2022-08-30 22:27] #577 closed

[2022-09-01 02:34] EayonChen commented on #577
thanks all

[2022-09-06 03:52] frank0417 opened #580 "Roaring64Bitmap Iterator error:Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 6"
**Describe the bug**
19-digit 40,000 initializations, traversing the array out of bounds

Data such as ：
     3242766498713841665
     3492544636360507394
     3418218112527884289
     3220956490660966402
     3495344165583036418
     3495023214002368514
     3485108231289675778

       List<String> str= parseAccountIdsFromXlsx("xxxx.xlsx");
        Roaring64Bitmap rb=new Roaring64Bitmap();

[2022-09-06 13:59] lemire commented on #580
I fail to verify the issue:

https://github.com/RoaringBitmap/RoaringBitmap/pull/581

Please open a new issue with a reproducible test case. Consider issuing a pull request with your test case.

Here is the new test that I added :

[code]

[2022-09-06 13:59] #580 closed

[2022-09-06 14:07] lemire commented on #580
Importantly, you reported a bug against an old version of the library. Please upgrade the dependency to the latest version of the library first.

[2022-09-08 00:45] nareshv opened #583 "first() and last() methods like RoaringBitmap in Roaring64Bitmap"
**Is your feature request related to a problem? Please describe.**
RoaringBitmap provides first() and last() methods to determine the start and end values present in the bitmap. These methods are not present in the latest release. There are couple of alternatives which available are `Roaring64Bitmap.toArray()` and then get the first/last values in the array. There is also a `Roaring64Bitmap.query(

[2022-09-08 02:11] lemire commented on #583
You can use `getReverseLongIterator()` and `getLongIterator()` to get the `last()` and `first()` value respectively.

[2022-09-08 03:09] nareshv opened #584 "efficient way to do nextOff(long fromPosition) with Roaring64Bitmap"
**Is your feature request related to a problem? Please describe.**
Whats the recommended way to find `nextOff(long fromPosition)` to see whats the bit which is turned off from a given position ? This is useful to compress contiguous values

**Describe the solution you'd like**
When determining the contiguous ranges from the first value in the RoaringBitmap it is sometimes needed to find the next b

[2022-09-08 06:52] nareshv commented on #583
Thanks. I was also reading the code,
[code]

[2022-09-08 07:16] richardstartin commented on #583
Select is linear in the number of bits, the reverse iterator is constant time. Specialised first and last methods would be more efficient though, if someone wants to add them.

[2022-09-08 13:34] lemire commented on #583
@richardstartin is correct. The iterators are better, but we could do even better with specialized functions.

[2022-09-20 09:02] patelprateek opened #585 "negation of roaring bitmap"
I have use cases where we may have to add millions of items to roaring bitmaps , one idea we were thinking is in few scenarios if we actually take negation of set and represent that using roaring bitmap , the data may be more compressed , especially when the sets are too dense . I am curious if the library provides any api generate a negated roaring bitmap , does it make sense to have this impleme

[2022-09-20 09:20] larsk-db commented on #585
Yes, in a sense this is possible: We've essentially been doing that on-the-fly in our code by using range materialisation (using `forAllInRange`). You can basically just interpret the callbacks in `RelativeRangeConsumer` inverted.
This gives you a particular range inverted materialised. The thing of course is that sets are (logically) infinite, so you always have to invert on a fixed range.

[2022-09-20 12:45] lemire commented on #585
It is called flip:

https://github.com/RoaringBitmap/RoaringBitmap/blob/a307727d3a87fe89aa3d1a7328821b057717d4bf/RoaringBitmap/src/main/java/org/roaringbitmap/RoaringBitmap.java#L1815

[2022-09-20 12:45] #585 closed

[2022-09-23 08:56] Jackie-Jiang opened #586 "RangeBitmap can give wrong result when computing between on 2 values with different highest bit"
**Describe the bug**
When setting the RangeBitmap to full range (`0xFFFFFFFFFFFFFFFFL`, used for computing double range), computing a between for 2 values with different highest bit won't return the expected matching value.

**To Reproduce**
[code]

It returns empty bitmap in both operations.

**RoaringBitmap version:**
0.9.28

**Java version:**
11

[2022-09-23 09:10] richardstartin commented on #586
This should be easy to fix. As a quick workaround you can replace between with the following:

[code]

[2022-09-23 09:14] Jackie-Jiang commented on #586
@richardstartin Thanks for the quick response! I'll try the workaround

[2022-10-16 11:10] richardstartin commented on #586
Hi @Jackie-Jiang, the bug is fixed by #587, I'll submit a fix to PR once it's released.

[2022-10-16 12:00] #586 closed

[2022-10-31 17:12] igorcalabria opened #588 "RoaringBitmap#intersects breaks for lower minumum values"
**Describe the bug**
When the difference between the lowest value in the bitmap and the minimum passed to intersects function is higher than a threshold, it retruns wrong values.

**To Reproduce**

[code]

I think one of the problems is around `container.intersects(offset, 1 << 16)`. If I understood things correctly, this test is not necessarily correct when the minimum key is on a different conta

[2022-10-31 18:06] lemire commented on #588
You are correct. This looks like a straight-forward bug.

[2022-10-31 18:35] igorcalabria commented on #588
Just saw your PR, I think the same bug is also present for `ImmutableRoaringBitmap`  too
https://github.com/RoaringBitmap/RoaringBitmap/blob/master/RoaringBitmap/src/main/java/org/roaringbitmap/buffer/ImmutableRoaringBitmap.java#L1239

[2022-10-31 21:22] #588 closed

[2022-10-31 22:04] lemire commented on #588
@igorcalabria Correct. I am issuing a second release with the same fix extended.

[2022-11-01 12:40] JervenBolleman opened #590 "Memory mappable ImmutableRoaring64NavigableBitmap"
**Is your feature request related to a problem? Please describe.**
I would like to use Roaring64NavigableBitmap as an read-only data-structure that may be backed by memory mapped implementations.

**Describe the solution you'd like**
Add a new implementation in a package *.longlong.buffer immutable as an analogue for the mutable/immutable split of the 32bit options

I am going to try coding this u

[2022-11-01 12:47] blacelle commented on #590
I'm quite convinced nobody is working on this yet.

This has been discussed most recently in https://github.com/RoaringBitmap/RoaringBitmap/issues/366
. There is a PR open in https://github.com/RoaringBitmap/RoaringBitmap/pull/572. I'm not sure of what would be an acceptable strategy (in the vein of https://github.com/RoaringBitmap/RoaringBitmap/issues/351).

[2022-11-01 12:51] JervenBolleman commented on #590
Ok. I am going to try taking the current on java disk format as guide. and see how that goes :)

[2022-11-01 12:51] blacelle commented on #590
Regarding

Can this be achieved with `org.roaringbitmap.longlong.Roaring64NavigableMap#Roaring64NavigableMap(org.roaringbitmap.BitmapDataProviderSupplier)` ?

[2022-11-01 12:56] blacelle commented on #346
Going through 64-bits implementations tickets, I feel this is resolved and should be closed.

[2022-11-01 12:57] blacelle commented on #415
Relates with https://github.com/RoaringBitmap/RoaringBitmap/issues/415

[2022-11-01 13:00] JervenBolleman commented on #590
I have been looking into this but I did not see an obvious way to do it. Because we would need to do a lot of hacking in the deserialize method to get round the issues of the fact that `getHighToBitmap` has default visibility.

[2022-11-01 16:41] blacelle commented on #590
I do not get your point. I suppose a PR would make things clearer.

It looks reasonnable to introduce ImmutableRoaring64NavigableBitmap as parent class of Roaring64NavigableBitmap, to follow the same design.

[2022-11-01 17:10] blacelle commented on #346
Before closing, I re-run @richardstartin benchmarks, with an additional .runOptimize, and adding Roaring64Bitmap to the comparison:

[code]

1. .runOptimize is (very) slightly increasing the memory consumption (16b). This is VERY small, but it looked curious to me.
2. on this specific benchmark, we see Roaring64NavigableMap has a lower memory consumption than Roaring64Bitmap. It makes me feel that

[2022-11-01 17:21] blacelle commented on #366
There is a contribution in https://github.com/RoaringBitmap/RoaringBitmap/pull/572/files in this perspective. However, it does not remove https://github.com/RoaringBitmap/RoaringBitmap/pull/572/files#diff-5bb999cb0772cc6137e43d9fcd3218478da513af25783a038bd268950f0dea29R1178 which supposedly is not written by CRoaring.

We may depend on a (static ? environment_variable) flag to switch to a differen

[2022-11-01 18:24] lemire commented on #366
We definitively need that or the equivalent.

[2022-11-01 20:32] JervenBolleman commented on #590
I get your point after reading more Roaring code :) So using a MutableByteBuffer supplier would allow us to use off-heap buffers. But what I personally need is bytebuffers that are mapped from existing files. I think the only method that we can use to get from a saved on disk status to something accessible from java is the deserialize method that currently exists in Roaring64NavigableMap.
I now ha

[2022-11-08 12:58] Hecbi opened #592 "Result of Roaring64Bitmap::or is not right"
**Describe the bug**
[code]

result is :
[code]

base64.txt file is
[base64.txt](https://github.com/RoaringBitmap/RoaringBitmap/files/9961308/base64.txt)

[2022-11-08 15:59] lemire commented on #592
Thanks for the report.

Your example is needlessly complicated. The problem is that you are doing `b1.or(b1)`. It is assumed implicitly that you will not do in-place operations with the bitmap itself. This needs to be guarded.

[2022-11-08 16:01] lemire commented on #592
I should stress that the example is almost surely a programming error on the part of the reporter. Still: we should guard such cases.

[2022-11-08 16:11] #592 closed

[2022-11-10 03:02] kimmking commented on #563
Another way is using FastJson with custom-serializer(http://kimmking.cn/2017/06/06/json-best-practice/#9-7__u81EA_u5B9A_u4E49_u5E8F_u5217_u5316_u4E0E_u53CD_u5E8F_u5217_u5316).

[2022-11-12 15:09] blacelle commented on #590
Working on another matter, I feel relevant to add a way to add(high, RoaringBitmap) into ImmutableRoaring64NavigableBitmap. This would relate the a feature to RoaringBitmap get(high)

[2022-11-13 16:34] blacelle commented on #349
This is already available in Roaring64Bitmap

[2022-11-13 20:15] blacelle commented on #415
In fact, this looks fixed by https://github.com/RoaringBitmap/RoaringBitmap/pull/467

[2022-11-14 05:17] blacelle commented on #532
moved at https://melix.github.io/mrjar-gradle-plugin/0.1/index.html

[2022-11-14 13:24] jainabhi1 opened #600 "Question: Thread safe writer"
Does Roaring bitmap offers thread safe writes ? We are trying to write it into bitmap from multiple threads

[2022-11-14 13:58] lemire commented on #600
@jainabhi1 No. We do not have have locks, it is up to the user to handle thread safety.

[2022-11-16 05:15] blacelle commented on #351
Can this be closed given https://github.com/RoaringBitmap/RoaringFormatSpec#extention-for-64-bit-implementations ?

[2022-11-16 07:33] Josehokec opened #601 "RangeBitmap inserts new values that occur unexpected results when building a RangeBitamp.Appender."
**Describe the bug**
After using the appender build RangeBitmap, insert new values, then build a RangeBitmap again, there will occur unexpected results.

**To Reproduce**
**My test  file: **
[code]
**These are the output results:**

--------Range Bitmap Experiments1--------
lte5 old roaring bitmap values: 0 1
***lte5 new roaring bitmap values: 0 1***
gte3 new roaring bitmap values: 2 3 4
***gte4 n

[2022-11-16 08:08] richardstartin commented on #601
It’s hard to say whether this is a user error or a bad API, therefore whether it’s just “not a bug” or a “feature request” but this isn’t the way the appended was expected to be used. The appended should be cleared by calling clear, and then you should put all the values back in.

However, I think your usage makes sense and could be supported without breaking existing use cases, so I will take a l

[2022-11-16 08:43] Josehokec commented on #601
Sincere thanks for your reply, and I'm sorry for marking this question as a bug.

In many cases, there is a need to add new elements again after building RangeBitmap. The default method of building the range bitmap (clearing the appender then putting all the values back in) will have a high construction cost if the appender has previously maintained a lot of data and I just need to add a small num

[2022-11-16 09:13] richardstartin commented on #601
Yes, I understand the motivation. It just wasn't relevant to its original use case. I should get around to it within a week or so.

[2022-11-16 14:21] lemire commented on #351
Closing.

[2022-11-16 14:21] #351 closed

[2022-11-19 15:06] richardstartin commented on #601
@Josehokec can you describe a concrete use case for this functionality, something more involved than a test program? Why would you want a `RangeBitmap` for the first N rows as a proper subset of another `RangeBitmap` for those N rows and then next M rows? Understanding the use case will help motivate supporting this behaviour.

[2022-11-22 07:41] blacelle commented on #366
This is done with https://github.com/RoaringBitmap/RoaringBitmap/pull/598

[2022-11-22 10:09] larsk-db commented on #366
Should close it then, I guess.

[2022-11-22 10:09] #366 closed

[2022-11-25 09:52] matebase opened #603 "Deserialize Exception "I failed to find a valid cookie""
**Describe the bug**
I plan to serialize RoaringBitmap to  Redis, but I can not deserialize the result. But I got I failed to find a valid cookie. What might be causing the problem(The problems come occasionally)

[code]

**RoaringBitmap version:**
0.9.35

**Java version:**
JDK 1.8

[2022-11-25 11:10] blacelle commented on #603
While considering serializing Roaring64NavigableMap, I must stress-out you may want to switch to portable format:

`Roaring64NavigableMap.SERIALIZATION_MODE = Roaring64NavigableMap.SERIALIZATION_MODE_PORTABLE`

[2022-11-25 11:12] blacelle commented on #603
Could you provide some reproducing unit-test ? At the very least, a corrupted binary might help pin-pointing the issue.

[2022-11-25 15:12] lemire commented on #603
We need a reproducible case before we can work on it and consider it as a bug.

[2022-11-26 05:26] Josehokec commented on #601
I'm sorry I didn't see this email until now.

Currently, I use RangeBitmap to filter some tuples according to multiple attribute range constraints to speed up the execution of SQL statements (RangeBitmap has excellent query performance). Using RangeBitmap in processing complex query statements can improve performance greatly.

For my database table, there is a need to insert new tuples (although t

[2022-11-26 14:15] richardstartin commented on #601
Essentially you want a way to append to an existing index when you add some rows. So long as it’s only appending, this can be made to work, but it might be better not to make the appended reusable and instead wrap the existing index, e.g.

var appender = Appender.wrap(existingIndex);
values.forEach(appender::add);
var newIndex = appender.build();

Keeping the appender around will hang on to a lot

[2022-11-28 02:00] matebase commented on #603
I think I made a mistake，There is something wrong with the raw data.I need to double check

[2022-11-28 02:00] #603 closed